<ion-view view-title="我的账户">

	<ion-nav-buttons side="right">
    <a href="#/courseSearch" menu-toggle="right" class="button button-clear freexf-icon-search"><i class="icon ion-ios-search"></i></a>
	</ion-nav-buttons>
	<ion-content class="already has-header has-footer">
		<div class="MyAcc-top">
			<a href="#/set"><div class="MyAcc-setting"></div></a>
			<div class="MyAcc-icon"  ng-model="ImgBoxShow" ng-click="ChangeUserImg()"></div>
			<div class="UpdateName">
				<input class="name" value="freexf" id="UpadateUserName" ng-readonly="readonly" ng-blur="blur()"/> 
				<span class="edit" ng-click="ChangeName()" ng-model="readonly"></span>
			</div>
			<!--更换图片框-->
			<div class="changeImg" ng-show="ImgBoxShow">
				<div class="modal-backdrop-bg new"></div>
				<div class="userImgBox">
					<div class="row userImg">
						<div class="col col-33 on">
							<img src="img/user/women.png" width="100%">
							<label class="radio">
								<!--onkeydown="if(event.keyCode==13) return false;"-->
					        	<input  value="女" name="sex" id="sex2" checked="checked" type="radio">
					        	<i></i>
					        </label>
						</div>
						<div class="col col-33">
							<img src="img/user/man.png" width="100%">
							<label class="radio">
					        	<input  value="女" name="sex" id="sex2" checked="checked" type="radio">
					        	<i></i> 
					        </label>
						</div>
						<div class="col col-33">
							<img src="img/user/null.png" width="100%">
							<label class="radio">
					        	<input  value="女" name="sex" id="sex2" checked="checked" type="radio">
					        	<i></i> 
					        </label>
						</div>
					</div>
				</div>
			</div>
			
			<div class="share" ng-click="modal.show()" ng->
				<div class="row1 first">
					<span>邀</span>
					<span>好</span>
				</div>
				<div class="row1">
					<span>请</span>
					<span>友</span>
				</div>
				<em></em>
			</div>
			<script id="showLink" type="text/ng-template">
			  <div class="modal-backdrop-bg new"></div>
			  <ion-modal-view class="newModal">
			    <ion-content>
			      <input type="text" value="www.baidu.com"/>
			      <p>复制框内链接，粘贴给好友，或截取下列二维码</p>
			      <div id="code" align="center">
					 <canvas width="20%" height="20%">
				  	 </canvas>
				  </div>
			    </ion-content>
			  </ion-modal-view>
			</script>
			<!--<p class="number">学号<i>160515001</i></p>-->
			<div class="MyAcc-title">
				<span>已获得<font>100</font></span>
				<span>待获得<font>20</font></span>
			</div>
		</div>
		<div class="MyAcc-content">
			<div class="mynav-group">
				<a href="#/mycourse">
					<div class="nav">
						<div class="nav-bar myCourse"></div>
						<p>我的课程</p>
					</div>
				</a>
				<a href="#/myorder">
					<div class="nav">
						<div class="nav-bar myOrder"></div>
						<p>我的订单</p>
					</div>
				</a>
				<a href="#/mycollection">
					<div class="nav">
						<div class="nav-bar myCollection"></div>
						<p>我的收藏</p>
					</div>
				</a>
			</div>
		</div>
		<!--学习进度-->
		<div class="course-block study">
			<h2>学习进度</h2>
			<ion-scroll direction='x' scrollbar-x='false'>
				<div class="row course">
					<div class="col col-48">
						<img src="img/user/order-eg.png" width="100%">
						<div class="content">
							<p>上次观看至
								<font>第六章 突破的关键</font>
							</p>
							<div class="progress">
								<div class="progress-bar">
									<div class="full">
										<span class="finish done"></span>
									</div>
									<span>完成度<i>50%</i></span>
								</div>

							</div>
						</div>
					</div>
					<div class="col col-48">
						<img src="img/user/order-eg.png" width="100%">
						<div class="content">
							<p>上次观看至
								<font>第六章 突破的关键</font>
							</p>
							<div class="progress">
								<div class="progress-bar">
									<div class="full">
										<span class="finish done"></span>
									</div>
									<span>完成度<i>50%</i></span>
								</div>

							</div>
						</div>
					</div>
					<div class="col col-48">
						<img src="img/user/order-eg.png" width="100%">
						<div class="content">
							<p>上次观看至
								<font>第六章 突破的关键</font>
							</p>
							<div class="progress">
								<div class="progress-bar">
									<div class="full">
										<span class="finish done"></span>
									</div>
									<span>完成度<i>50%</i></span>
								</div>

							</div>
						</div>
					</div>
					<div class="col col-48">
						<img src="img/user/order-eg.png" width="100%">
						<div class="content">
							<p>上次观看至
								<font>第六章 突破的关键</font>
							</p>
							<div class="progress">
								<div class="progress-bar">
									<div class="full">
										<span class="finish done"></span>
									</div>
									<span>完成度<i>50%</i></span>
								</div>

							</div>
						</div>
					</div>

				</div>
			</ion-scroll>
		</div>
		<!--课程推荐-->
		<div class="course-block recommend">
			<h2>课程推荐</h2>
			<ion-scroll direction='x' scrollbar-x='false'>
				<div class="row course">
					<div class="col col-48">
						<img src="img/user/order-eg.png" width="100%">
						<div class="content">
							<p>第六章 突破的关键</p>
						</div>
					</div>
					<div class="col col-48">
						<img src="img/user/order-eg.png" width="100%">
						<div class="content">
							<p>第六章 突破的关键</p>
						</div>
					</div>
					<div class="col col-48">
						<img src="img/user/order-eg.png" width="100%">
						<div class="content">
							<p>第六章 突破的关键</p>
						</div>
					</div>
					<div class="col col-48">
						<img src="img/user/order-eg.png" width="100%">
						<div class="content">
							<p>第六章 突破的关键</p>
						</div>
					</div>

				</div>
			</ion-scroll>
		</div>
		
	</ion-content>
</ion-view>
