<ion-view view-title="首页" class="home-view">
  <ion-header-bar class="freexf-bar write">
    <div class="title bar-center">
      首页
    </div>
    <div class="bar-right">
      <a fx-search class="button-clear freexf-icon-search index"></a>
      <a class="button-clear freexf-consult hearder-button-right"></a>
    </div>
  </ion-header-bar>
  <ion-content lazy-scroll class="has-header freexf-bg-gray freexf-content" delegate-handle="myDelegate">

    <ion-slide-box on-slide-changed="slideHasChanged($index)" class="freexf-slide">
      <ion-slide>
        <a href="#/fourFoldCarnival">
          <img src="img/home/banner_NovDiscount_ipad.jpg">
        </a>
      </ion-slide>
      <ion-slide>
        <a href="#/examinationTime">
          <img src="img/home/banner-calendar2.jpg">
        </a>
      </ion-slide>
      <ion-slide>
        <a href="javascript:void(0);">
          <img src="img/home/banner-ipad-video.jpg" ng-click="aboutUs()">
        </a>
      </ion-slide>
      <ion-slide>
        <a href="#/microClass">
          <img src="img/home/banner-weiketang.jpg">
        </a>
      </ion-slide>
    </ion-slide-box>
    <section class="freexf-hometype">
      <div class="row row-center">
        <a href="javascript:void(0);" ng-click="goCourseList('英语')" class="col col-16">
          <i class="yinyu"></i>
          <span>英语</span>
        </a>
        <a href="javascript:void(0);" ng-click="goCourseList('中小学')" class="col col-16">
          <i class="zhongxiaoxue"></i>
          <span>中小学</span>
        </a>
        <a href="javascript:void(0);" ng-click="goCourseList('多语种')" class="col col-16">
          <i class="duoyuzhong"></i>
          <span>多语种</span>
        </a>
        <a href="javascript:void(0);" ng-click="goCourseList('会计职业')" class="col col-16">
          <i class="kuaiji"></i>
          <span>会计职业</span>
        </a>
        <a href="javascript:void(0);" ng-click="goCourseList('考研')" class="col col-16">
          <i class="kaoyan"></i>
          <span>考研</span>
        </a>
        <a href="javascript:void(0);" ng-click="goCourseList('兴趣')" class="col col-16">
          <i class="xinqu"></i>
          <span>兴趣</span>
        </a>
      </div>

    </section>
    <!--精品课程-->
    <section class="freexf-jinpin freexf-home-table">
      <h2 class="freexf-title"><i class="title"></i><span>精品课程</span></h2>
      <div class="clearfix">
        <div class="col-33 freexf-col" style="padding-right: 7px;">
          <!--href="#/coursedetail/{{value.productID}}&"-->
          <a href="#/multilingual" class="rcol">
            <img src="img/publicbg/null_bg320_180.png" image-lazy-src="img/home/multilingual-banner.jpg">
          </a>
          <a ng-repeat="(key,value) in home.l_EliteCrouseList" ng-if="key!=0&&key>0&&key<=1"
             ng-click="openModal('coursedetail',{ProductId: value.productID})"
             class="rcol">
            <img src="img/publicbg/null_bg320_180.png" image-lazy-src="{{value.coverurl}}">
          </a>
        </div>
        <div class="col-33 freexf-col" style="padding-right: 3px;padding-left: 3px;">
          <a href="#/microClass" class="lcol">
            <img image-lazy-src="img/home/jinpin-weiketang.jpg" alt="">
          </a>
        </div>
        <div class="col-33 freexf-col" style="padding-left: 7px;">
          <!--href="#/coursedetail/{{value.productID}}&"-->
          <a ng-repeat="(key,value) in home.l_EliteCrouseList" ng-if="key!=0&&key>1&&key<=3"
             ng-click="openModal('coursedetail',{ProductId: value.productID})"
             class="rcol">
            <img src="img/publicbg/null_bg320_180.png" image-lazy-src="{{value.coverurl}}" alt="">
          </a>
        </div>
      </div>
      <a href="#coupon" class="jinpin-bottom">
        <img image-lazy-src="img/home/big-huodong-b.jpg">
      </a>
    </section>
    <!--英语-->
    <section id="anchor-section-yingyu" class="freexf-home-table list">
      <h2 class="freexf-title">
        <i class="title"></i><span>英语</span>
        <a href="javascript:void(0);" ng-click="goCourseList('英语')" class="icon has-more"></a>
      </h2>
      <div class="clearfix">
        <div class="col-25 freexf-col" ng-include="'homeTable.html'" ng-repeat="l in home.l_englishList"></div>
      </div>
    </section>
    <!--中小学-->
    <section id="anchor-section-zhongxiaoxue" class="freexf-home-table list">
      <h2 class="freexf-title">
        <i class="title"></i>
        <span>中小学</span>
        <a href="javascript:void(0);" ng-click="goCourseList('中小学')" class="icon has-more"></a>
      </h2>
      <div class="clearfix">
        <div class="col-25 freexf-col" ng-include="'homeTable.html'" ng-repeat="l in home.l_k12List"></div>
      </div>
    </section>
    <!--多语种-->
    <section id="anchor-section-duoyuzhong" class="freexf-home-table list">
      <h2 class="freexf-title"><i class="title"></i><span>多语种</span><a href="javascript:void(0);"
                                                                       ng-click="goCourseList('多语种')"
                                                                       class="icon has-more"></a></h2>
      <div class="clearfix">
        <div class="col-25 freexf-col" ng-include="'homeTable.html'" ng-repeat="l in home.l_multilingualList"></div>
      </div>
    </section>
    <!--会计职业-->
    <section id="anchor-section-kuaiji" class="freexf-home-table list">
      <h2 class="freexf-title"><i class="title"></i><span>会计职业</span><a href="javascript:void(0);"
                                                                        ng-click="goCourseList('会计职业')"
                                                                        class="icon has-more"></a></h2>
      <div class="clearfix">
        <div class="col-25 freexf-col" ng-include="'homeTable.html'" ng-repeat="l in home.l_accountingList"></div>
      </div>
    </section>
    <!--考研-->
    <section id="anchor-section-kaoyan" class="freexf-home-table list" ng-if="false">
      <h2 class="freexf-title"><i class="title"></i><span>考研</span><a href="javascript:void(0);"
                                                                      ng-click="goCourseList('考研')"
                                                                      class="icon has-more"></a></h2>
      <div class="clearfix">
        <div class="col-25 freexf-col" ng-include="'homeTable.html'" ng-repeat="l in home.l_postgraduateList"></div>
      </div>
    </section>
    <!--兴趣-->
    <section id="anchor-section-xingqu" class="freexf-home-table list" ng-if="false">
      <h2 class="freexf-title"><i class="title"></i><span>兴趣</span><a href="javascript:void(0);"
                                                                      ng-click="goCourseList('兴趣')"
                                                                      class="icon has-more"></a></h2>
      <div class="clearfix">
        <div class="col-25 freexf-col" ng-include="'homeTable.html'" ng-repeat="l in home.l_interestList"></div>
      </div>
    </section>
  </ion-content>
  <script type="text/ng-template" id="homeTable.html">
    <div>
      <a ng-click="openModal('coursedetail',{ProductId: l.productID})">
        <img src="img/publicbg/null_bg320_180.png" image-lazy-src="{{l.coverurl}}">
      </a>
    </div>
    <p class="ti">{{l.productName}}</p>
    <div class="clearfix freexf-font-15">
    <span class="freexf-left"><strong class="xufen">{{l.price | xufen:6}}</strong><em
      ng-show="l.price | xufenshow">学分</em></span>
      <span class="r10 freexf-right"><em>课时数：</em><strong class="keshi">{{l.hour | xufen:4}}</strong></span>
    </div>
  </script>
</ion-view>


