
*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

em, strong {
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}

@media only screen and (max-width: 320px){html{font-size: 9px;} }
@media only screen and (min-width: 320px) and (max-width: 352px){html{font-size: 10px;} }
@media only screen and (min-width: 352px) and (max-width: 384px){html{font-size: 11px;} }
@media only screen and (min-width: 384px) and (max-width: 416px){html{font-size: 12px;} }
@media only screen and (min-width: 416px) and (max-width: 448px){html{font-size: 13px;} }
@media only screen and (min-width: 448px) and (max-width: 480px){html{font-size: 14px;} }
@media only screen and (min-width: 480px) and (max-width: 512px){html{font-size: 15px;} }
@media only screen and (min-width: 512px) and (max-width: 544px){html{font-size: 16px;} }
@media only screen and (min-width: 544px) and (max-width: 576px){html{font-size: 17px;} }
@media only screen and (min-width: 576px) and (max-width: 608px){html{font-size: 18px;} }
@media only screen and (min-width: 608px) and (max-width: 640px){html{font-size: 19px;} }
@media only screen and (min-width: 640px){html{font-size: 20px;} }

body {
  font-family: '微软雅黑';
}

a:link,a:visited{text-decoration:none;}

.HighSchoolsCourse {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.HighSchoolsCourse img{
    width:100%;
}

.HighSchoolsCourse .head {
  height: 24px;
  background: #fb7c7b;
}

.HighSchoolsCourse .head .logo {
  float: left;
  width: 76px;
  height: 14px;
  margin: 5px 10px;
}

.HighSchoolsCourse .head .phone {
  float: right;
  margin-right: 5px;
}

.HighSchoolsCourse .head .phone-icon {
  width: 12px;
  height: 11px;
  vertical-align: middle;
}

.HighSchoolsCourse .head .phone-num {
  font-size: 1.2rem;
  color: #fff;
  line-height: 24px;
  margin: 0 5px;
  vertical-align: middle;
}

.HighSchoolsCourse .zhongkao, .HighSchoolsCourse .gaokao, .HighSchoolsCourse .termCourse{
    width:95%;
    margin:20px auto;
}

.HighSchoolsCourse .list-head .title{
    width:75%;
    margin:0 auto;
}

.HighSchoolsCourse .list-head .describe{
    width:100%;
    font-size:1.1rem;
    color:#444444;
    letter-spacing:0px;
    margin:10px auto;
    text-align:center;
}

.HighSchoolsCourse .list-head .describe .keynote{
    font-size:1.2rem;
    font-weight:600;
    margin-right:5px;
}

.HighSchoolsCourse .freexf-course-table {
    width: 100%;
    min-height:100px;
    background-color: #ffeded;
    box-shadow: 0 2px 1px #e2e4e6;
    -moz-box-shadow: 0 2px 1px #e2e4e6;
    -webkit-box-shadow: 0 2px 1px #e2e4e6;
    margin:15px auto;
}

.HighSchoolsCourse .list .list-button{
    width:46%;
    height:30px;
    background:#fb7b7a;
    border-radius:15px;
    box-shadow:0 -1px 8px #fa6564 inset;
    -moz-box-shadow:0 -1px 8px #fa6564 inset;
    -webkit-box-shadow:0 -1px 8px #fa6564 inset;
    display:inline-block;
    text-align:center;
    line-height:30px;
    font-size:1rem;
    color:#ffffff;
    margin-left:8px;
    margin-bottom:20px;
    cursor:pointer;
}

.termCourse .course-nav, .termCourse .course-tab{
    width: 100%;
    background-color: #ffeded;
}

.termCourse .course-nav ul{
    width:96%;
    margin:0 auto;
    padding:10px 0 10px 0;
    list-style-type:none;
    overflow:hidden;
    margin-bottom:-15px;
}

.termCourse .course-nav ul li{
    width:33.3%;
    height:40px;
    color:#ffffff;
    background-color:#e96867;
    float:left;
    font-size:1.2rem;
    text-align:center;
    line-height:40px;
    border:1px solid #ffeded;
    cursor:pointer;
}

.termCourse .course-nav ul li.on{
    color:#e96867;
    background-color:#ffffff;
}

.HighSchoolsCourse .freexf-course-table .course-tab{
    width:96%;
    padding:10px 0 10px 0;
    margin:0 auto;
    overflow:hidden;
}

.freexf-course-table .course-tab .freexf-col{
    width:48.5%;
    background:#ffffff;
    box-shadow:0px 2px 2px #efdede;
    margin-bottom:20px;
}

.freexf-course-table .course-tab .freexf-col:nth-child(odd){
    float:left;
}

.freexf-course-table .course-tab .freexf-col:nth-child(even){
    float:right;
}

.freexf-course-table .course-tab .freexf-col div:first-child{
    position:relative;
}

/*.list .freexf-course-table .course-tab .freexf-col:nth-child(5),.list .freexf-course-table .course-tab .freexf-col:nth-child(6){
    display:none;
}*/

.freexf-course-table .course-tab .freexf-col .ti{
    position:absolute;
    width:100%;
    bottom:3px;
    left:0;
    background-color:rgba(0, 0, 0, 0.5);
    color:#ffffff;
    padding:3px;
    font-size:0.9rem;
    line-height:18px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.freexf-course-table .course-tab .freexf-col .clearfix{
    padding: 3px 3px 10px 3px;
}

.freexf-course-table .course-tab .freexf-col .clearfix .xufen, .freexf-course-table .course-tab .freexf-col .clearfix .keshi{
    font-size:1rem;
    color:#fb4e4e;
    font-weight:400;
}

.freexf-course-table .course-tab .freexf-col .clearfix .zhekou{
    text-decoration:line-through;
    font-size:0.9rem;
    color:#535353;
}

.freexf-course-table .course-tab .freexf-col .clearfix>span em{
    font-size:0.6rem;
    color:#333333;
}

.HighSchoolsCourse .teacher {
    width: 90%;
    margin: 0 auto;
}
.HighSchoolsCourse .teacher img.title {
    width: 50%;
}
.HighSchoolsCourse .teacher-box {
    width: 100%;
    margin: 40px auto;
    overflow-x:scroll;
}
.HighSchoolsCourse .teacher-content {
    white-space: nowrap;
    margin-left: 4px;
    margin-right: 4px;
}
.HighSchoolsCourse .sigbox {
    display:inline-block;
    margin: 0 5px 0 5px;
    text-align: center;
}
.HighSchoolsCourse .sigbox .pic {
    margin: 0 auto;
    border: 2px solid #e96867;
    border-radius: 50%;
    overflow: hidden;
}
.HighSchoolsCourse .sigbox span {
    margin: 5px auto;
    color: #393636;
    font-size: 1.2rem;
}

.HighSchoolsCourse .template{
    display:none;
}
