/* Empty. Add your own CSS if you like */
/**{font-family: "微软雅黑";}*/
/*.bg-img.course{background: url(../img/publicbg/course.png) no-repeat;}*/

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape) {

}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {

}

.freexf-course-tabs.tabs {
  position: relative;
}

.freexf-course.tabs-striped.tabs-color-balanced .tab-item.tab-item-active,
.freexf-course.tabs-striped.tabs-color-balanced .tab-item.active,
.freexf-course.tabs-striped.tabs-color-balanced .tab-item.activated {
  margin-top: 1px;
  border-bottom-width: 3px;
  color: #1ab554;
  border-top-width: 0;
}

.freexf-course.tabs-striped.tabs-color-balanced .tab-item {
  color: #323232;
  max-width: 50%;
  font-size: 17rem;
}

/**/
.freexf-courseinfo {
  padding: 23px 0;
  background: #fff;
  position: absolute;
  width: 50%;
  left: 50%;
  top: 0;
}

.freexf-courseinfo > p {
  margin-bottom: 10px;
  text-align: left;
}

.freexf-courseinfo h3 {
  font-size: 17rem;
  margin-bottom: 10px;
  margin-right: 23px;
  text-align: justify;
}

.freexf-courseinfo h1 {
  font-weight: bold;
}

.freexf-courseinfo span {
  display: inline-block;
  color: #878787;
  width: 47%;
  font-size: 13rem;
  top: 2px;
}

.freexf-courseinfo i {
  display: inline-block;
  color: #323232;

  width: 65%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  vertical-align: bottom;
}

.freexf-courseinfo .freexf-credit {
  font-size: 22rem;
  color: #EA4E00;
  padding-right: 5px;
  width: auto;
}

.freexf-creditbox {
  position: relative;
  text-align: left;
  top: 20px;
}

.freexf-creditbox p:last-of-type {
  position: absolute;
  right: 23px;
  top: 0px;
  min-width: 40px;
  height: 130%;
  padding-top: 0px;
  font-size: 14rem;
  color: #878787;
  margin-bottom: 0;
}

.freexf-creditbox p i.icon, .course-cf i.icon {
  display: inline-block;
  width: 30px;
  height: 25px;
  background: url(../img/publicbg/course.png) no-repeat;
  background-position: -119px -2px;
  background-size: 300px auto;
  position: relative;
  top: 1px;
}

.freexf-creditbox p.active i.icon {
  background-position: -119px -32px;
}

.freexf-coursedetail .list {
  border-top: 1px #EEEEEE solid;
}

.freexf-coursedetail .list > .item {
  position: relative;
  padding: 15px 40px;
}

.freexf-coursedetail .list > .item:before {
  content: "";
  width: 20px;
  height: 14px;
  position: absolute;
  left: 0;
  top: 18px;
  background: #1ab554;
  z-index: 999;
}

.freexf-coursedetail .list > .item:after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  left: 16px;
  top: 20px;
  background: #1ab554;
  z-index: 999;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.freexf-coursedetail .list .item,
.freexf-courselist .item {
  border: none;
}

.freexf-coursedetail .list .item img {
  left: 0;
  position: absolute;
}

.freexf-coursedetail .list .item .item-thumbnail-left {

}

.freexf-coursedetail .list .item h2 {
  overflow: hidden;
  white-space: normal;
  color: #878787;
}

.freexf-coursedetail .list .item p {
  overflow: hidden;
  white-space: normal;
  color: #969696;
  text-align: justify;
}

.freexf-coursedetail .list .item h2 {
  margin-bottom: 10px;
  color: #323232;
}

.freexf-coursedetail .list .item h2:before {

}

.freexf-coursedetail .list .item h2 span {
  padding-left: 7px;
  color: #dddddd;
}

.freexf-Backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .6);
  z-index: 8;
}

.freexf-startplay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .4);
  z-index: 8;
}

.freexf-startplay button {
  width: 75px;
  height: 75px;
  margin-top: 13%;
  background: url(../img/publicbg/course.png) no-repeat;
  background-position: -218px -9px;
  background-size: 300px auto;
}

.freexf-startplay .button.activated {
  background-color: rgba(0, 0, 0, 0);
}

img.freexf-blur {
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

.freexf-Backdrop p {
  color: #fff;
  font-size: 14rem;
  margin-top: 13%;
}

.freexf-Backdrop button {
  width: 38%;
  height: 30%;
  font-size: 15.6rem;
  background: #1ab554;
  color: #fff;
  margin-top: 4%;
  min-height: 30px;
}

.freexf-collectcourse {
  font-size: 13rem;
  position: absolute;
  padding: 8px 18px 8px 0px;
  right: 12px;
  bottom: 10px;
  color: #fff;
  z-index: 10;
  background: rgba(0, 0, 0, .3);
  border: none;
  /*height: 35px;
    line-height: 35px;*/
}

.freexf-collectcourse i {
  display: inline-block;
  margin-right: 20%;
}

.freexf-buy {
  background: #1AB554;
  color: #fff;
  width: 100%;
  height: 45px;
  border: none;
  font-size: 17rem;
  left: 0;
  z-index: 999;
}

.freexf-courselist {
  /*padding: 20px 0;*/
  background: #fff;
}

.freexf-courselist .item {
  padding: 0;
}

.freexfcourseitem .item,
.freexfdemoclass .item {
  padding: 10px 0;
}

.freexf-courselist > .item {
  padding: 0 0;
}

.freexf-courselist .freexf-course-title {
  background: #eeeeee;
  height: 35px;
  line-height: 35px;
}

.freexf-courselist .freexf-course-title.item {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 18px;
}

.freexf-courselist .item p {
  width: 74%;
  padding-left: 20px;
  margin-bottom: 12px;
}

.freexf-courselist .freexf-course-title p {
  width: 80%;
  /*margin-left: 20px;*/
  height: 35px;
  line-height: 35px;
  color: #323232;
}

.freexf-play.button {
  background: rgba(0, 0, 0, 0);
  min-width: 30px;
  min-height: 30px;
  right: 22px;
  opacity: 1;
}

.freexfdemoclass .freexf-play.button {
  right: 22px !important;
}

.freexf-play.button.testplay.button {
  right: 17px !important;
}

.freexf-play.button:after {
  background: url(../img/publicbg/course.png) no-repeat;
  background-position: -50px 1px;
  background-size: 300px auto;
}

.freexf-play.button.testplay:after {
  background-position: -86px 0px;
}

.freexfcourseitem .item {
  margin-left: 40px;
  position: relative;
  overflow: visible;
}

.freexfcourseitem .item:first-of-type {
  padding-top: 20px;
  padding-bottom: 20px;
}

.freexfcourseitem .item:first-of-type p {
  margin-bottom: 0;
}

.freexfcourseitem .item:first-of-type .button:after {
  top: 5px !important;
}

.freexfcourseitem .item:first-of-type p:before {
  top: 26px !important;
}

.freexfcourseitem .item:first-of-type:before {
  top: 22px !important;
}

.freexfcourseitem .item:after {
  border-left: 1px #1AB554 solid;
  float: left;
  content: '';
  display: block;
  height: 70px;
  width: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.freexfdemoclass.item:after {

  border-left: none !important;
}

.freexfcourseitem .item p,
.freexfdemoclass .item p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #878787;
}

.freexfcourseitem .item > p,
.freexfdemoclass .item > p {
  font-size: 13rem;
}

.freexfcourseitem .item.intheclass p:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  left: -5px;
  top: 14px;
  border-right: 5px solid transparent;
  border-top: 5px solid #1AB554;
  border-left: 5px solid #1AB554;
  border-bottom: 5px solid transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-transform: rotate(-45deg);
  z-index: 101;
}

.freexfcourseitem .item.endclass p:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  left: -4.6px;
  top: 14px;
  background: #1AB554;
  border-right: 5px solid transparent;
  border-top: 5px solid #1AB554;
  border-left: 5px solid #1AB554;
  border-bottom: 5px solid transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-transform: rotate(-45deg);
  z-index: 101;
}

.freexfdemoclass.item {

  border-left: none !important;
  margin-left: 20px !important;
}

.freexfcourseitem .item:before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px #ddd solid;
  position: absolute;
  left: -8.6px;
  top: 10px;
  z-index: 100;
  background: #fff;
}

.freexfdemoclass.item:before {

  border: none !important;
}

.freexfcourseitem .item.endclass:before {
  border: 1px #1AB554 solid;
}

.freexfcourseitem .item.intheclass:before {
  border: 1px #1AB554 solid;
}

.freexfcourseitem .item:last-of-type:after {
  height: 23px;
}

.freexf-collect:before,.freexf-info-consult:before{
  width: 30px;
  height: 25px;
  display: block;
  content: "";
  float: left;
  top: 50%;
  position: relative;
}
.freexf-collect:before {
  background: url(../img/publicbg/course.png) no-repeat;
  background-position: 0 -64px;
  background-size: 300px auto;
}

.freexf-info-consult:before {
  background: url(../img/publicbg/course.png) no-repeat;
  background-position: 0 -2px;
  background-size: 300px auto;
}

.button-clear.active {
  opacity: 1 !important;
}

.freexf-collect.active:before {
  background-position: -30px -64px;
}

.freexf-courseoutline {
  background: #fff;
  padding: 20px 0;
}

/*购买协议*/

.freexf-agreement.active {
  position: fixed !important;
  background: rgba(0, 0, 0, .25);
  z-index: 9999999;
}

.freexf-agreement.active .popup {
  width: 80%;
  background-color: rgba(255, 255, 255, 1);
}

.freexf-agreement.active .popup .popup-head {
  background: #1AB554;
  line-height: 40px;
  padding: 0;
}

.freexf-agreement.active .popup .popup-head h3 {
  color: #fff;
  line-height: 40px;
}

.freexf-agreement.active .popup .popup-buttons {
  padding: 10px 0 0;
  min-height: 50px;
}

.freexf-agreement.active .popup .popup-buttons .button {
  min-height: 30px;
  margin-right: 0;
}

.freexf-agreement .freexf-agreement {
  padding: 0 2%;
  max-height: 300px;
  overflow-y: scroll;
}

.freexf-agreement p {
  color: #323232;
}

.freexf-agreement .freexf-agreement h5 {
  text-align: center;
}

/*选课中心*/

.freexf-courselist {
  background-color: #eee;

  padding: 0;
}

.coursecenter-list {
  padding: 0 0 25px 0;
  background-color: #fff;
}

.freexf-coursecenter .coursecenter-list .ccl-son {
  padding: 7px 12px;
  margin-top: 10px;
  border-bottom: 4px solid #f3fcf6;
}

.freexf-coursecenter .coursecenter-list .ccl-son div {
  color: #323232;
  font-size: 14rem;
  position: relative;
}

.freexf-coursecenter .coursecenter-list .ccl-son div:after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0px;
  bottom: -5px;
  background-image: url(../img/course/courselist.png);
  background-size: 300px 300px;
  float: left;
}

.English:after {
  background-position: 0px 0px;
}

.zhongxiaoxue:after {
  background-position: -30px 0px;
}

.duoyuzhong:after {
  background-position: -60px 0px;
}

.kuaijizhiye:after {
  background-position: 0px -30px;
}

.kaoyan:after {
  background-position: -30px -30px;
}

/*.xingqu:after {
  background-position: -60px -30px;
}*/

.freexf-coursecenter .ccl-course-son-list > li > a {
  line-height: 37px;
  color: #666666;
  font-size: 12rem;
  margin-top: 7px;
  text-decoration: none;
}

.freexf-coursecenter .ccl-course-son-list > li {
  float: left;
  width: 25%;
  line-height: 37px;
  color: #666666;
  font-size: 13rem;
  margin-top: 7px;
  text-decoration: none;
}

.freexf-coursecenter .ccl-course-son-list {
  padding: 0 12px;
  overflow: hidden;
}

/*六大板块*/

.freexf-classmodule-header-nav .freexf-courseNav.active {
  color: #969696;
}

.freexf-classmodule-header-nav {
  font-size: 14rem;
  color: #969696;
  position: relative;
  top: 44px;
  z-index: 100;
  left: 0;

}

.freexf-classmodule-header-nav .freexf-courseNav {
  float: left;
  text-align: center;
  position: relative;
  min-width: 60px;
  text-align: left;
}

.freexf-classmodule-header-nav .freexf-coursesort {
  float: right;
  text-align: center;
}

.freexf-coursesort > div {

  display: inline-block;
  height: 30px;
  line-height: 30px;
  font-size: 12rem;
  color: #969696;
  width: 35px;
  position: relative;

  margin-left: 46px;
}

.freexf-coursesort > div:first-of-type {
  margin-left: 0;
}

.freexf-classmodule-header-nav > div:nth-child(1) {
  position: relative;

}

.freexf-coursesort > div:nth-child(3).active:after {

  background-position: -65px -60px !important;
}

.freexf-coursesort > div:nth-child(3).activeasc:after {
  background-position: -65px -30px !important;
}

.freexf-coursesort > div:nth-child(1):after,
.freexf-coursesort > div:nth-child(2):after,
.freexf-coursesort > div:nth-child(3):after {
  content: "";
  width: 15px;
  height: 30px;
  display: block;
  background: url(../img/publicbg/course.png) no-repeat;
  background-position: -95px -30px;
  background-size: 300px auto;
  position: absolute;
  top: 0;
  right: -9px;
}

.freexf-coursesort > div:nth-child(1).active:after,
.freexf-coursesort > div:nth-child(2).active:after {
  background-position: -65px -60px;
}

.freexf-courseNav span {
  width: 6px;
  height: 6px;
  border: 1px solid #969696;
  display: inline-block;
  position:relative;
  top:-3px;
  margin-left:12px;
  border-width: 0 0 1.5px 1.5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.freexf-courseNav.active span {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-top: 0;
}

.freexf-classmodule .item {
  border-color: #eee;
}

.freexf-classmodule .item h2 {
  font-size: 14rem;
}

.freexf-classmodule .item p {
  color: #969696;
  font-size: 12rem;
  line-height: 30px;
}

.freexf-classmodule .item p:last-of-type {
  margin-top: 4px;
}

.freexf-classmodule .item p span {
  color: #EA4C00;
  font-size: 20rem;
  margin-right: 5px;
}

.freexf-classmodule .item-thumbnail-left,
.freexf-classmodule .item-thumbnail-left .item-content {
  padding-top: 5%;
  padding-left: 34%;
  /*min-height: 92.5px;*/
}

.freexf-classmodule .item-thumbnail-left > img:first-child,
.freexf-classmodule .item-thumbnail-left .item-image,
.freexf-classmodule .item-thumbnail-left .item-content > img:first-child,
.freexf-classmodule .item-thumbnail-left .item-content .item-image {
  top: 20%;
  width: 29%;
  height: auto;
  max-width: 30%;
  max-height: none;
  background: url("../img/publicbg/null_bg320_180.png") no-repeat left top/cover;
  font-size: 10rem;
}

.freexf-classmodule .item.active,
.freexf-classmodule .item.activated,
.freexf-classmodule .item-complex.active .item-content,
.freexf-classmodule .item-complex.activated .item-content,
.freexf-classmodule .item .item-content.active,
.freexf-classmodule .item .item-content.activated {
  background: #fff;
}

.freexf-classmodule-header-nav .freexf-languageclass {
  position: relative;
  width: 100%;
  height: auto;

  border-bottom: 1px #eee solid;
  padding: 0 35px;
}

.freexf-classmodule-header-nav .freexf-languageclass ul li {
  text-align: left;

  margin-right: 86px;
  display: inline-block;

  font-size: 14rem;
  color: #969696;
  float: left;
  height: 61px;
  line-height: 61px;
}

.freexf-classmodule-header-nav .freexf-languageclass ul li a {
  line-height: 35px;
  text-align: left;
  display: inline-block;
  padding: 0 5px 0 0;
  font-size: 12.5rem;
  color: #969696;
}

.freexf-classmodule-header-nav div.active,
.freexf-classmodule-header-nav .freexf-languageclass ul li.active {
  color: #1AB455;
}

.freexf-nocontent {
  padding: 30px 0 55px;
  text-align: center;
  background: #fff;
}

.freexf-nocontent img {
  width: 24%;
}

.freexf-nocontent p {
  margin-top: 10px;
  margin-bottom: 0;
  color: #878787;
  font-size: 13rem;
}

.freexf-classmodule-header-nav {
  background: #fff;

  color: #969696;
  position: relative;
}

.freexf-classmodule-header-nav > .head {
  padding: 0 35px;
  width: 100%;
  height: 38px;
  line-height: 38px;
  border-bottom: 1px solid #eee;
}

.freexf-classmodule-header-nav h2 {
  background: #fff;
  height: 30px;
  line-height: 30px;
  color: #323232;
  font-size: 14rem;
  margin: 0;
}

.freexf-classmodule-header-nav ul li a {
  padding: 0 15px;
  color: #878787;
}

.freexf-scroll-courseoutline {
  height: 398px;
}

.hasfooter {
  bottom: 44px !important;
}

.freexf-course-group {
  border-top: 1px #EEEEEE solid;
  width: 100%;
  position: relative;
  padding-top: 35px;
}

.freexf-course-group > p {
  position: absolute;
  top: 0;
  left: 30px;
  width: 100%;
  line-height: 40px;
  font-size: 15rem;
  color: #323232;
}

.freexf-course-group .coursegroup img {
  width: 80%;
  margin: 0 10%;
}

.freexf-course-group .coursegroup p {
  text-align: center;
  margin: 0 auto;
  width: 82%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: bottom;
}

.course-group-title:before {
  content: '';
  width: 35px;
  height: 35px;
  background: url(../img/publicbg/course.png) no-repeat;
  background-position: 5px -87px;
  background-size: 300px auto;
  position: absolute;
  right: 15px;
}

.course-group-title.active:before {

  content: '';
  background-position: -26px -87px;
}

.course-group-title.istest:before {
  content: '' !important;
}

.course-group-title.coursechapter:before {
  content: '';
  width: 35px;
  height: 35px;
  background: url(../img/publicbg/course.png) no-repeat;
  background-position: -115px -57px;
  background-size: 300px auto;
  position: absolute;
  right: 15px;
}

.course-group-title.coursechapter.active:before {

  content: '';
  background-position: -146px -57px;
}

.freexf-teachername {
  margin-right: 15px;
  position: relative;
}

.freexf-teachername:before {
  content: '、';
  width: 5px;
  position: absolute;
  right: -5px;
}

.freexf-teachername:last-of-type:before {
  content: '';
}

.coursegroup > div {
  position: relative;
}

.coursegroup > div:after {
  content: '+';
  position: absolute;
  display: block;
  right: -15px;
  font-size: 45rem;
  font-weight: 100;
  top: 50%;
  margin-top: -15px;
}

.coursegroup > div:first-of-type:after {
  content: '=';
}

.coursegroup > div:last-of-type:after {
  content: '';
}

.ipadCourseList {
  width: 47%;
  margin: 5px 2%;
  float: left;
  background: #fff;
  height: 205px;
}

.coursecenter-list.ipad > div:nth-child(1),
.coursecenter-list.ipad > div:nth-child(2) {
  margin-top: 0;
}

.ipadCourseList:nth-child(2n) {
  margin-left: 0;

}

.coursecenter-list.ipad {
  background: none;
  padding: 0;
}

.freexf-coursecenter .coursecenter-list .ccl-son div {
  font-size: 18px;
  margin-top: 16px;
}

.freexf-coursecenter .coursecenter-list .ccl-son div:after {
  width: 48px;
  height: 40px;
  background-image: url(../img/course/six_icon.png);

}

.English:after {
  background-position: -10px -10px;
}

.zhongxiaoxue:after {
  background-position: -52px -10px;
}

.duoyuzhong:after {
  background-position: -95px -10px;
}

.kuaijizhiye:after {
  background-position: -150px -5px;
}

.kaoyan:after {
  background-position: -200px -10px;
}

.xingqu:after {
  background-position: -248px -10px;
}

.ipad.bar-right {
  margin-right: 2%;
}

.ipad.bar-right > .button-clear {
  padding: 0 6px !important;
}

.pane {
  background-color: #eeeeee;
}

.courseListNew {
  background-color: #fff;
}

.freexf-classmodule .item-thumbnail-left {

}

.freexf-classmodule .item {

}

.item-thumbnail-left > img:first-child {
  position: inherit;
}
.courseListNew .list.freexf-classmodule {
  margin-bottom: 0;
  padding: 51px 47px;
}

.courseListNew .list.freexf-classmodule .courseItem {
  border: none;
  margin: 0;
  padding: 0 0 46px 0;
  display: inline-block;
  min-width: 33.3333%;
}

.courseListNew .list.freexf-classmodule .courseItem:nth-child(3n-2) {
  padding-right: 46px;
}

.courseListNew .list.freexf-classmodule .courseItem:nth-child(3n-1) {
  padding-left: 23px;
  padding-right: 23px;
}

.courseListNew .list.freexf-classmodule .courseItem:nth-child(3n) {
  padding-left: 46px;
}

.courseItemImg, .courseItemImg img, .courseItem-tit {
  width: 100%;
}

.courseItem-tit i {
  width: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  float: left;

}

.courseItem-tit .course-count, .course-cf {
  color: #969696 !important;
  font-size: 12rem !important;
  margin-right: 0px !important;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: right;
  width: 56%;
}

.course-cf {
  width: auto;
  min-width: 40px;
  line-height: 30px;
  text-align: right;
  max-width: 50%;
}

.freexf-search-head {
  margin: 15px 54px;
}

.freexf-search-head > h2 {
  font-size: 13rem;
  color: #878787;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.freexf-search-head ul li {
  float: left;
  font-size: 13rem;
  margin: 10px 58px 0 5px;
}

.freexf-search-head ul li a {
  color: #878787;
}

.freexf-video {
  width: 44%;
  position: relative;
  margin: 23px 3%;
}

.freexfcourseitem .item.activated {
  background-color: rgba(0, 0, 0, 0);
}
