html {
  font-size: 1px
}

.md-scroll-mask {
  position: initial;
}

input, textarea {
  -webkit-appearance: none !important;
}

.fade-in-out.ng-enter, .fade-in-out .ng-enter {
  -webkit-animation: slideInUp 0.3s;
  -moz-animation: slideInUp 0.3s;
  animation: slideInUp 0.3s;
}

.backdrop {
  background-color: rgba(255, 255, 255, 0) !important;
}

.loading .spinner {
  stroke: #C5C5C5;
  fill: #C5C5C5;
}

.loading .font {
  font-size: 12px;
}

.loading > div:nth-child(1) {
  font-size: 15px;
}

.freexf-padding-24 {
  padding: 10px 12px !important;
}

.bg-img {
  background-size: 300px 300px;
}

.bg-img.demo {
  background-image: url(../img/publicbg/demo.png)
}

.freexf-padding-left-5 {
  padding-left: 5px !important;
}

.freexf-margin-bottom-30 {
  margin-bottom: 30px !important;
}

.freexf-pane-loading {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #fff;
}

.freexf-pane-loading:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.freexf-pane-loading .content-loading.font {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 0;
  width: initial;
  left: 0;
}

.modal ion-content:first-of-type {
  opacity: 1;
  transform: translate3d(0px, -1px, 0px) scale(1);
}

ion-content:first-of-type {
  opacity: 0;
  margin-top: -1px;
  transition: transform .3s ease-in-out, opacity .3s ease-in-out;
  transform: translate3d(0px, -10px, 0px);
}

/*top bar样式*/
.bar.freexf-bar {
  z-index: 10;
  padding: 5px 0;
  line-height: 34px;
  display: block;
}

/*bar 背景色*/
.bar.freexf-bar.lightgray {
  border-color: #eeeeee !important;
  background-color: #eeeeee !important;
  background-image: linear-gradient(0deg, #eeeeee, #eeeeee 50%, transparent 50%);
  color: #323232;
}

.bar.freexf-bar.write {
  border-color: #fff !important;
  background-color: #fff !important;
  background-image: linear-gradient(0deg, #fff, #fff 50%, transparent 50%);
}

.bar.freexf-bar .bar-left,
.bar.freexf-bar .bar-right {
  position: relative;
  height: 100%;
  cursor: pointer;
  font-size: 0;
  z-index: 11;
}

.bar.freexf-bar .bar-left {
  float: left;
}

.bar.freexf-bar .bar-right {
  float: right;
}

.bar.freexf-bar .bar-right button,
.bar.freexf-bar .bar-right a {
  font-size: 15rem;
}

.bar.freexf-bar .bar-center {
  font-size: 18rem;
  color: #323232;
}

.bar .button-clear.freexf-consult,
.bar .button-clear.freexf-icon-search,
.bar .button-clear.freexf-back,
.bar .button-clear.freexf-search,
.bar .freexf-search,
.bar .button-clear.freexf-search-span,
.bar .button-clear.freexf-close {
  padding: 0;
  border: 0;
  margin: 0;
  font-size: 13rem;
  box-sizing: content-box;
  display: inline-block;
  height: 100%;
  position: relative;
}

/*左右间距*/
.bar .bar-left > .button-clear,
.bar .bar-right > .button-clear {
  padding: 0 12px !important;
}

.bar .freexf-icon-search,
.bar .freexf-consult {
  line-height: 34px;
}

.bar .freexf-icon-search:before,
.bar .freexf-consult:before {
  width: 20px;
  height: 20px;
  display: block;
  content: "";
  float: left;
  position: relative;
  top: 50%;
  margin-top: -10px;
  margin-right: 10px;
}

.bar .freexf-consult:before {
  background: url(../img/home/icon-zixun@3x.png) no-repeat;
  background-size: contain;
  margin-top: -8px;
}

.bar .freexf-icon-search:before {
  background: url(../img/publicbg/course.png) no-repeat;
  background-position: -5px -35px;
  background-size: 300px auto;
}

.bar .freexf-icon-search:after,
.bar .freexf-consult:after {
  color: #02c2f1;
}

.bar .freexf-icon-search:after {
  content: "搜索";
}

.bar .freexf-consult:after {
  content: '咨询';
}

/*搜索按钮*/
.search-modal .freexf-search .freexf-icon-search {
  position: absolute;
  left: 25px;
}

.search-modal .freexf-search .freexf-search-cancel {
  position: absolute;
  right: 25px;
  top: 0;
  font-size: 12px;
  color: #1ab554;
}

.search-modal .freexf-search .freexf-icon-search:after {
  right: 0;
}

.search-modal .freexf-search .freexf-icon-search:before,
.search-modal .freexf-search .freexf-icon-search:after {
  content: '';
}

.bar .freexf-icon-search .ion-ios-search:before {
  content: "";
  width: 25px;
  height: 25px;
}

/*搜索框*/
.bar .freexf-search {
  box-sizing: border-box;
  width: 100%;
}

.bar .freexf-search input {
  width: 100%;
  border: 0;
  background-color: transparent;
  padding: 0 54px;
  -webkit-appearance: none;
  font-size: 12px;
  color: #ccc;
}

.bar .freexf-search .freexf-close {
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  padding: 0 10px;
}

.bar .freexf-search .freexf-close:before {
  content: '';
  display: table;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  background: rgba(0, 0, 0, 0) url(../img/publicbg/course.png) no-repeat;
  background-position: -160px -10px;
  background-size: 300px auto;
}

/*返回*/
.bar .freexf-back .freexf-goback,
.bar .freexf-back .freexf-gohomeback {
  background-image: url('../img/publicbg/home.png');
  background-repeat: no-repeat;

  height: 18px;

  position: absolute;
  top: 50%;
  left: 12px;

  margin-top: -9px;
}

.bar .freexf-back .freexf-goback {
  background-size: 739px auto;
  background-position: 0 0;
  width: 10px;
}

.bar .freexf-back .freexf-gohomeback {
  background-size: 430px auto;
  background-position: -68px 0;
  width: 18px;
}

/*登录注册*/
.bar .button-clear.register,
.bar .button-clear.login {
  font-size: 13rem;
  color: #323232;
  height: 100%;
  line-height: 34px;
  display: inline-block;
}

::-webkit-scrollbar {
  width: 0
}

*::-webkit-scrollbar {
  width: 0
}

.already .scroll {
  height: 100%;
}

.freexf-nullmsg {
  text-align: center;
  font-size: 12rem;
  color: #969696;
  margin-bottom: 40px;
}

ion-modal-view.modal {
  border-radius: 5px;
  width: 540px;
  left: 50%;
  margin-left: -270px;
  height: 620px;
  top: 50%;
  margin-top: -310px;
}

ion-modal-view.modal.full-modal {
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 0;
}

ion-modal-view.modal.full-modal.search-modal {
  height: 226px;
  margin-top: 0;
  margin-left: 0;
}

ion-modal-view.search-modal.slide-in-up {
  -webkit-transform: translate3d(0, 300%, 0);
  transform: translate3d(0, 300%, 0);
}

ion-modal-view.search-modal.slide-in-up.ng-enter-active,
ion-modal-view.search-modal.slide-in-up > .ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

ion-modal-view.slide-in-up {
  -webkit-transform: translate3d(0, 200%, 0);
  transform: translate3d(0, 200%, 0);
}

ion-modal-view.modal .item-floating-label {
  padding: 13px 40px;
}

.freexf-footer {
  border-top: 0;
  background-image: none;
  padding: 0;
}

.freexf-auth-button {
  padding: 91px 20px 0;
  font-size: 15rem;
  color: #969696;
}

.freexf-auth-button a {
  color: #969696;
}

.freexf-auth-button button.button {
  margin: 0;
  margin-bottom: 35px;
}
