a {
  text-decoration: none;
}

.pay .OrderMessage {
  color: #323232;
  font-size:15rem;
  padding: 46px 0 56px 0;
}
.pay .OrderMessage p{
  margin: 0;
}
.pay .OrderMessage .money, .pay .OrderMessage .money i {
  color: #ea4c00;
  font-size: 18rem;
}
.pay .OrderMessage .title,
.pay .OrderMessage .price,
.pay .OrderMessage .number,
.pay .OrderMessage .time{
  padding-left:40px;
}
.pay .OrderMessage .title{
  padding-bottom:20px;
  border-bottom:1px solid #eee;
}
.pay .OrderMessage .price{
  height: 56px;
  line-height: 56px;
  border-bottom: 1px solid #eee;
}
.pay .OrderMessage .number{
  padding-top:28px;
  font-size:12rem;
}
.pay .OrderMessage .time{
  padding-top: 22px;
  font-size:12rem;
}

.pay .PaySuccess, .pay .PayIcon, .payOn:before, .paycontent .TipLogo, .MyAcc-content .TipLogo {
  display: block;
  background-image: url(../img/user/pay.png);
  background-position: -1px -434px;
  background-size: 300px 300px;
  float: left;
}

.pay .PayIcon {
  width: 120px;
  height: 40px;
  background-position: -1px -452px;
}

.pay .PaySuccess, .payOn:before {
  width: 25px;
  height: 15px;
  margin-left: 15px;
  margin-top: 12px;
}

.pay .PayState {
  width: 449px;
  display: table;
  margin: 0 auto;
  border: 1px solid #eee;
  padding: 20px 0 20px 0;
}

.PayState-group {
  width: 160px;
  height: auto;
  margin: 0 auto;
  clear: both;
}

.payOn.success, .payOn.fail {
  height: 40px;
  font-size: 18rem;
  color: #1ab554;
  font-weight: 600;
  margin-top: 57.5px;
  margin-left: 10px;

}

.payOn.fail:before {
  background-position: -27px -435px;
}

.payOn.fail {
  color: #ff5f5f;
}

.payOn:before {
  content: "";
  margin: 3px 7.5px 0px 0px;
  float: left;
}

.PayState-group p {
  text-align: center;
  color: #969696;
  font-size: 12rem;
  margin-top: 20px;
}

.PayState-group .tip {
  margin: 0px;
}

.PayState-group .tip:last-child {
  margin-bottom: 10px;
}

.pay.address .button.button-block {
  margin-top: 57px;
}

.BookAddress {
  padding-top: 45px;
  border-top: 1px solid #eee;
}

.BookAddress p.address {
  padding: 0 40px;
}

.paycontent .TipLogo, .MyAcc-content .TipLogo {
  width: 87px;
  height: 133px;
  background-position: -1px -1px;
  float: none;
}

.paycontent {
  clear: both;
  display: table;
  margin: auto;
  width: 100%;
  background-color: #fff;
}
.paycontent .jump{
  text-align: center;
  font-size: 12rem;
  color: #969696;
}
.pay .ContactUs {
  text-align: center;
  margin-top: 47.5px;
  font-size: 15rem;
  color: #969696;
  font-weight: 600;
}

.pay .ContactUs i {
  color: #ff5f5f;
}
.pay-buttons button,.pay-buttons a{
  width:100%;
  height:100%;
}
.TipLogo.fail {
  background-position: -89px -1px;
}

.input-label.hasInput {
  opacity: 1;
  top: 0;
}



