<ion-view coures-scroll view-title="四六级考试不用愁，1元购课程任意挑">
    <ion-content lazy-scroll class="campusPromotionCET">
        <div class="campusPromotionCET-top">
            <a href="/mobile/www/index.aspx#/home" class="logo">
                <img src="activities/img/cetMultilingual/logo.png" />
            </a>
            <div class="phone">
                <a href="tel:400-803-6611">
                    <img class="phone-icon" src="activities/img/cetMultilingual/phone-icon.png" />
                    <span class="phone-num">400-803-6611</span>
                </a>
            </div>
        </div>
        <div class="campusPromotionCET-head">
            <img src="activities/img/cetMultilingual/top-header.png"/>
            <a href="/mobile/www/index.aspx#/oneBuy"><img src="activities/img/cetMultilingual/top2.png" /></a>
            <p><img src="activities/img/cetMultilingual/top3.png" /></p>
        </div>
        <div class="cet-course-list">
            <a href="/mobile/www/index.aspx#/coursedetail/b369caf1653a492b9e90494900d4bacd&"><img src="activities/img/cetMultilingual/course1.png" /></a>
            <div>
                <a href="/mobile/www/index.aspx#/coursedetail/3cf9d285bad0484a95a674e46e0500d6&"><img src="activities/img/cetMultilingual/course2.png" /></a>
                <a href="/mobile/www/index.aspx#/coursedetail/de2173fc2ab7473a837015ee585ad9d6&"><img src="activities/img/cetMultilingual/course3.png" /></a>
            </div>
            <a href="/mobile/www/index.aspx#/coursedetail/3f9b0819eae74664a333f7e7b5a8b17f&"><img src="activities/img/cetMultilingual/course4.png" /></a>
            <div>
                <a href="/mobile/www/index.aspx#/coursedetail/a65966c2149f497ea7643621280b48a0&"><img src="activities/img/cetMultilingual/course5.png" /></a>
                <a href="/mobile/www/index.aspx#/coursedetail/bb6f6a6e96b64de0b4fee24e341ceb39&"><img src="activities/img/cetMultilingual/course6.png" /></a>
            </div>
        </div>
        <div class="cet-btngroup">
            <a href="/mobile/www/index.aspx#/register">立即注册免费试听</a>
            <a href="/mobile/www/index.aspx#/courseplate/%E8%8B%B1%E8%AF%AD&%E5%9B%9B%E5%85%AD%E7%BA%A7&&">点击查看更多课程</a>
        </div>
        <img class="cet-block" src="activities/img/cetMultilingual/bg-thr.png" />
        <div class="cet-course-list cet-course-list2">
            <img class="cet-title2" src="activities/img/cetMultilingual/title2.png" />
            <div>
                <a href="/mobile/www/index.aspx#/coursedetail/9b398d462bc04231ba86fc48f0003c21&"><img src="activities/img/cetMultilingual/course7.png" /></a>
                <a href="/mobile/www/index.aspx#/coursedetail/39377fcbc7634366aafa0d4b28de6994&"><img src="activities/img/cetMultilingual/course8.png" /></a>
            </div>
            <div>
                <a href="/mobile/www/index.aspx#/coursedetail/fc70fc81364c4ee290b77ae976708a3f&"><img src="activities/img/cetMultilingual/course9.png" /></a>
                <a href="/mobile/www/index.aspx#/coursedetail/fa0c3dce3e3b466b93b2364b6736c5dd&"><img src="activities/img/cetMultilingual/course10.png" /></a>
            </div>
            <div>
                <a href="/mobile/www/index.aspx#/coursedetail/17fdafb183fd47e1a483d06c86e7ea5f&"><img src="activities/img/cetMultilingual/course11.png" /></a>
                <a href="/mobile/www/index.aspx#/coursedetail/3862c0cadf2941ef89c89170bb6889ea&"><img src="activities/img/cetMultilingual/course12.png" /></a>
            </div>
        </div>
        <div class="cet-btngroup cet-btngroup2">
            <a href="/mobile/www/index.aspx#/register">立即注册免费试听</a>
            <a href="/mobile/www/index.aspx#/courseplate/%E5%A4%9A%E8%AF%AD%E7%A7%8D&&&">点击查看更多课程</a>
        </div>
        <img class="cet-title3" src="activities/img/cetMultilingual/title3.png" />
        <div class="cet-course-list">
            <div>
                <a href="/mobile/www/index.aspx#/coursedetail/9d5a5bfea1ad44a1844c1f288915e0b3&"><img src="activities/img/cetMultilingual/course13.png" /></a>
                <a href="/mobile/www/index.aspx#/coursedetail/c8acfeddf5534881a8e23ca29cd06d32&"><img src="activities/img/cetMultilingual/course14.png" /></a>
            </div>
            <div>
                <a href="/mobile/www/index.aspx#/coursedetail/9dfe344451414a10b7a58d63a7fca8a7&"><img src="activities/img/cetMultilingual/course15.png" /></a>
                <a href="/mobile/www/index.aspx#/coursedetail/b6bb7dc599cb44388eba2d7057f68961&"><img src="activities/img/cetMultilingual/course16.png" /></a>
            </div>
        </div>
        <div class="cet-btngroup">
            <a href="/mobile/www/index.aspx#/register">立即注册免费试听</a>
            <a href="/mobile/www/index.aspx#/courseplate/%E8%8B%B1%E8%AF%AD&&&">点击查看更多课程</a>
        </div>
        <div class="campusPromotionCET-teacher-box">
            <p>名师助力 学无止境</p>
            <ion-scroll direction='x' scrollbar-x='false'>
                <div class="row">
                    <div class="col col-25" ng-repeat="e in EnglishTeacherList">
                        <img ng-src="{{e.Image}}" />
                        <p>{{e.Name}}</p>
                    </div>
                    <div class="col col-25" ng-repeat="t in teacherList">
                        <img ng-src="{{t.Image}}" />
                        <p>{{t.Name}}</p>
                    </div>
                </div>
            </ion-scroll>
        </div>
        <a href="tel:400-803-6611" class="title time-footer cetMultilingual-footer">
            <img class="footer-bar-contact-content-phone" image-lazy-src="activities/img/cetMultilingual/phone.png" />
            <span class="footer-bar-contact-content-phonenumber">400-803-6611</span>
        </a>
    </ion-content>
</ion-view>
