<style>
  .oneBuy {
    font-family: '微软雅黑';
  }
  .oneBuy .title-img {
    width: 40%;
    margin: 20px auto;
  }
  .oneBuy .title-img img {
    width: 100%;
  }
  .oneBuy .hint-msg {
    font-size: 10rem;
    color: #595959;
    text-align: center;
  }
  .oneBuy .course-box {
    width: 95%;
    margin: 20px auto;
    overflow: hidden;
  }
  .oneBuy .course-detail {
    width: 48%;
    margin: 1%;
    float: left;
  }
  .oneBuy .course-detail img {
    width: 100%;
  }
  .oneBuy .course-detail .course-title {
    font-size: 12rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 5px;
  }
  .oneBuy .course-detail .course-text {
    font-size: 10rem;
    color: #595959;
    overflow: hidden;
    height: 2.5em;
    line-height: 2.4em;
    margin-bottom: 5px;
  }
  .oneBuy .course-detail .course-text .price-img {
    display: inline-block;
    float: left;
    width: 2em;
    height: 2em;
    margin-right: 2%;
  }
  .oneBuy .course-detail .course-text .price-img img{
    width: 100%;
  }
  .oneBuy .course-detail .course-text .one-price {
    float: left;
    margin-right: 7%;
  }
  .oneBuy .course-detail .course-text .old-price {
    /*margin-left: 5%;*/
    float: left;
  }
  .oneBuy .course-detail .course-text .num {
    float: right;
  }
  .oneBuy .course-detail .course-text .num-content {
    color: #ff7d7d;
  }
  .oneBuy .course-detail hr {
    border: none;
    border-top: 2px solid #efefef;
    margin-bottom: 5px;
  }
</style>
<ion-view view-title="一元购课程" class="oneBuy">
    <ion-header-bar class="freexf-bar">
        <div class="bar-left">
            <a href="#home" class="button-clear freexf-back freexf-left">
                <i class="icon freexf-gohomeback"></i>
            </a>
        </div>
        <div class="title">一元购课程</div>
        <div class="bar-right">
            <button class="button-clear freexf-consult"><span>咨询</span></button>
        </div>
    </ion-header-bar>
    <ion-footer-bar class="footer-bar-contact">
        <a href="tel:400-803-6611" class="title">
            <img class="footer-bar-contact-content-phone" image-lazy-src="activities/img/abroad/contact@3x.png" />
            <span class="footer-bar-contact-content-phonenumber">400-803-6611</span>
        </a>
    </ion-footer-bar>
    <ion-content lazy-scroll class="has-header microClass">
        <div class="title-img">
            <img src="activities/img/oneBuy/title.png" />
        </div>
        <p class="hint-msg" style="font-size: 10rem; color: #595959;text-align: center;">每人限购一次</p>
        <div class="course-box">
            <div class="onebuy-ajax-box" style="text-align:center"><div class="font">加载中...</div></div>
            <div class="course-detail"
                 ng-repeat="(index,item) in DisPatchList"
                 ng-click="toCourseDetail(item.ProductId)"
                 ng-include="'detail.html'">
            </div>
        </div>
        <!--下拉刷新-->
        <ion-infinite-scroll ng-if="uppageshow" on-infinite="doRefresh()" distance="10%"></ion-infinite-scroll>
        <div ng-hide="uppageshow" class="freexf-nullmsg">{{bottomtext}}</div>

    </ion-content>
    <script type="text/ng-template" id="detail.html">
        <img ng-src="{{item.Image}}" alt="">
        <p class="course-title">{{item.ProductName}}</p>
        <p class="course-text">
            <span class="price-img"><img src="activities/img/oneBuy/one.png" /></span>

            <span class="one-price">学分</span>
            <s class="old-price">{{item.Price}}学分</s>
            <span class="num">课时：<span class="num-content">{{item.Hour}}</span></span>
        </p>
        <hr />
    </script>
</ion-view>
