.liveCalendar .course-category{width: 95%;margin:2% auto;position:relative;color: #fff;overflow: hidden}
.liveCalendar .course-category span {text-align: center;display:block;font-size: 18rem;line-height: 1.5em;background-color: #333;float: left}
.liveCalendar .course-category span.active {background-color: #fe9635;}
.liveCalendar .calendar{width: 95%;margin: 2% auto;}
.liveCalendar .calendar table{width: 100%;text-align:center;border-bottom: 1px #CCCCCC solid;}
.liveCalendar .calendar table thead{border:1px #CCCCCC solid;margin-bottom: 10px;}
.liveCalendar .calendar table th{line-height:22px;font-size:16rem;color: #666;}
.liveCalendar .calendar table th.black{background: #333;color: #fff;}
.liveCalendar .calendar table .date{border-left:1px #CCCCCC solid;border-right:1px #CCCCCC solid;color: #333;background:#fe9635;}
.liveCalendar .calendar table .date.not-cur{background-color: #999; color: #fff}
.liveCalendar .calendar table .msg{border-left:1px #CCCCCC solid;border-right:1px #CCCCCC solid;}
.liveCalendar .calendar table .msg.today{background: #c7c7c7;color: #fff!important;}
.liveCalendar .calendar table .msg.mark{color: #666;}
.liveCalendar .calendar table .msg.active{background: #333;color: #fff;}
.liveCalendar .calendar table .msg p{margin: 0;font-size: 14rem;vertical-align: top;display: inline-block}
.liveCalendar .calendar table .date font + font {display:none;}
.liveCalendar .information{clear:both;margin-top:20px;}
.liveCalendar .information>p{width:100%;border-top:1px #dcdcdc solid;border-bottom:1px #dcdcdc solid;line-height:35px;padding:0 7%;position:relative;font-size:18rem;}
.liveCalendar .information>p:before{position:absolute;content:'';width:6px;height:24px;top:6px;left:4%;background:#fe9635;}
.liveCalendar .information ul{padding:0 5%;}
.liveCalendar .information ul li{position:relative;padding-left:65px;font-size:16rem;color:#666;}
.liveCalendar .information ul .live-msg{margin-bottom: 20px;}
.liveCalendar .information ul .live-name{margin:0 5% 5px;}
.liveCalendar .information ul li p,.liveCalendar .information ul li .teacher{margin:0 6% 5px;}
.liveCalendar .information ul li em{position:absolute;left:0;color:#fe9635;}
.liveCalendar .information ul li span{color: #999}
.liveCalendar .calendar-tip{text-align:right;font-size:10rem;color:#9D9D9D!important;margin-top:15px!important;padding: 0 5px;}