<ion-view view-title="我的账户" ng-controller='member_ctrl'>
  <ion-content lazy-scroll class="already has-header has-footer">
    <div class="MyAcc-top">
      <a href="#/set">
        <div class="MyAcc-setting"></div>
      </a>
      <div class="MyAcc-icon" ng-model="ImgBoxShow" ng-click="ChangeUserImg()" ng-style="userImage"></div>
      <div class="UpdateName">
        <div class="Length">
          <input class="name" type="text" placeholder="您还没有昵称哟!" ng-model="myuser.nickname" id="updateUserName"
                 ng-blur="changeName(true)" autocomplete="off"/>
          <span class="edit" ng-click="changeName(false)"></span>
        </div>
      </div>
      <!--更换图片框-->
      <div class="changeImg" ng-show="ImgBoxShow">
        <div class="modal-backdrop-bg new" ng-click="cancelPopup()" ng-show="canPopup"></div>
        <div class="userImgBox">
          <div class="row userImg">
            <div class="col col-33 on" ng-click="updateImg('女')">
              <img src="img/user/women.png" width="100%">
              <label class="radio">
                <!--onkeydown="if(event.keyCode==13) return false;"-->
                <input value="女" name="sex" id="sex2" ng-model="myuser.sex" checked="checked" type="radio" ng-checked="myuser.sex"/>
                <i></i>
              </label>
            </div>
            <div class="col col-33" ng-click="updateImg('男')">
              <img src="img/user/man.png" width="100%">
              <label class="radio">
                <input value="男" name="sex" id="sex1" ng-model="myuser.sex" type="radio" ng-checked="myuser.sex"/>
                <i></i>
              </label>
            </div>
            <div class="col col-33" ng-click="updateImg('')">
              <img src="img/user/null.png" width="100%">
              <label class="radio">
                <input value="保密" name="sex" id="sex0" ng-model="myuser.sex" type="radio" ng-checked="myuser.sex"/>
                <i></i>
              </label>
            </div>
          </div>
        </div>
      </div>
      <script id="showLink" type="text/ng-template">
        <div class="modal-backdrop-bg sharebox"></div>
        <ion-modal-view class="newModal">
          <div class="modalShow">
            <input type="text" ng-value="shareUrl" class="showBox" id="isShowBox"/>
            <p ng-click="closeModal()"  id="isCloseModal">复制框内链接，粘贴给好友，或截取下列二维码</p>
            <div id="code" align="center"></div>
          </div>
        </ion-modal-view>
      </script>


      <div class="MyAcc-title">
          <span>已获得<font id="isMoney">{{myuser.money}}</font></span>
          <span>待获得<font id="isNomoney">{{myuser.nomoney}}</font></span>
      </div>
    </div>
    <div class="MyAcc-content">
      <div class="mynav-group">
        <a href="#/mycourse">
          <div class="nav">
            <div class="nav-bar myCourse"></div>
            <p>我的课程</p>
          </div>
        </a>
        <a href="#/myorder">
          <div class="nav">
            <div class="nav-bar myOrder"></div>
            <p>我的订单</p>
          </div>
        </a>
        <a href="#/mycollection">
          <div class="nav">
            <div class="nav-bar myCollection"></div>
            <p>我的收藏</p>
          </div>
        </a>
      </div>
    </div>
    <!--学习进度-->
    <div class="course-block study">
      <h2>学习进度</h2>
      <ion-scroll direction='x' scrollbar-x='false'>
        <div class="row course">
          <div class="col " ng-show="!MyCourse||MyCourse.length<=0">
            亲，您目前没有学习的课程哦~去<a style="color:#1ab554" href="#/course">选课</a>吧
          </div>
          <div class="col col-48" ng-repeat="m in MyCourse" ng-click="goStudy(m.ProductId,'1')">
            <img src="" width="100%" alt="{{m.ClassName}}">
            <div class="content">
              <p>上次观看至
                <font>{{m.ClassName}}</font>
              </p>
              <div class="progress">
                <div class="progress-bar">
                  <div class="full">
                    <span class="finish done" style="width:{{m.Percent}}%"></span>
                  </div>
                  <span>完成度<i>{{m.Percent}}%</i></span>
                </div>
              </div>
            </div>
          </div>

        </div>
      </ion-scroll>
    </div>
    <!--课程推荐-->
    <div class="course-block recommend">
      <h2>课程推荐</h2>
      <ion-scroll direction='x' scrollbar-x='false'>
        <div class="row course">
          <div class="col col-48" ng-show="!recommendlist||recommendlist.length<=0">
            您目前没有推荐的课程
          </div>
          <div class="col col-48" ng-repeat="r in recommendlist" ng-click="goStudy(r.productID)">
            <img src="{{r.coverurl}}" width="100%" alt="{{r.cover}}">
            <div class="content">
              <p>{{r.productName}}</p>
            </div>
          </div>

        </div>
      </ion-scroll>
    </div>

  </ion-content>
</ion-view>
