<ion-view view-title="支付地址">

  <ion-content class="pay address ">
    <!--<div class="paycontent" ng-show="payOn">
      <div class="PayState-group">
        <div class="payOn success">支付成功</div>
        <p>完成交易,3秒后跳转到我的课程页面哦~</p>
        <div class="TipLogo"></div>
      </div>
    </div>-->
    <div class="paycontent">
      <div class="PayState-group">
        <div class="payOn success">支付成功</div>
        <p class="tip">本课程有教材可领，</p>
        <p class="tip">请填写下面资料免费领取哟！</p>
      </div>
      <div class="BookAddress" >
        <p>教材地址：</p>
        <div class="list">
          <label class="item item-input item-floating-label">
            <span class="input-label hasInput">姓名</span>
            <input type="text"  class="hasPlace"  ng-model="payAddress.DeliveryUser"/>
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label hasInput">手机号</span>
            <input type="tel"  class="hasPlace" ng-model="payAddress.DeliveryPhone"
                   ng-pattern="/^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57]|99[0-9])[0-9]{8}$/"/>
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label hasInput">详细地址:</span>
            <textarea  class="hasPlace" ng-model="payAddress.DeliveryAddress" rows="3"></textarea>
          </label>
        </div>
        <div class="freexf-padding-24" >
          <button class="button button-block freexf-button-balanced freexf-margin-bottom-30" type="submit"
                  ng-click="submit($event)">提交
          </button>
        </div>
      </div>

    </div>

  </ion-content>
</ion-view>
