<!--课程列表-->
  <div class="item item-thumbnail-left" ng-repeat="item in courseList" ng-click="toCourseDate(item.ProductId)">  <!--'199f21a24fbc4227aeafe277c960bf18'-->

    <img image-lazy-src="{{item.image}}"/>
    <div>
        <h2>{{item.ProductName}}</h2>

        <p><i ng-show="item.teachername">讲师：{{item.teachername}}&nbsp;&nbsp;</i>课时数：{{item.hour}}&nbsp;&nbsp; 有效期：{{item.validity}}</p>

        <p><span>{{item.price|xufen}}</span><em ng-show="item.price| xufenshow">学分</em></p>
    </div>
  </div>

