<ion-view view-title="选课中心">

  <ion-header-bar class="freexf-bar lightgray">
    <div class="title">选课中心</div>
    <div class="bar-right ipad">
      <a fx-search class="button-clear freexf-icon-search"></a>
    </div>
  </ion-header-bar>

  <ion-content class="freexf-courselist">
    <div class="freexf-coursecenter">
        <div class="coursecenter-list ipad clearfix">
            <!-- 英语 -->
            <div class="ipadCourseList" ng-repeat="(cindex,c) in ls_Category">
                <div class="ccl-son">
                    <div ng-click="goCourseList(c)">{{c}}</div>
                </div>
                <ul class="ccl-course-son-list">
                    <li ng-repeat="(sindex,s) in ls_Second['ls_Second'+cindex] | formatname " ng-click="goCourseList(c,s=='全部'?'':s)">{{s}}</li>
                </ul>
            </div>
         </div>
    </div>
  </ion-content>
</ion-view>
