<ion-modal-view ng-controller="coursesearch_ctrl" class="full-modal search-modal" scroll-watch-tab>
  <ion-header-bar default-header-bar class="freexf-bar lightgray">
    <div class="bar-center freexf-search">
      <i class="button-clear freexf-icon-search"></i>
      <input type="text" placeholder="搜索课程" id="searchVal" ng-model="searchString.value" ng-keypress="enterResult($event)"/>
      <button class="button-clear freexf-search-cancel" ng-click="getResult(searchString.value)">搜 索</button>
    </div>
  </ion-header-bar>

  <ion-content lazy-scroll>

    <div class="freexf-search-head">
      <h2>热门搜索</h2>
      <ul>
          <li ng-repeat="h in hotList"><a href="javascript:void(0);" ng-click="getResult(h)">{{h}}</a></li>
      </ul>
    </div>

  </ion-content>

</ion-modal-view>
