<style>
  /*全民学外语*/
  .multilingual{background:#fafafa;}
  .multilingual img{width:100%;}
  .multilingual-headimg,
  .multilingual-introduce{width:95%;margin:10px auto 0;color:#545454;}
  .multilingual-introduce{background:url(./activities/img/multilingual/bg-box@3x.png) no-repeat;background-size:100% 100%;padding:5% 8%;font-size:12rem;margin-top:5px;}
  .multilingual-headimg img{width:74%;}
  .multilingual-headimg img:nth-child(2){margin-left:26%;}
  .multilingual-active{width:95%;margin:20px auto;position:relative;}
  .multilingual-active a{width:33%;margin-right:0.5%;display:inline-block;}
  .multilingual-active a:last-of-type{margin-right:0;position:absolute;top:0;right:-0.4%;width:33.4%;}
  .multilingual-nav{width:100%;height:40px;background:url(./activities/img/multilingual/navbg@3x.png) no-repeat;background-size:100% 100%;}
  .multilingual-nav li{color:#fff;font-size:12.3rem;float:left;line-height:40px;position: relative;min-width:4em;-webkit-perspective: 600px;perspective: 600px;}
  .multilingual-nav li .all{padding:0 1em;}
  .multilingual-nav li .pic1{padding:0 1em;-webkit-transform: rotateX(0deg) rotateX(0deg);-webkit-transform-style: preserve-3d;-webkit-backface-visibility: hidden;}
  .multilingual-nav li .pic1,
  .multilingual-nav li .pic2{transition: all .4s ease-in-out;-webkit-transition: all .4s ease-in-out;width: 100%;height: 100%;overflow: hidden;display:block;}
  .multilingual-nav li .pic2{position: absolute;top: 0;left: 0;z-index: -1;-webkit-transform: rotateX(-180deg);-webkit-transform-style: preserve-3d;-webkit-backface-visibility: hidden;}
  .multilingual-nav li .pic2 img{width:60%;margin:10% 20%;}
  .multilingual-nav li .pic2.spain img{width:50%;margin:10% 25%;}
  .multilingual-nav li.active .pic1{-webkit-transform: rotateX(180deg);transform: rotateX(180deg);}
  .multilingual-nav li.active .pic2{z-index: 10;position: absolute;-webkit-transform: rotateX(0deg) rotateY(0deg);transform: rotateX(0deg) rotateY(0deg);}

  .multilingual-box{width:94%;margin:10px auto 10px;font-size:0;-webkit-margin-collapse:separate;}
  .multilingual-box div.col{display:inline-block;vertical-align:top;position:relative;}
  .multilingual-box div.col-50{min-width: 50%;}
  .multilingual-teacher-box div.col-25{width:28%;min-width:28%;max-width:28%;padding: 10px;}
  .multilingual-box div.col>div{box-shadow:1px 1px 5px rgba(0,0,0,0.35);}
  .multilingual-box .multilingual-courseinfo{font-size:12rem;padding:0 5px;}
  .multilingual-box .multilingual-courseinfo p{margin:0;line-height:25px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
  .multilingual-box .multilingual-class{line-height:35px;border-top:1px #dcdcdc solid;font-size:12rem;padding:0 5px;position:relative;}
  .multilingual-box .multilingual-class p{position:absolute;right:5px;top:14px;line-height: 20px;margin:0;}
  .multilingual-box .multilingual-class p .star{background:url(./activities/img/olympic/little-star.png) no-repeat;width:8px;height:10px;background-size:100% auto;display: inline-block;float:left;margin-left:4px;}
  .multilingual-box .multilingual-class p .star.ban{background:url(./activities/img/olympic/little-star-ban.png) no-repeat;background-size:100% auto;}
  .multilingual-xuefen{position:absolute;left:-2px;top:10px;background:url(./activities/img/olympic/course-price-bg.png) no-repeat;width:100%;height:15%;background-size:auto 100%;font-size:13rem;color:#fff;padding-left:2px;padding-top:2px;}
  .multilingual-xuefen span{font-size:8rem;}
  .multilingual-btn-more button{width:76%;margin:20px 12%;background:#5b7caf;color:#fff;font-size:14rem;border-radius:7px;border:none;height:35px;position:relative;}
  .multilingual-btn-more button:after{width:20px;height:12px;display:inline-block;background:url(./activities/img/multilingual/go_icon@3x.png) no-repeat;background-size: auto 100%;position: relative;top: 2px;margin-left:7px;content:''}
  .multilingual-teacher-box{padding:0 3%;}
  .multilingual-teacher-box>img{width:40%;}
  .multilingual-teacher-box .col p{font-size:14rem;text-align:center;}
  .multilingual-teacher-box .col img{border-radius:50%;border:2px #5b7caf solid;}

  .multilingual-footer.time-footer span{color:#5B7CAF!important;}
  .multilingual-footer.time-footer{border-top: 1px #5B7CAF solid;margin-top: 0px;display: block;height:44px;line-height:44px;text-align: center;}
</style>
<ion-view coures-scroll view-title="多一个语言，多一个世界">
    <ion-header-bar class="freexf-bar">
        <div class="bar-left">
            <a href="#home" class="button-clear freexf-back freexf-left">
                <i class="icon freexf-gohomeback"></i>
            </a>
        </div>
        <div class="title">多一个语言，多一个世界</div>
    </ion-header-bar>
    <ion-content lazy-scroll class="has-header multilingual">
        <div class="olympic-banner">
           <img image-lazy-src="activities/img/multilingual/head-banner@3x.png"/>
        </div>
        <div class="multilingual-headimg">
            <img src="activities/img/multilingual/head1@3x.png"/>
            <img src="activities/img/multilingual/head2@3x.png" />
            <img src="activities/img/multilingual/head3@3x.png" />
        </div>
        <div class="multilingual-introduce">
            学费全免网多语种课程帮你搞定！主流小语种课程应有尽有，考证、商务、兴趣，满足你对小语种学习的一切需求。学期结束，学费全返，经济0压力，比别人多一项与世界沟通的技能！
        </div>
        <div class="multilingual-active">
            <a href="#/invitefriends"><img src="activities/img/multilingual/01@3x.png" /></a><a href="http://mp.weixin.qq.com/s?__biz=MzIxNjMyNzM1Nw==&mid=2247488528&idx=1&sn=f5b433d1a36d2b2531ca6478aafeaac4#rd"><img src="activities/img/multilingual/02@3x.png" /></a><a href="#/classlearning"><img src="activities/img/multilingual/03@3x.png" /></a>
        </div>
        <div class="multilingual-nav">
            <ul>
                <li ng-click="category($event,'全部')">
                    <div class="all">全部</div>
                </li>
                <li ng-click="category($event,'日语')">
                    <div class="pic1">日语</div>
                    <div class="pic2"><img src="activities/img/multilingual/Japan@3x.png"/></div>
                </li>
                <li ng-click="category($event,'韩语')">
                    <div class="pic1">韩语</div>
                    <div class="pic2"><img src="activities/img/multilingual/Korean@3x.png" /></div>
                </li>
                <li ng-click="category($event,'俄语')">
                    <div class="pic1">俄语</div>
                    <div class="pic2"><img src="activities/img/multilingual/Russia@3x.png" /></div>
                </li>
                <li ng-click="category($event,'德语')">
                    <div class="pic1">德语</div>
                    <div class="pic2"><img src="activities/img/multilingual/germany@3x.png" /></div>
                </li>
                <li ng-click="category($event,'西班牙语')">
                    <div class="pic1">西班牙</div>
                    <div class="pic2 spain"><img src="activities/img/multilingual/Spain@3x.png" /></div>
                </li>
                <li ng-click="category($event,'法语')">
                    <div class="pic1">法语</div>
                    <div class="pic2"><img src="activities/img/multilingual/France@3x.png" /></div>
                </li>
            </ul>
        </div>
        <div class="multilingual-box" ng-show="multilingualList.CourseList1.length>0">
            <img src="activities/img/multilingual/1@3x.png"/>
                <div class="col col-50" ng-repeat="(index,l) in multilingualList.CourseList1" ng-if="index<num1" ng-include="'course.html'" ng-click="toCourseDate(l.ProductId)">

                </div>
            <div class="multilingual-btn-more" ng-show="multilingualList.CourseList1.length>2">
                <button ng-click="setData(multilingualList.CourseList1.length,$event,'num1')">点击查看更多相关课程</button>
            </div>
        </div>
        <div class="multilingual-box" ng-show="multilingualList.CourseList2.length>0">
            <img src="activities/img/multilingual/2@3x.png" />
            <div class="col col-50" ng-repeat="(index,l) in multilingualList.CourseList2" ng-if="index<num2" ng-include="'course.html'" ng-click="toCourseDate(l.ProductId)">

            </div>
            <div class="multilingual-btn-more" ng-show="multilingualList.CourseList2.length>2">
                <button ng-click="setData(multilingualList.CourseList2.length,$event,'num2')">点击查看更多相关课程</button>
            </div>
        </div>
        <div class="multilingual-box" ng-show="multilingualList.CourseList3.length>0">
            <img src="activities/img/multilingual/3@3x.png" />
            <div class="col col-50" ng-repeat="(index,l) in multilingualList.CourseList3" ng-if="index<num3" ng-include="'course.html'" ng-click="toCourseDate(l.ProductId)">

            </div>
            <div class="multilingual-btn-more" ng-show="multilingualList.CourseList3.length>2">
                <button ng-click="setData(multilingualList.CourseList3.length,$event,'num3')">点击查看更多相关课程</button>
            </div>
        </div>
        <div class="multilingual-box" ng-show="multilingualList.CourseList4.length>0">
            <img src="activities/img/multilingual/4@3x.png" />
            <div class="col col-50" ng-repeat="(index,l) in multilingualList.CourseList4" ng-if="index<num4" ng-include="'course.html'" ng-click="toCourseDate(l.ProductId)">

            </div>
            <div class="multilingual-btn-more" ng-show="multilingualList.CourseList4.length>2">
                <button ng-click="setData(multilingualList.CourseList4.length,$event,'num4')">点击查看更多相关课程</button>
            </div>
        </div>
        <div class="multilingual-box" ng-show="multilingualList.CourseList5.length>0">
            <img src="activities/img/multilingual/5@3x.png" />
            <div class="col col-50" ng-repeat="(index,l) in multilingualList.CourseList5" ng-if="index<num5" ng-include="'course.html'" ng-click="toCourseDate(l.ProductId)">

            </div>
            <div class="multilingual-btn-more" ng-show="multilingualList.CourseList5.length>2">
                <button ng-click="setData(multilingualList.CourseList5.length,$event,'num5')">点击查看更多相关课程</button>
            </div>
        </div>
        <div class="multilingual-teacher-box">
            <img src="activities/img/multilingual/teacher.png"/>
            <ion-scroll direction='x' scrollbar-x='false'>
                <div class="row">
                    <div class="col col-25" ng-repeat="t in teacherList">
                        <img ng-src="{{t.Image}}" />
                        <p>{{t.Name}}</p>
                    </div>
                </div>
            </ion-scroll>
        </div>
        <a ng-click="tele()" class="title time-footer multilingual-footer">
            <img class="footer-bar-contact-content-phone" image-lazy-src="activities/img/multilingual/phone_icon@3x.png" />
            <span class="footer-bar-contact-content-phonenumber" >400-803-6611</span>
        </a>
    </ion-content>

  <script type="text/ng-template" id="course.html">
    <p class="multilingual-xuefen">{{l.Price}}<span>学分</span></p>
    <div>
      <img ng-src="{{l.Image}}" />
      <div class="multilingual-courseinfo">
        <p>{{l.ProductName}}</p>
        <p>课程讲师：{{l.TeacherName}}</p>
      </div>
      <div class="multilingual-class">
        课时数:{{l.Hour}}
        <p ng-hide="all">
          <span class="star" ng-class="{ban:index>=15}" ng-hide="index>=18"></span>
          <span class="star" ng-class="{ban:index>=12}" ng-hide="index>=15"></span>
          <span class="star" ng-class="{ban:index>=9}" ng-hide="index>=12"></span>
          <span class="star" ng-class="{ban:index>=6}" ng-hide="index>=9"></span>
          <span class="star" ng-class="{ban:index>=3}" ng-hide="index>=6"></span>
        </p>
      </div>
    </div>
  </script>

</ion-view>
