<ion-pane class="set">
  <ion-header-bar class="freexf-bar lightgray">
    <div class="title">设置</div>
  </ion-header-bar>
  <div class="list has-header">
    <ul class="setlist" sets-router></ul>
    <div ng-click="toQuit()" ng-if="log" class="button quit">退出登录</div>
  </div>
  <div class="freexf-contact" ng-show="showcontactour">
    <div class="phonecontent">
      <div class="phone">{{tel400}}</div>
      <div class="btn">
        <a class="cancel" href="" ng-click="hidecontact()">取消</a>
        <a class="dial" ng-click="hidecontact()" href="tel:{{tel400}}">拨打</a>
      </div>
    </div>
  </div>
</ion-pane>


