<style>
  .calendar-slogan{height:36px;background:#985522;text-align:center;line-height:36px;color:#fff;text-align:left;padding:0 4%; margin-top:-8px;}
  .calendar-slogan p{font-size:15rem;position:relative;margin:0;}
  .calendar-slogan p span{position:absolute;right:0;font-size:10rem;}
  .calendar-box{padding:0 4%;position:relative;}
  .calendar-box p{color:#8a381c;margin-bottom:20px;position:relative;top:-10px;}
  .calendar-box p em{display:inline-block;font-size:15rem;float: left;}
  .calendar-box i{font-size:7rem;line-height:8px;margin-top:8px;width: 3em;display: block;float: left;}
  #calendar{clear:both;margin-top:10px;}
  #calendar table{width:100%;text-align:center;}
  #calendar table thead{}
  #calendar table th{background:#af5638;color:#fff;line-height:22px;font-size:10rem;margin-bottom:10px;display:block;float:left;}
  #calendar table td{border:1px #CCCCCC solid;color:#7d7d7d;margin:4rem 2rem;position:relative;display:block;margin:2px 1px;width:14%;float:left;}
  #calendar table td.mark:before{content:'';width:10%;height:10%;position:absolute;left:44%;bottom:11%;background:#aaa;border-radius:50%;}
  #calendar table td.on{background:#c56747;color:#fff;}
  #calendar table td.today.mark:before{background:#fff;}
  #calendar table td.active{background:#dcdcdc;}
  #calendar table td font + font {display:none;}
  .time-information{clear:both;margin-top:20px;}
  .time-information>p{width:100%;border-top:5px #dcdcdc solid;border-bottom:1px #dcdcdc solid;line-height:40px;padding:0 7%;position:relative;font-size:12rem;}
  .time-information>p:before{position:absolute;content:'';width:4px;height:26px;top:7px;left:4%;background:#8a381c;border-top-left-radius:3px;border-top-right-radius:3px;border-bottom-left-radius:3px;border-bottom-right-radius:3px;}
  .time-information ul{padding:0 7%;}
  .time-information ul li{position:relative;padding-left:65px;font-size:10rem;color:#626262;}
  .time-information ul li p{margin:0 0 5px;}
  .time-information ul li em{position:absolute;left:0;color:#8a381c;font-size:12rem;}
  .time-footer{width:100%;display:block;height:44px;border-top:1px #985522 solid;text-align:center;line-height:44px;margin-top:30px;}
  .time-footer span{color:#985522!important;}
  /*.footer{width:100%;margin-top:20px;border-top:1px #27a59c solid;line-height:44px;color:#27a59c;font-size: 18rem;vertical-align: middle;padding-left: 10px;display: inline-block;text-align:center;}*/
  /*.footer img{width: 22px;vertical-align: middle;}*/
  .calendar-tip{text-align:right;font-size:10rem;color:#9D9D9D!important;margin-top:15px!important;padding: 0 5px;}

  .calendar-box .btn-groups{position:absolute;right:4%;top:-10px;width: 50%;text-align: right;}
  .calendar-box .btn-groups button{color:#af5638;background:#fff;border:1px #af5638 solid;}
  .calendar-box .btn-groups button.activated,
  .calendar-box .btn-groups button.active{background:#af5638;color:#fff;}
</style>
<ion-view coures-scroll view-title="考试时间表">
    <ion-header-bar class="freexf-bar">
        <div class="bar-left">
            <a href="#home" class="button-clear freexf-back freexf-left">
                <i class="icon freexf-gohomeback"></i>
            </a>
        </div>
        <div class="title">考试时间表</div>
    </ion-header-bar>
    <ion-content lazy-scroll class="has-header">
        <div class="olympic-banner">
           <img image-lazy-src="activities/img/examinationTime/banner@3x.png"/>
        </div>
        <div class="calendar-slogan">
            <p>考试时间表<span>全国各类考试</span></p>
        </div>
        <div class="calendar-box">
            <p>
                <em>8月26日</em>
                <i>2016</i>
            </p>
            <div class="btn-groups">
                <button ng-click="onSwipeRight()" ng-disabled="prev" ng-class="{active:prev}">上一月</button>
                <button ng-click="onSwipeLeft()" ng-disabled="next" ng-class="{active:next}">下一月</button>
            </div>
            <div id="calendar">
                <table cellspacing="10">
                    <thead>
                        <tr>
                            <th>周一</th>
                            <th>周二</th>
                            <th>周三</th>
                            <th>周四</th>
                            <th>周五</th>
                            <th>周六</th>
                            <th>周日</th>
                        </tr>
                    </thead>
                    <tbody id="CalendarLists" firstday="1" on-swipe-right="onSwipeRight()" on-swipe-left="onSwipeLeft()">
                    </tbody>
                </table>
            </div>
            <p class="calendar-tip">注：会计从业资格证时间各地不同</p>
        </div>
        <div class="time-information">
            <p>考试资讯：</p>
            <ul>
                <li><em></em><p></p></li>
                <li><p></p></li>
                <li><p></p></li>
                <li><p></p></li>
                <li><p></p></li>
            </ul>
        </div>
        <a href="tel:{{tel400}}" class="title time-footer">
            <img class="footer-bar-contact-content-phone" image-lazy-src="activities/img/examinationTime/phone-b@3x.png" />
            <span class="footer-bar-contact-content-phonenumber" >{{tel400}}</span>
        </a>
    </ion-content>
</ion-view>
