<style>
  .invitefriends{background:#FEDCEA;}
  .invitefriends img{width:100%;}
  .invitefriends-slogan{text-align:center;color:#fff;padding:0 4%;margin-top:27px;}
  .invitefriends-slogan img,
  .invitefriends-rules img,
  .invitefriends-ranking img,
  .invitefriends-gifts img{width:100%;display:block;}
  .invitefriends-slogan p,
  .invitefriends-rules p{background:#fe7b9a;border-bottom-left-radius:10px;border-bottom-right-radius:10px;padding:15px;font-size:12rem;margin:0;display: block;}
  .introductions-btn{width:60%;margin:30px auto;}
  .invitefriends-rules{color:#fff;padding:0 4%;margin-top: 27px;}
  .invitefriends-rules p{font-size:12rem;color:#fefdfd;text-align:left;}
  .invitefriends-rules p span{font-size:9px;text-align:center;display:block;margin-top:5px;}
  .invitefriends-ranking{padding:0 4%;margin-top:27px;}
  .invitefriends-ranking ul{padding:15px 10px 10px;background:#fe7b9a;font-size:12rem;color:#fff;border-bottom-left-radius:10px;border-bottom-right-radius:10px;}
  .invitefriends-ranking ul li{padding-left:15%;position:relative;height:45px;line-height:45px;margin-bottom:10px;}
  .invitefriends-ranking ul li>img{display:inline-block;height:25px;width:auto;float:left;margin-top:10px;margin-left:5px;}
  .invitefriends-ranking ul li:nth-child(1)>img,
  .invitefriends-ranking ul li:nth-child(2)>img,
  .invitefriends-ranking ul li:nth-child(3)>img{height:45px;margin-top:0;margin-left:0;}
  .invitefriends-ranking ul li>p{display:inline-block;float:left;position:absolute;width:66%;right:0;}
  .invitefriends-ranking ul li>p span{line-height:45px;position:absolute;right:30px;}
  .invitefriends-ranking ul li:before{content:'';position:absolute;left:10px;bottom:0;width:35px;height:45px;}
  .invitefriends-ranking ul li:nth-child(1):before{background:url(./activities/img/invitefriends/king1.png) no-repeat;background-size: auto 90%;left:0;background-position:0 bottom;}
  .invitefriends-ranking ul li:nth-child(2):before{background:url(./activities/img/invitefriends/king2.png) no-repeat;background-size: auto 90%;left:0;background-position:0 bottom;}
  .invitefriends-ranking ul li:nth-child(3):before{background:url(./activities/img/invitefriends/king3.png) no-repeat;background-size: auto 90%;left:0;background-position:0 bottom;}
  .invitefriends-ranking ul li:nth-child(4):before{content:'4';}
  .invitefriends-ranking ul li:nth-child(5):before{content:'5';}
  .invitefriends-ranking ul li:nth-child(6):before{content:'6';}
  .invitefriends-ranking ul li:nth-child(7):before{content:'7';}
  .invitefriends-ranking ul li:nth-child(8):before{content:'8';}
  .invitefriends-ranking ul li:nth-child(9):before{content:'9';}
  .invitefriends-ranking ul li:nth-child(10):before{content:'10';left:8px;}
  .invitefriends-gifts{padding:0 4%;margin-top:27px;}
  .invitefriends-gifts p{background:#fe7b9a;border-bottom-left-radius:10px;border-bottom-right-radius:10px;padding-bottom:10px;}
  .invitefriends-gifts div{padding:10px 10px 5px;background:#fe7b9a;border-bottom-left-radius:10px;border-bottom-right-radius:10px;}
  .invitefriends-gifts div p{position:relative;margin-top:5px;padding-bottom:0;}
  .invitefriends-gifts div p a{display:block;width:49%;}
  .invitefriends-gifts div p>img{width:49%;height:auto;}
  .invitefriends-gifts div p>img{position:absolute;right:0;top:0;z-index:10;}
  /*.invitefriends-dialogbg{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.4);z-index:10;}*/
  .invitefriends-dialog{background:rgba(0,0,0,.4);}
  .invitefriends-dialog .popup{border-radius:10px;width: 80%;background:rgba(0,0,0,0);border-radius:10px;position:relative;}
  .invitefriends-dialog .popup-body{padding-top:30%;    position: relative;}
  .invitefriends-dialog .popup-body .box{background:#fff;border-radius:10px;padding:15px;}
  .invitefriends-dialog .popup-body>img{position:absolute;width:100%;left:0;top:0;}
  .invitefriends-dialog .popup-buttons{position:absolute;top:-3%;right:0;opacity:0;width: 50%;}
  .invitefriends-dialog .popup-head{display:none;}
  .invitefriends-dialog .popup-body>div h2{font-size:11rem;margin-top:14%;color:#000;font-weight:bold;}

  .invitefriends-dialog .popup-body #shareLinkInput{position:relative;color:#fff;width:100%;background:#f4446e;line-height:14px;border-radius:7px;padding:5px 10px 15px;height: 65px;-moz-border-radius:5px; -webkit-border-radius:5px;white-space:normal;word-break:break-all;}
  .invitefriends-dialog .popup-body #shareLinkInput:before{content:'';position:absolute;width:30px;height:30px;background:url(./activities/img/invitefriends/icon-14@3x.png) no-repeat;background-size: auto 90%;right: -5px;top: -20px;}
  .invitefriends-dialog .popup-body .qcode p{color:#f54870;font-size:8rem;text-align:center;}
  .code{text-align: center;}
  .code img{width:126px;margin:10px auto;}
  #code{position:absolute;top:-700px;left:0;z-index:-10;}
  @media screen and (max-width: 321px) {
    .invitefriends-dialog .popup-body img{}
    .invitefriends-dialog .popup-buttons{}
  }

  .invitefriends-ranking ul li>p em{width:40%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;display:inline-block;}

  .time-footer{width:100%;display:block;height:44px;text-align:center;line-height:44px;margin-top:30px;}
  .time-footer.invitefriends-footer span{color:#ef7b9a!important;}
  .invitefriends-footer{border-top:1px #ffb1be solid;}

</style>
<ion-view coures-scroll view-title="邀请好友一起学">
  <ion-header-bar class="freexf-bar">
    <div class="bar-left">
      <a href="#home" class="button-clear freexf-back freexf-left">
        <i class="icon freexf-gohomeback"></i>
      </a>
    </div>
    <div class="title">邀请好友一起学</div>
  </ion-header-bar>
  <ion-content lazy-scroll class="has-header invitefriends">
    <div class="olympic-banner">
      <img image-lazy-src="activities/img/invitefriends/invitefriends-header-@3x.png"/>
    </div>
    <div class="invitefriends-slogan">
      <img src="activities/img/invitefriends/introductions-@3x.png"/>
      <p>
        分享您的“邀请好友链接/二维码”给小伙伴，邀请他们注册成为“学费
        全免网”用户，活动结束后，以邀请好友注册人数最多的前10名用户可
        获得丰厚奖品！
      </p>
    </div>
    <div class="invitefriends-gifts">
      <img src="activities/img/invitefriends/gifts.png"/>
      <p>
        <img src="activities/img/invitefriends/gifts.jpg"/>
      </p>
    </div>
    <div class="introductions-btn" ng-click="showDialog()">
      <img src="activities/img/invitefriends/introductions-btn@3x.png"/>
    </div>
    <div class="invitefriends-ranking">
      <img src="activities/img/invitefriends/ranking-list.png"/>
      <ul>
        <li ng-repeat="(index,l) in kingList">
          <img ng-src="activities/img/invitefriends/{{index}}.png"/>
          <p>
            <em>{{l.NickName| nameFilter}}</em>
            <span>{{l.Mobile| phoneFilter}}</span>
          </p>
        </li>
      </ul>
    </div>
    <div class="invitefriends-rules">
      <img src="activities/img/invitefriends/rules-@3x.png"/>
      <p>
        1、活动时间：即日起至2016年9月16日24时止；
        <br/>2、凡学费全免网注册用户，即可参加活动邀请好友，被邀请
        人需在2016年9月16日24时前通过您分享的“链接/二维码”
        注 册；
        <br/> 3、活动结束，榜单前3名用户每人可获得新版kindle1个，第
        4-10名用户每人可获得小米移动电源（10000毫安）1个。
        <br/>4、活动结束后5个工作日内，活动页面上会公布获奖用户名
        单，我们会通过手机短信/电话通知获奖用户，进行领奖信息
        确认，活动结束后的20个工作日内邮寄奖品。
        <span>注意事项:活动中如果发现通过作弊手段获得奖励的，将取消奖励！</span>
      </p>
    </div>
    <div class="invitefriends-gifts">
      <img src="activities/img/invitefriends/more-active.png"/>
      <div>
        <a href="#/classlearning">
          <img src="activities/img/invitefriends/ipad.jpg"/>
        </a>
        <p>
          <a href="http://weibo.com/u/5651305430"><img src="activities/img/invitefriends/mobilepower.jpg"/></a>
          <img src="activities/img/invitefriends/wechat.jpg"/>
        </p>
      </div>
    </div>
    <div id="code"></div>
    <a href="tel:400-803-6611" class="title time-footer invitefriends-footer">
      <img class="footer-bar-contact-content-phone" image-lazy-src="activities/img/invitefriends/phone-icon@3x.png"/>
      <span class="footer-bar-contact-content-phonenumber">400-803-6611</span>
    </a>
  </ion-content>
</ion-view>
