<ion-view coures-scroll view-title="花样韩语轻松学">
    <ion-header-bar class="freexf-bar">
        <div class="bar-left">
            <a href="#home" class="button-clear freexf-back freexf-left">
                <i class="icon freexf-gohomeback"></i>
            </a>
        </div>
        <div class="title">花样韩语轻松学</div>
        <!--<div class="bar-right">
            <button class="button-clear freexf-consult"><span>咨询</span></button>
        </div>-->
    </ion-header-bar>

    <ion-footer-bar class="footer-bar-contact">
        <a href="tel:400-803-6611" class="title">
            <img class="footer-bar-contact-content-phone" image-lazy-src="activities/img/korean/phone@3x.png" />
            <span class="footer-bar-contact-content-phonenumber">400-803-6611</span>
        </a>
    </ion-footer-bar>

    <ion-content lazy-scroll class="has-header has-footer korean">
       <div class="olympic-banner">
           <img image-lazy-src="activities/img/korean/banner.png"/>
       </div>
        <div class="korean-slogan">
            <img image-lazy-src="activities/img/korean/slogan@3x.png" />
        </div>
        <div class="section">
            <div class="korean-box">
                <img image-lazy-src="activities/img/korean/korean-talk.png" />
                <p>
                    无论是赴韩旅游、在韩企工作还是因为个人爱好，我们的课程从入门到精通，总有一款适合你。<br /><br />
                    课程形式多样化，内容丰富，从听、说、读、写四个方面全面提升韩语综合能力。我们的明星讲师拥有风趣的教学风格，并梳理出一系列独特的教学系统，让学员在学习过程中思虑清晰，学得有趣。
                </p>
            </div>
            <div class="korean-box">
                <img image-lazy-src="activities/img/korean/korean-Basics-course.png" />
                <dl>
                    <dt ng-click="toCourseDate('af87a4d5c1bc4c56bb46ea8bdf7ffc40')">
                        <img image-lazy-src="activities/img/korean/basics1-50@3x.png" />
                    </dt>
                    <dd>
                        <img image-lazy-src="activities/img/korean/course-1.png" />
                    </dd>
                    <button ng-click="toCourseDate('af87a4d5c1bc4c56bb46ea8bdf7ffc40')"></button>
                </dl>    
                <dl>
                    <dt ng-click="toCourseDate('39377fcbc7634366aafa0d4b28de6994')">
                        <img image-lazy-src="activities/img/korean/basics2-2000@3x.png" />
                    </dt>
                    <dd>
                         <img image-lazy-src="activities/img/korean/course-2.png" />
                    </dd>
                    <button ng-click="toCourseDate('39377fcbc7634366aafa0d4b28de6994')"></button>
                </dl>    
                <dl>
                    <dt ng-click="toCourseDate('686540d9ef674826ad5dfd5ed85d4b08')">
                        <img image-lazy-src="activities/img/korean/basics-2600@3x.png" />
                    </dt>
                    <dd>
                        <img image-lazy-src="activities/img/korean/course-3.png" />
                    </dd>
                    <button ng-click="toCourseDate('686540d9ef674826ad5dfd5ed85d4b08')"></button>
                </dl>    
            </div>
            <div class="korean-box">
                <img image-lazy-src="activities/img/korean/korean-crashcourse-shopping.png" />
                <dl>
                    <dt ng-click="toCourseDate('001922089e854688ae05277ede62645c')">
                        <img image-lazy-src="activities/img/korean/shopping@3x.png" />
                    </dt>
                    <dd>
                        <img image-lazy-src="activities/img/korean/course-4.png" />
                    </dd>
                    <button ng-click="toCourseDate('001922089e854688ae05277ede62645c')"></button>
                </dl>  
                <div>
                    <img image-lazy-src="activities/img/korean/shopping2-28@3x.png" />
                    <img image-lazy-src="activities/img/korean/shopping3-29@3x.png" />
                </div>
                <p style="text-indent:2rem">繁华朝气的首尔、港都风情的釜山，时尚潮流的韩装和种草无数的化妆品，想让人分分钟直奔韩国，旅游！购物！嗨起来！可玩耍不愉快，交流有障碍，怎么办？一课搞定，畅游韩国！</p>              
            </div>
            <div class="korean-box">
                <img image-lazy-src="activities/img/korean/korean-Seethe dramaword.png" />
                <dl>
                    <dt ng-click="toCourseDate('3c5b338dd0b34994b6320cdf83d0550a')">
                        <img image-lazy-src="activities/img/korean/Seethe-dramaword@3x.png" />
                    </dt>
                    <dd>
                        <img image-lazy-src="activities/img/korean/course-5.png" />
                    </dd>
                    <button ng-click="toCourseDate('3c5b338dd0b34994b6320cdf83d0550a')"></button>
                </dl>                   
                <br />
            </div>
        </div>
        <div class="korean-hr">
            <p ng-click="more()">查看更多</p>
        </div>
    </ion-content>
</ion-view>