<ion-view view-title="忘记密码">
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-clear"></button>
  </ion-nav-buttons>
  <ion-content class="forgetpassword">
    <form name="forgetForm" novalidate="novalidate">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">{{forget.labelphone}}</span>
          <input type="text" placeholder="{{forget.labelphone}}" name="phone" ng-model="forget.phone" ng-pattern="/^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57]|99[0-9])[0-9]{8}$/" required>
          <span class="ion-checkmark text-true-ionc {{forgetForm.phone.$invalid}}" ng-hide="forgetForm.phone.$invalid"></span>
        </label>
        <div class="item item-input item-floating-label">
          <span class="input-label">{{forget.labelcode}}</span>
          <input type="password" placeholder="{{forget.labelcode}}" name="code" class="inputCode" ng-model="forget.code" required>
          <div class="codeBox">
            <div class="CodeImg">
              <img style="width:100%" src="{{CodeImg.img}}"/>
            </div>
            <div class="CodeButton">
              <a ng-click="CodeImg.getNew()">看不清楚？换一张</a>
            </div>
          </div>
        </div>
        <div class="item item-input item-floating-label">
          <span class="input-label">{{forget.labelphonecode}}</span>
          <input type="text" placeholder="{{forget.labelphonecode}}" class="inputCode" ng-model="forget.phonecode" required>
          <button class="small-idcode-button" ng-click="PhoneCode($event)" type="button" ng-disabled="forgetForm.phone.$invalid || forgetForm.code.$invalid">获取验证码</button>
        </div>
        <label class="item item-input item-floating-label">
          <span class="input-label">{{forget.labelpassword}}</span>
          <input type="password" placeholder="{{forget.labelpassword}}" name="password" ng-model="forget.password" ng-pattern="/^.{8,30}$/" required>
          <span class="ion-checkmark text-true-ionc" ng-hide="forgetForm.password.$invalid"></span>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label {{forgetForm.confirmPassword.$invalid || forget.password!=forget.confirmPassword}}">{{forget.labelconfirmPassword}}</span>
          <input type="password" placeholder="{{forget.labelconfirmPassword}}" name="confirmPassword" ng-model="forget.confirmPassword" ng-change="passwordAccord()"  ng-pattern="/^.{8,30}$/" required>
          <span class="ion-checkmark text-true-ionc" ng-hide="forgetForm.confirmPassword.$invalid || forget.password!=forget.confirmPassword"></span>

        </label>
        <!--<button class="button button-block button-balanced">
                马上注册
            </button>-->
      </div>
      <div class="freexf-padding-24">

        <button class="button button-block freexf-button-balanced freexf-margin-bottom-30" ng-click="forgetpassword($event)" ng-disabled="forgetForm.$invalid">
          修改密码
        </button>

      </div>
    </form>
  </ion-content>

</ion-view>


