<ion-view view-title="意见反馈">
  <ion-header-bar default-header-bar class="freexf-bar lightgray">
    <div class="bar-left">
      <button class="button-clear freexf-back freexf-left" default-nav-back-button ng-click="goBack()">
        <i class="icon freexf-goback"></i>
      </button>
    </div>
    <div class="title">设置</div>
  </ion-header-bar>
  <ion-content class="ideafeedback">
    <form name="ideaForm" novalidate>
      <div action="" class="setform">
        <label for="describe">意见描述</label>
        <textarea type="text" class="describe" id="describe" ng-model="idea.as_content" rows="10" required  ></textarea>
        <label for="phonenumber">手机号码</label>
          <input id="phonenumber"class="phonenumber"  name="private_phone" placeholder="请输入正确的手机号码"  ng-model="idea.as_mobile" ng-pattern="/^(1[0-9][0-9]|99[0-9])[0-9]{8}$/" required="required" type="text" />
        <button class="button button-block" ng-click="submitidea()" ng-disabled="ideaForm.$invalid">提交</button>
      </div>
    </form>
  </ion-content>
</ion-view>
