<ion-modal-view ng-controller="login_ctrl" class="content-modal">

  <ion-header-bar class="freexf-bar lightgray">
    <div class="bar-left">
      <button class="button-clear" ng-click="modal.closeModal('login')"><span>关闭</span></button>
    </div>
    <div class="title bar-center">登录</div>

  </ion-header-bar>

  <ion-content>
    <form name="loginForm">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">输入账号</span>
          <input type="text" placeholder="输入账号" ng-model="login.phone" fx-validate="require:phone;format:phone;" id="isLoginPhone">

        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">输入密码</span>
          <input type="password" placeholder="输入密码" ng-model="login.password" autocomplete="off" fx-validate="require:password;" id="isLoginPassword">
        </label>
      </div>
      <div class="freexf-padding-24">
        <button class="button button-block freexf-button-balanced freexf-margin-bottom-30" fx-validate="submit()" id="isToLogin"
                ng-click="toLogin($event,loginForm)">
          登录
        </button>
        <div class="freexf-clear">
          <div class="freexf-checkbox freexf-left">
            <label class="label-checkbox">
              <input type="checkbox" ng-model="login.rememberPw">
            </label>
            记住密码
          </div>
          <!--<div class="bg-img " style="background-position: -10px -10px;width: 30px;height: 30px;float: right;"></div>-->
          <a class="freexf-font-13 freexf-right" href="#/forgetpassword" ng-click="modal.closeModal('login')" id="isHrefForget">忘记密码</a>
        </div>
      </div>
      <a ng-click="register()" class="freexf-bottom-register">
        还没有账号?点击注册!
      </a>
    </form>

  </ion-content>

</ion-modal-view>
