<ion-view view-title="修改密码">

  <ion-header-bar default-header-bar class="freexf-bar lightgray">
    <div class="bar-left">
      <button class="button-clear freexf-back freexf-left" default-nav-back-button ng-click="goBack()">
        <i class="icon freexf-goback"></i>
      </button>
    </div>
    <div class="title">修改密码</div>
  </ion-header-bar>
  <ion-content class="modifypassword">
    <form name="modifyForm" novalidate="novalidate">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label has-input">{{modify.labelphone}}</span>
          <span class="fixNumber" id="isPhone">{{phone}}</span>
        </label>
        <div class="item item-input item-floating-label">
          <span class="input-label">{{modify.labelphonecode}}</span>
          <div class="input-left-box">
            <input type="text" placeholder="{{modify.labelphonecode}}" class="inputCode" ng-model="modify.phonecode" id="isLabelPhoneCode"
                   fx-validate="require:phoneCode;">
          </div>
          <button class="small-idcode-button" ng-click="PhoneCode($event,modifyForm)" id="isPhoneCode" type="button">获取验证码
          </button>

        </div>
        <label class="item item-input item-floating-label">
          <span class="input-label">{{modify.labelpassword}}</span>
          <input type="password" placeholder="{{modify.labelpassword}}" name="password" ng-model="modify.password" id="isLabelPassword"
                 fx-validate="require:password;format:password8_30;">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label {{modifyForm.confirmPassword.$invalid || modify.password!=modify.confirmPassword}}">{{modify.labelconfirmPassword}}</span>
          <input type="password" placeholder="{{modify.labelconfirmPassword}}" name="confirmPassword" id="isLabelConfirmPassword"
                 ng-model="modify.confirmPassword" ng-change="passwordAccord()" fx-validate="require:confirmPassword;format:password8_30;">

        </label>
        <!--<button class="button button-block button-balanced">
                马上注册
            </button>-->
      </div>
      <div class="freexf-padding-24">

        <button class="button button-block freexf-button-balanced freexf-margin-bottom-30" fx-validate="submit()"
                ng-click="modifypassword($event,modifyForm)" id="isModifyPassword">
          修改密码
        </button>

      </div>
    </form>
  </ion-content>

</ion-view>
