<ion-view view-title="我的课程">
  <ion-header-bar default-header-bar class="freexf-bar lightgray">
    <div class="bar-left">
      <button class="button-clear freexf-back freexf-left" default-nav-back-button ng-click="goBack()">
        <i class="icon freexf-goback"></i>
      </button>
    </div>
    <div class="title">我的课程</div>
    <div class="bar-right">
      <button class="button-clear freexf-consult"><span>咨询</span></button>

    </div>
  </ion-header-bar>
  <ion-content lazy-scroll class="mycourse freexf-bg-gray">
    <div class="content  ionic-pseudo">
      <div class="list">
        <ul>
          <li class="orderList" ng-repeat="m in mycourselist">
            <div class="OrderDetail" ng-init="isExpired=(m.DaysRemaining==0)?true:false">
              <div class="courseDetail-list" ng-click="goStudy(m.ProductId,1,m.Lstatus&&isExpired);">
                <div class="image" ng-class="{floor:isExpired,soldout:m.Lstatus&&isExpired}">
                  <img ng-src="{{m.cover}}" width="100%" alt="{{m.ClassName}}">
                </div>
                <div class="courseDetail-words">
                  <h2>{{m.ClassName}}</h2>
                  <div class="courseList">
                    <p class="name" ng-show="m.teachername">•&nbsp;讲师<i>{{m.teachername}}</i></p>
                    <span class="count">•&nbsp;<i>{{m.ClassHours}}</i>课时</span>
                    <p class="xf">•<span>{{m.SetOrderTime|dateshow}}</span>-<span>&nbsp;{{m.Deadline|dateshow}}</span></p>
                  </div>
                </div>
              </div>
              <div class="progress">
                <div class="progress-bar">
                  <div class="full">
                    <span style="width:{{m.Percent}}%;" class="finish done"></span>
                  </div>
                  <span id="isFinish">完成度<i>{{m.Percent}}%</i></span>
                </div>
                <div class="progress-bar">
                  <div class="full" ng-init="validity=m.validity=='0'?1:m.validity">
                    <span style="width:{{(m.DaysRemaining/validity)*100}}%;" class="finish days"></span>
                  </div>
                  <span id="isFinishDay">剩余天数<i>{{m.DaysRemaining}}天</i></span>
                </div>
              </div>
              <div class="btnGrounp">
                <button style="float: left;" class="button button-stable" ng-click="go('mycoursenote',m.ProductId)">笔记</button>
                <button class="button button-assertive" ng-click="go('mycoursementoring',m.ProductId)">答疑</button>
              </div>
            </div>
          </li>
        </ul>
        <ion-infinite-scroll ng-if="uppageshow" on-infinite="doRefresh()" distance="1%"></ion-infinite-scroll>
        <div ng-hide="uppageshow" class="freexf-nullmsg">{{bottomtext}}</div>
      </div>
    </div>
  </ion-content>
</ion-view>
