<ion-modal-view ng-controller="register_ctrl" class="content-modal">
  <ion-header-bar class="freexf-bar lightgray">
    <div class="bar-left">
      <button class="button-clear" ng-click="modal.closeModal('register')"><span>关闭</span></button>
    </div>
      <div class="bar-right">
          <button class="button-clear" ng-click="login()"><span>登录</span></button>
      </div>
    <div class="title">注册</div>

  </ion-header-bar>
  <ion-content class="register">
    <form name="registerForm" novalidate="novalidate">
      <div class="list">
        <div class="item item-input item-floating-label">
          <span class="input-label ">{{user.labelphone}}</span>
          <input type="text" placeholder="{{user.labelphone}}" name="phone" ng-model="user.phone" fx-validate="require:phone;format:phone;">
        </div>
        <div class="item item-input item-floating-label">
          <span class="input-label">{{user.labelcode}}</span>
          <div class="input-left-box" style="width:67%;">
            <input type="text" placeholder="{{user.labelcode}}" class="inputCode" name="code" ng-model="user.code" autocomplete="off" fx-validate="require:imgCode">
          </div>
          <div class="codeBox" style="width: 29%;">
            <div class="CodeImg">
              <img style="width: 100%;" src="{{CodeImg.img}}" alt="验证码图片"/>
            </div>
            <div class="CodeButton">
              <a ng-click="CodeImg.getNew()">看不清楚？换一张</a>
            </div>
          </div>
        </div>

        <div class="item item-input item-floating-label">
          <span class="input-label">{{user.labelphonecode}}</span>
          <div class="input-left-box" style="width:67%;">
            <input type="text" placeholder="{{user.labelphonecode}}" id="isPhoneCode" class="inputCode" name="phonecode" autocomplete="off"
                   ng-model="user.phonecode" fx-validate="require:phoneCode">
          </div>
          <button class="small-idcode-button" style="width: 29%;" ng-click="PhoneCode($event,registerForm)" id="isPhoneCodeReply"  fx-validate="submit('phone','code')">获取验证码
          </button>
        </div>
        <div class="item item-input item-floating-label">
          <span class="input-label">{{user.labelpassword}}</span>
          <input type="password" placeholder="{{user.labelpassword}}" name="password" ng-model="user.password"id="isPasswordInput" autocomplete="off"
                 fx-validate="require:password;format:password8_30">
        </div>
        <div class="item item-input item-floating-label">
          <span class="input-label {{registerForm.confirmPassword.$invalid || user.password!=user.confirmPassword}}">{{user.labelconfirmPassword}}</span>
          <input type="password" placeholder="{{user.labelconfirmPassword}}" name="confirmPassword" id="isPasswordSure" autocomplete="off"
                 ng-model="user.confirmPassword" ng-change="passwordAccord()" fx-validate="require:confirmPassword;format:password8_30">
        </div>
      </div>
      <!--      <div class="freexf-padding-24 clearfix">
              <div class="freexf-checkbox freexf-left">
                <label class="label-checkbox">
                  <input type="checkbox" ng-model="user.agreement">
                </label>
                我已阅读并同意
              </div>
              <a class="freexf-agreement"  href="">《用户协议》</a>
            </div>-->
      <div class="freexf-padding-24">
        <button type="button" class="button button-block freexf-button-balanced freexf-margin-bottom-30"
                fx-validate="submit()" ng-click="register($event,registerForm)">
          马上注册
        </button>
      </div>
    </form>
  </ion-content>

</ion-modal-view >

