<ion-view view-title="设置">

  <ion-header-bar default-header-bar class="freexf-bar lightgray">
    <div class="bar-left">
      <button class="button-clear freexf-back freexf-left" default-nav-back-button ng-click="goBack()">
        <i class="icon freexf-goback"></i>
      </button>
    </div>
    <div class="title">设置</div>
    <div class="bar-right">
      <button class="button-clear freexf-consult"><span>咨询</span></button>

    </div>
  </ion-header-bar>
  <ion-content class="set">
    <div class="list">
      <ul class="setlist">
        <li><a href="#/aboutus">关于学费全免网</a></li>
        <li><a href="" ng-click="showcontact()">联系我们</a></li>
        <li><a href="#/ideafeedback">意见反馈</a></li>
        <li><a href="#/commonfaq">常见问题</a></li>
      </ul>
      <div class="changepassword" ng-class="{false:'logout-set'}[log]"><a href="#/modifypassword" id="changePassword">修改密码</a>
      </div>
      <div class="quit" ng-if="log">
        <button ng-click="toQuit()" class="button quitbtn button-block" id="isToQuitSet">退出登录</button>
      </div>
    </div>
    <div class="freexf-contact" ng-show="showcontactour">
      <div class="phonecontent">
        <div class="phone">400-686-5511</div>
          <div class="btn">
              <a class="cancel" href="" ng-click="hidecontact()" id="isCancelSet">取消</a>
              <a class="dial" ng-click="hidecontact()" href="tel:400-686-5511" id="isCallSet">拨打</a>
          </div>
      </div>
    </div>
  </ion-content>
</ion-view>
