<ion-modal-view ng-controller="pay_ctrl" view-title="支付中心">
  <ion-header-bar default-header-bar class="freexf-bar lightgray">
    <div class="bar-left">
      <button class="button-clear freexf-back freexf-left" ng-click="$modal._back()">
        <i class="icon freexf-goback"></i>
      </button>
    </div>
    <div class="title">支付中心</div>
  </ion-header-bar>

  <ion-content class="pay">
    <div class="paycontent">
      <div class="OrderMessage">
        <p class="title" id="isPayName">{{payoname}}</p>
        <p class="price">你应付金额：<span class="money" id="isPayMoney">¥<i>{{payomoney}}</i></span></p>
        <p class="number">订单编号：<span id="isOrderId">{{orderId}}</span></p>
        <p class="time">下单时间：<span id="isSetOrderTime">{{SetOrderTime}}</span></p>
      </div>
      <div class="PayState" ng-hide="mianfeiShow">
        <div class="PayState-group" ng-hide="payhide">
          <span class="PayIcon"></span>
          <span class="PaySuccess"></span>
        </div>
      </div>
      <p class="jump" ng-show="mianfeiShow">免费课程,在3秒后自动跳转,或点击以下按钮</p>
    </div>
  </ion-content>
  <ion-footer-bar class="freexf-footer" ng-hide="payhide">
    <div class="freexf-agreement-buttons pay-buttons">
      <button class="button button-balanced"
              ng-click="openModal('payaddress',{OrderId:payood})"
              ng-show="mianfeiShow" id="isPayFinish">完成支付
      </button>
      <!--正常手机支付  微信支付-->
      <button class="button button-balanced" ng-hide="mianfeiShow" ng-click="RealTimeUpdate(ThisWX?'wxpay':'zcpay')"
              id="IsPaySurePhone">确认支付
      </button>
    </div>
  </ion-footer-bar>
</ion-modal-view>
