<ion-modal-view ng-controller="payaddress_ctrl" view-title="支付地址">

  <ion-content class="pay address">
    <div class="paycontent" ng-if="payOn">
      <div class="PayState-group">
        <div class="payOn success">支付成功</div>
        <p>完成交易,3秒后跳转至"我的课程"</p>
        <div class="TipLogo"></div>
        <button class="button button-block freexf-button-balanced freexf-margin-bottom-30" type="submit"
                id="isGoToMycourse"
                ng-click="goToMycourse()">
          点击跳转
        </button>
      </div>
    </div>

    <div class="paycontent" ng-if="payAddress">
      <div class="PayState-group">
        <div class="payOn success">支付成功</div>
        <p class="tip">本课程有教材可领，</p>
        <p class="tip">请填写下面资料免费领取哟！</p>
      </div>
      <div class="BookAddress">
        <p>教材地址：</p>
        <form name="address">
          <div class="list">
            <label class="item item-input item-floating-label">
              <span class="input-label hasInput">姓名</span>
              <input type="text" class="hasPlace" ng-model="payAddress.DeliveryUser" fx-validate="require:name"
                     id="isPayName"/>
            </label>
            <label class="item item-input item-floating-label">
              <span class="input-label hasInput">手机号</span>
              <input type="tel" class="hasPlace" ng-model="payAddress.DeliveryPhone"
                     fx-validate="require:phone;format:phone;" id="isPayNumeber"/>
            </label>
            <label class="item item-input item-floating-label">
              <span class="input-label hasInput">详细地址:</span>
              <textarea class="hasPlace" ng-model="payAddress.DeliveryAddress" rows="3" fx-validate="require:address"
                        id="isPayAddress"></textarea>
            </label>
          </div>
          <div class="freexf-padding-24">
            <button class="button button-block freexf-button-balanced freexf-margin-bottom-30" type="submit"
                    fx-validate="submit()" id="isSubmit"
                    ng-click="submit($event,address)">
              提交
            </button>
          </div>
        </form>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
