<ion-view view-title="购课立减-你的努力，我们来买单" class="freexf-courseDiscount">
    <ion-header-bar class="freexf-bar">
        <div class="bar-left">
            <a href="#home" class="button-clear freexf-back freexf-left">
                <i class="icon freexf-gohomeback"></i>
            </a>
        </div>
        <div class="title">购课立减-你的努力，我们来买单</div>
        <div class="bar-right">
            <a class="button-clear freexf-consult hearder-button-right"></a>
        </div>
    </ion-header-bar>
    <ion-footer-bar class="footer-bar-contact">
        <div class="title">
            <img class="footer-bar-contact-content-phone" image-lazy-src="activities/img/abroad/contact@3x.png" />
            <span class="footer-bar-contact-content-phonenumber">400-803-6611</span>
        </div>
    </ion-footer-bar>
    <ion-content lazy-scroll class="has-header courseDiscount">        
        <img src="activities/img/courseDiscount/banner@2x.png" />
        <div class="active-rules">
            <div class="rulesContent"><img image-lazy-src="activities/img/courseDiscount/rules@2x.png" /></div>
            <div class="discountPic"><img image-lazy-src="activities/img/courseDiscount/discount-pic@3x.png" /></div>
        </div>        

        <!--多语种-->
        <div class="active-tab multilingual">
            <img image-lazy-src="activities/img/courseDiscount/multilingual-banner@3x.png" />
            <div class="active_tab_menu">
                <ul>
                    <li class="on">日语</li>
                    <li>韩语</li>
                    <li>俄语</li>
                    <li>德语</li>
                    <li>西班牙语</li>
                    <li>法语</li>
                </ul>
            </div>

            <div class="active_tab_box">
                <!--日语-->
                <div class="active_course_list" id="japanese">
                    <ul class="zh_course_box">
                        <li class="hotCourse" ng-repeat="s in courseList1" ng-click="toCourseDate('coursedetail',{ProductId:s.ProductId})">
                            <div class="course-pic">
                                <img ng-src="{{s.Image}}" alt="a">
                                <div class="course-credit"><span>{{s.Price}}</span><i>学分</i></div>
                            </div>
                            <div class="course-txt">
                                <span class="title">{{s.ProductName}}</span>
                                <span class="teacher"><i>课程讲师：</i><span>{{s.TeacherName}}</span></span>
                            </div>

                            <div class="course-star">
                                <div class="courseNum"><i>课时数：</i><span>{{s.Hour}}</span></div>
                                <div class="starNum">
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>                
            </div>
        </div>

        <!--中小学-->
        <div class="active-tab k12">
            <img src="activities/img/courseDiscount/k12-banner@3x.png" />
            <div class="active_tab_menu">
                <ul>
                    <li class="rowOne on">四年级</li>
                    <li class="rowOne">五年级</li>
                    <li class="rowOne">六年级</li>
                    <li class="rowOne">七年级</li>
                    <li class="rowOne">八年级</li>
                    <li>中考</li>
                    <li>高一</li>
                    <li>高二</li>
                    <li>高考</li>
                    <li>奥数</li>
                    <li>微课堂</li>
                </ul>
            </div>

            <div class="active_tab_box">
                <!--四年级-->
                <div class="active_course_list" id="zh_Grade_four">
                    <ul class="zh_course_box">
                        <li class="hotCourse" ng-repeat="s in courseList2" ng-click="toCourseDate('coursedetail',{ProductId:s.ProductId})">
                            <div class="course-pic">
                                <img ng-src="{{s.Image}}" alt="a">
                                <div class="course-credit"><span>{{s.Price}}</span><i>学分</i></div>
                            </div>
                            <div class="course-txt">
                                <span class="title">{{s.ProductName}}</span>
                                <span class="teacher"><i>课程讲师：</i><span>{{s.TeacherName}}</span></span>
                            </div>

                            <div class="course-star">
                                <div class="courseNum"><i>课时数：</i><span>{{s.Hour}}</span></div>
                                <div class="starNum">
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>                
            </div>
        </div>        

        <!--会计-->
        <div class="active-tab accounting">
            <img src="activities/img/courseDiscount/accounting-banner@3x.png" />
            <div class="active_tab_menu">
                <ul>
                    <li class="on">会计从业资格</li>
                    <li>初级会计职称</li>
                </ul>
            </div>

            <div class="active_tab_box">
                <!--会计从业资格-->
                <div class="active_course_list" id="qualification">
                    <ul class="course-ul-box">
                        <li class="hotCourse" ng-repeat="(index,s) in courseList3" ng-if="index<4" ng-click="toCourseDate('coursedetail',{ProductId:s.ProductId})">
                            <div class="course-img">
                                <img ng-src="{{s.Image}}" alt="">
                                <div class="course-price"><span>{{s.Price}}</span><i>学分</i></div>
                            </div>
                            <div class="course-tit">
                                <div class="courseTit">
                                    <span class="title">{{s.ProductName}}</span>
                                    <span class="teacher"><i>课程讲师：</i><span>{{s.TeacherName}}</span></span>
                                </div>
                                <div class="course-time">
                                    <div class="courseTime"><i>课时数：</i><span>{{s.Hour}}</span></div>
                                    <div class="starNum">
                                        <span class="star"></span>
                                        <span class="star"></span>
                                        <span class="star"></span>
                                        <span class="star"></span>
                                        <span class="star"></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--英语-->
        <div class="active-tab english">
            <img src="activities/img/courseDiscount/english-banner@3x.png" />
            <div class="active_tab_menu">
                <ul>
                    <li class="on">托福</li>
                    <li>雅思</li>
                    <li>GRE</li>
                    <li>SAT</li>
                    <li>四六级</li>
                </ul>
            </div>

            <div class="active_tab_box">
                <!--托福-->
                <div class="active_course_list" id="TOEFL">
                    <ul class="course-ul-box">
                        <li class="hotCourse" ng-repeat="(index,s) in courseList4" ng-if="index<4" ng-click="toCourseDate('coursedetail',{ProductId:s.ProductId})">
                            <div class="course-img">
                                <img ng-src="{{s.Image}}" alt="">
                                <div class="course-price"><span>{{s.Price}}</span><i>学分</i></div>
                            </div>
                            <div class="course-tit">
                                <div class="courseTit">
                                    <span class="title">{{s.ProductName}}</span>
                                    <span class="teacher"><i>课程讲师：</i><span>{{s.TeacherName}}</span></span>
                                </div>
                                <div class="course-time">
                                    <div class="courseTime"><i>课时数：</i><span>{{s.Hour}}</span></div>
                                    <div class="starNum">
                                        <span class="star"></span>
                                        <span class="star"></span>
                                        <span class="star"></span>
                                        <span class="star"></span>
                                        <span class="star"></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>                
            </div>
        </div>
        <div class="guanzhu">
            <div class="weibo">
                <a href="http://m.weibo.cn/d/freexfcom?jumpfrom=weibocom">
                    <img src="activities/img/courseDiscount/weibo@3x.png" />
                </a>
            </div>
            <div class="wechat">
                <img src="activities/img/courseDiscount/weixin@3x.png" />
            </div>
            <div style="clear: both"></div>
        </div>
    </ion-content>
</ion-view>
