/*全民学外语*/
.multilingual{background:#fafafa;}
.multilingual img{width:100%;}
.multilingual-headimg,
.multilingual-introduce{width:90%;margin:10px auto 0;color:#545454;}
.multilingual-introduce{background:url(../img/multilingual/bg-box@3x.png) no-repeat;background-size:100% 100%;padding:5% 8%;font-size:12rem;margin-top:6%;}
.multilingual-headimg img{width:74%;}
.multilingual-headimg img:nth-child(2){margin-left:26%;}
.multilingual-active{width:95%;margin:20px auto;position:relative;}
.multilingual-active a{width:32%;margin-right:1.5%;display:inline-block;}
.multilingual-active a:last-of-type{margin-right:0;position:absolute;top:0;right:-0.4%;width:33.4%;}
.multilingual-nav{width:100%;height:55px;background:url(../img/multilingual/navbg@3x.png) no-repeat;background-size:100% 100%;}
.multilingual-nav li{color:#fff;font-size:12.3rem;float:left;line-height:55px;position: relative;min-width:14%;-webkit-perspective: 600px;perspective: 600px;text-align: center;}
.multilingual-nav li .all{padding:0 1em;}
.multilingual-nav li .pic1{padding:0 1em;-webkit-transform: rotateX(0deg) rotateX(0deg);-webkit-transform-style: preserve-3d;-webkit-backface-visibility: hidden;}
.multilingual-nav li .pic1,
.multilingual-nav li .pic2{transition: all .4s ease-in-out;-webkit-transition: all .4s ease-in-out;width: 100%;height: 100%;overflow: hidden;display:block;}
.multilingual-nav li .pic2{position: absolute;top: 0;left: 0;z-index: -1;-webkit-transform: rotateX(-180deg);-webkit-transform-style: preserve-3d;-webkit-backface-visibility: hidden;}
.multilingual-nav li .pic2 img{width:auto;height:85%;margin:4% 20%;}
.multilingual-nav li .pic2.spain img{width:auto;height:86%;margin:4% 25%;}
.multilingual-nav li.active .pic1{-webkit-transform: rotateX(180deg);transform: rotateX(180deg);}
.multilingual-nav li.active .pic2{z-index: 10;position: absolute;-webkit-transform: rotateX(0deg) rotateY(0deg);transform: rotateX(0deg) rotateY(0deg);}

.multilingual-box{width:94%;margin:10px auto 10px;font-size:0;padding: 10px;-webkit-margin-collapse:separate;}
.multilingual-box div.col{display:inline-block;vertical-align:top;position:relative;padding: 10px;}
.multilingual-box div.col-16{width:22%;min-width:22%;max-width:22%;padding: 28px;}
.multilingual-box div.col>div{box-shadow:1px 1px 5px rgba(0,0,0,0.35);}
.multilingual-box .multilingual-courseinfo{font-size:12rem;padding:0 5px;}
.multilingual-box .multilingual-courseinfo p{margin:0;line-height:25px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.multilingual-box .multilingual-class{line-height:35px;border-top:1px #dcdcdc solid;font-size:12rem;padding:0 5px;position:relative;}
.multilingual-xuefen{position:absolute;left:0px;top:15px;background:url(../img/multilingual/course-price-bg.png) no-repeat;width:100%;height:15%;background-size:auto 100%;font-size:13rem;color:#fff;padding-left:2px;padding-top:2px;}
.multilingual-xuefen span{font-size:10rem;}
.multilingual-btn-more button{width:40%;margin:20px 30%;background:#5b7caf;color:#fff;font-size:14rem;border-radius:7px;border:none;height:40px;position:relative;}
.multilingual-btn-more button:after{width:20px;height:12px;display:inline-block;background:url(../img/multilingual/go_icon@3x.png) no-repeat;background-size: auto 100%;position: relative;top: 2px;margin-left:7px;content:''}
.multilingual-teacher>img{width:25%;}
.multilingual-teacher .col p{font-size:14rem;text-align:center;}
.multilingual-teacher .col img{border-radius:50%;border:2px #5b7caf solid;}
.multilingual-box .multilingual-class p{position:absolute;right:5px;top:10px;line-height: 20px;margin:0;}
.multilingual-box .multilingual-class p .star{background:url(../img/multilingual/little-star.png) no-repeat;width:10px;height:12px;background-size:100% auto;display: inline-block;}
.multilingual-box .multilingual-class p .star.ban{background:url(../img/multilingual/little-star-ban.png) no-repeat;background-size:100% auto;}

.multilingual-footer.time-footer span{color:#fff!important;}
.multilingual-footer.time-footer{border-top: 1px #5B7CAF solid;margin-top: 0px;display:block;background:#5B7CAF;text-align:center;line-height:44px;}