.freexf-microClass {
  background: #fff;
  font-family: '微软雅黑';
}

.freexf-microClass img {
  width: 100%;
  vertical-align: bottom;
}
.freexf-microClass .text {
    width: 95%;
    margin: 40px auto;
}
.freexf-microClass .text-title {
    text-align: center;
}
.freexf-microClass .text-title b {
    color: #df6c55;
    font-size: 20rem;
}
.freexf-microClass .text-content {
    border: 3px dashed #df6c55;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
}
.freexf-microClass .text-content p {
    color: #7d7d7d;
    font-size: 12rem;
    margin: 15px 15px;
}
.freexf-microClass .text-content em {
    color: #df6c55;
    font-size: 14rem;
    font-style: oblique;
}
.freexf-microClass .single-class,.freexf-microClass .group-class {
    background: #fdc8be;
    width: 95%;
    margin: 0 auto;
    /*padding: 5px;*/
}
.freexf-microClass .grade {
    overflow: hidden;
}
.freexf-microClass .grade .sig-grade {
    float: left;
    text-align: center;
    background: #df6c55;
    margin: 5px 0 0 5px;
    position: relative;
    overflow: hidden;
}
.freexf-microClass .grade span {
    color: #fff;
    font-size: 20rem;
}
.freexf-microClass .group-class .grade span {
    color: #fff;
    font-size: 18rem;
}
.freexf-microClass .grade .sig-grade.cur {
    background: #fff;
}
.freexf-microClass .grade .sig-grade.cur span {
    color: #df6c55;
}
.freexf-microClass .hot:after{
    content:"";
    width:29px;
    height:24px;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url('../img/microClass/hot.png');
    background-size:29px 24px;

}
.freexf-microClass .class {
    padding-bottom: 20px;
}
.freexf-microClass .class-detail {
    margin: 10px 5px 10px 5px;
    background: #fff;
}
.freexf-microClass .class-box {
    width: 98%;
    height: 50%;
    margin: 0 auto;
    padding: 10px 0;
}
.freexf-microClass .class-detail .left {
    float: left;
    width: 43%;
    border: 1px solid #d4d4d4;
    position: relative;
}
.freexf-microClass .left .msg {
    font-size: 10rem;
    color: #7d7d7d;
    margin: 7px 0 7px 5px;
}
.freexf-microClass .left .msg b {
    font-size: 14rem;
    color: #cb182b;
}
.freexf-microClass .left .msg .span {
    font-size: 10rem;
    color: #cb182b;
}
.freexf-microClass .left .msg .hour {
    margin-right: 5%;
}
.freexf-microClass .left .star {
    margin-top: 3px;
    width: 12px;
    height: 11px;
    background: url('../img/microClass/star.png');
    float: right;
}
.freexf-microClass .star.last {
    margin-right: 3px;
}
.freexf-microClass .star.half {
    width: 6px;
    margin-right: 6px;
}
.freexf-microClass .course-price {
    background: url('../img/microClass/flag.png') no-repeat;
    background-size: 50%;
    background-position: 50% 10%;
    z-index: 3;
    width: 96px;
    height: 38px;
    position: absolute;
    top: 1px;
    left: -27px;
    text-align: center;
}
.freexf-microClass .course-price b {
    color: #fff;
    font-size: 12rem;
}
.freexf-microClass .course-price span {
    color: #fff;
    font-size: 6rem;
}
.freexf-microClass .class-detail .right {
    float: right;
    width: 56%;
    height: 100%;
    border: 2px solid #fdc8be;
    padding-left: 10px;
}
.freexf-microClass .group-class .class-detail .right {
    border: 0;
    position: relative;
}
.freexf-microClass .right .title {
    font-size: 16rem;
    margin: 5px 0 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.freexf-microClass .right .teach {
    font-size: 12rem;
    color: #7d7d7d;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.freexf-microClass .right .chap {
    font-size: 10rem;
    color: #7d7d7d;
    margin: 0;
}
.freexf-microClass .right ul {
    color: #df6c55;
}
.freexf-microClass .right li {
    line-height: 1.4em;
    color: #7d7d7d;
    font-size: 10rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.freexf-microClass .right .btn {
    background: #df6c55;
    width: 70%;
    height: 35%;
    text-align: center;
    position: absolute;
    bottom: 0;
}
.freexf-microClass .right .btn span {
    font-size: 13rem;
    color: #fff;
    line-height: 100%;
}
.freexf-microClass .img {
    width: 95%;
    margin: 30px auto;
}
.freexf-microClass .img div {
    float: left;
    margin-top: 5px;
}
.freexf-microClass .img .weibo {
    margin-left: 5px;
    margin-right: 5px;
}
.freexf-microClass .teacher {
    width: 90%;
    margin: 0 auto;
}
.freexf-microClass .teacher img.title {
    width: 60%;
}
.freexf-microClass .teacher-box {
    width: 100%;
    margin: 40px auto;
}
.freexf-microClass .teacher-content {
    white-space: nowrap;
    margin-left: 10px;
    margin-right: 10px;
}
.freexf-microClass .sigbox {
    display:inline-block;
    margin: 0 5px 0 5px;
    text-align: center;
}
.freexf-microClass .sigbox .pic {
    margin: 0 auto;
    border: 2px solid #fb7d3d;
    border-radius: 50%;
    overflow: hidden;
}
.freexf-microClass .sigbox span {
    margin: 5px auto;
    color: #fb7d3d;
    font-size: 12rem;
}