.oneBuy {
  font-family: '微软雅黑';
}
.oneBuy .title-img {
    width: 40%;
    margin: 20px auto;
}
.oneBuy .title-img img {
    width: 100%;
}
.oneBuy .course-box {
    width: 95%;
    margin: 20px auto;
    overflow: hidden;
}
.oneBuy .course-detail {
    width: 48%;
    margin: 1%;
    float: left;
}
.oneBuy .course-detail img {
    width: 100%;
}
.oneBuy .course-detail .course-title {
    font-size: 12rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 5px;
}
.oneBuy .course-detail .course-text {
    font-size: 10rem;
    color: #595959;
    overflow: hidden;
    height: 2.5em;
    line-height: 2.4em;
    margin-bottom: 5px;
}
.oneBuy .course-detail .course-text .price-img {
    display: inline-block;
    float: left;
    width: 2em;
    height: 2em;
    margin-right: 2%;
}
.oneBuy .course-detail .course-text .price-img img{
    width: 100%;
}
.oneBuy .course-detail .course-text .one-price {
    float: left;
    margin-right: 5%;
}
.oneBuy .course-detail .course-text .old-price {
    margin-left: 5%;
    float: left;
}
.oneBuy .course-detail .course-text .num {
    float: right;
}
.oneBuy .course-detail .course-text .num-content {
    color: #ff7d7d;
}
.oneBuy .course-detail hr {
    border: none;
    border-top: 2px solid #efefef;
    margin-bottom: 5px;
}