<!--课程列表-->
<div class="item item-thumbnail-left" ng-repeat="item in courseList" ng-click="toCourseDate(item.ProductId)">
  <!--'199f21a24fbc4227aeafe277c960bf18'-->

  <img ng-src="{{item.image}}" image-lazy-src="{{item.Image}}"/>
  <div class="courseItem-tit">
    <h2>{{item.ProductName}}</h2>
    <p class="new">
      <i ng-show="item.TeacherName" ng-init="isTea=(item.TeacherName=='')?true:false" class="teaName ">讲师：{{item.TeacherName}}&nbsp;&nbsp;</i>
      <span class="course-count " ng-class={countNew:isTea}>课时数：{{item.Hour}}&nbsp;&nbsp; 有效期：{{item.Validity}}</span>
    </p>

    <p class="new">
      <span>{{item.Price|xufen}}</span><em ng-show="item.Price| xufenshow">学分</em>
    </p>
  </div>
</div>

