<ion-view view-title="多语种">

  <ion-nav-buttons side="right">
    <a href="#/coursesearch" menu-toggle="right" class="button button-clear freexf-icon-search">
    	<i class="icon ion-ios-search"></i>
    </a>
  </ion-nav-buttons>
  <ion-content>
  		<div class="freexf-classmodule-header-nav">
  			<div class="freexf-courseNav" ng-class="{active:languageclass}" ng-click="languageClassShow()">韩语</div>
  			<div class="active">综合</div>
  			<div>最近</div>
  			<div>学分</div>
  			<div class="freexf-languageclass" ng-show="languageclass">
  				<ul>
  					<li  ng-repeat="i in courseList.l_multilingualList"><a href="#">全部</a></li>
  					<li><a href="#">日语</a></li>
  					<li class="active"><a href="#">韩语</a></li>
  					<li><a href="#">俄语</a></li>
  					<li><a href="#">德语</a></li>
  					<li><a href="#">西班牙语</a></li>
  					<li><a href="#">法语</a></li>
  				</ul>
  			</div>
  		</div>
  		<!--课程列表-->
  		<div class="list freexf-classmodule" ui-view="classmodule">
  		</div>
  </ion-content>

</ion-view>

