<ion-view>
  <ion-header-bar class="freexf-bar lightgray">

    <div class="bar-left">
      <button class="button-clear freexf-back freexf-left" default-nav-back-button ng-click="goBack()">
        <i class="icon freexf-goback"></i>
      </button>
    </div>
    <div class="title">课程详情</div>
    <div class="bar-right">
      <!--<button class="button-clear freexf-consult"><span>咨询</span></button>-->
      <button class="button-clear freexf-collect" ng-class="{active:coursecollect}" ng-click="collectState()">
      </button>
    </div>
  </ion-header-bar>
  <div id="tabs" class="tabs-striped  tabs-color-balanced freexf-course"
       style="position:absolute;top:-5px;left:0;width:100%;">
    <!--tab选项卡-->
    <div class="tabs freexf-course-tabs">
      <a class="tab-item" ng-class="{active:coursedetail}" href="javascript:void(0);" ng-click="coursedetailClick()"
         id="isCourseDetail">
        课程介绍
      </a>
      <a class="tab-item" ng-class="{active:courseoutline}" href="javascript:void(0);" ng-click="courseoutlineClick()"
         id="isCourseOutLine">
        课程大纲
      </a>
    </div>
    <!--end-->
  </div>
  <ion-content lazy-scroll id="viewContent" ng-class="{hasfooter:!buy}">
    <div class="item item-image" style="min-height:200px;" id="headerCourse">
      <img ng-src="{{courseDate.cover}}" ng-hide="videShow" id="isCover"
           image-lazy-src="{{courseDate.cover}}"
           alt="{{courseDate.courseName}}"/>   <!--class="freexf-blur" 模糊效果 -->
      <!--背景层已购买-->
      <div class="freexf-Backdrop" ng-show="isbuy">
        <p id="isCutCharptName">{{courseDate.lastCharptName|cutCharptName}}</p>
        <button class="button" ng-click="coursedVideoPlay(lastCharptId)" id="isCoursedVideoPlay">开始学习</button>
      </div>
      <!--未购买-->
      <div class="freexf-startplay" ng-show="nobuy">
        <button class="button"
                ng-click="coursedVideoPlay(outlineFreeList[0].PartNameList[0][0]?outlineFreeList[0].PartNameList[0][0]:outlineFreeList[1].PartNameList[0][0],1)">
        </button>
      </div>
      <div class="video-box" id="videobox" ng-show="videShow">
        <!--<video id="videoplay" style="width:100%;position:relative;z-index:10;" controls="controls" autoplay>
          <source id="vpmp4" src="" type='video/mp4'>
        </video>-->
      </div>
    </div>
    <div class="tabs-striped  tabs-color-balanced freexf-course">
      <!--tab选项卡-->
      <div class="tabs freexf-course-tabs">
        <a class="tab-item" ng-class="{active:coursedetail}" href="javascript:void(0);" ng-click="coursedetailClick()"
           id="isTabCourseDetailClick">
          课程介绍
        </a>
        <a class="tab-item" ng-class="{active:courseoutline}" href="javascript:void(0);" id="isTabCourseOutline"
           ng-click="courseoutlineClick()">
          课程大纲
        </a>
      </div>
      <!--end-->
    </div>
    <!--课程介绍以及大纲-->
    <div id="coursedetail">
      <div class="freexf-coursedetail" ng-show="coursedetail">
        <div class="freexf-courseinfo">
          <h3>{{courseDate.courseName}}</h3>
          <p><span ng-show="teacher" style="width:95%;">讲师<i style="width:85%;">：<em class="freexf-teachername"
                                                                                     ng-repeat="t in courseDate.teacher">{{t}}</em></i></span>
          </p>
          <p>
            <span>课时数<i>：{{courseDate.classHours}}</i></span>
            <span>有效期<i>：{{courseDate.period}}天</i></span>
          </p>
          <div class="freexf-creditbox">
            <p>
              <i class="assertive freexf-credit">{{courseDate.price|xufen}}</i><span
              style="width:auto;margin-right:7px;">
                      <em ng-show="courseDate.price | xufenshow">学分</em>
                  </span>
            </p>
            <p ng-class="{active:flowerstate}" ng-click="flowerStateClick()"><i class="icon"></i>{{courseDate.flowers}}
            </p>
          </div>
        </div>
        <div ng-show="showGroupCourse">
          <div class="freexf-course-group" ng-show="groupCourse">
            <p>{{courseDate.CrouseBigList[0].ProductName}}</p>
            <ion-scroll direction='x' scrollbar-x='false'>
              <div class="row coursegroup">
                <div class="col col-40" ng-click="goStudy(courseDate.CrouseBigList[0].ProductId)">
                  <img ng-src="{{courseDate.CrouseBigList[0].image}}"/>
                  <div>
                    <p class="freexf-coursename">{{courseDate.CrouseBigList[0].ProductName}}</p>
                  </div>
                </div>
                <div class="col col-40" ng-repeat="gp in courseDate.CrousePartList[0]" ng-click="goStudy(gp.ProductId)">
                  <img ng-src="{{gp.image}}"/>
                  <div>
                    <p class="freexf-coursename">{{gp.ProductName}}</p>
                  </div>
                </div>
              </div>
            </ion-scroll>
          </div>
          <div class="freexf-course-group" ng-repeat="(index,cg) in courseDate.CrouseBigList" ng-hide="groupCourse">
            <p>{{cg.ProductName}}</p>
            <ion-scroll direction='x' scrollbar-x='false'>
              <div class="row coursegroup">
                <div class="col col-40" ng-click="goStudy(cg.ProductId)">
                  <img ng-src="{{cg.image}}"/>
                  <div>
                    <p class="freexf-coursename">{{cg.ProductName}}</p>
                  </div>
                </div>
                <div class="col col-40" ng-repeat="gp in courseDate.CrousePartList[index]"
                     ng-click="goStudy(gp.ProductId)">
                  <img ng-src="{{gp.image}}"/>
                  <div>
                    <p class="freexf-coursename">{{gp.ProductName}}</p>
                  </div>
                </div>
              </div>
            </ion-scroll>
          </div>
        </div>
        <p style="text-align:center;font-size:12rem;" ng-show="more" ng-click="moreGroupCourse();">{{moreTxt}}</p>

        <ul class="list">
          <li class="item" ng-show="isCourseShow">
            <h2>课程介绍<span>Course Introduction</span></h2>
            <div class="kechengjianjie" id="kechengjianjie">
              <p ng-bind-html="a">
              </p>
            </div>
          </li>
          <li class="item" ng-show="isObjectivesShow">
            <h2>教学目标<span>Instructional Objectives</span></h2>
            <div class="jiaoxuemubiao" id="jiaoxuemubiao">
              <p ng-bind-html="b">
              </p>
            </div>
          </li>
          <li class="item" ng-show="isIntroductionShow">
            <h2>教材介绍<span>Textbook Introduction</span></h2>
            <div class="jiaoxuejianjie" id="jiaoxuejianjie">
              <p ng-bind-html="c">
              </p>
            </div>
          </li>
          <li class="item" ng-show="isAdvantageShow">
            <h2>课程优势<span>Course Advantage</span></h2>
            <div class="kechengyoushi" id="kechengyoushi">
              <p ng-bind-html="d">
              </p>
            </div>
          </li>
          <li class="item" ng-show="isProfileShow">
            <h2>教师简介<span>Teacher Profile</span></h2>
            <div class="item item-thumbnail-left" ng-repeat="(index,tp) in courseDate.teacherPath">
              <img ng-src="{{tp | teacherPath}}"/>
              <div class="jiaoshijianjie" id="jiaoshijianjie">
                <p ng-bind-html="courseDate.teacherIntroduce[index]">
                </p>
              </div>

            </div>
          </li>
        </ul>
      </div>
      <div class="freexf-courseoutline" ng-show="courseoutline">
        <ul class="list freexf-courselist" ng-include="htmlId"></ul>
      </div>
      <!--end-->
    </div>
  </ion-content>

  <div class="bar bar-footer row" style="padding:0;">
    <div class="col col-30" style="padding:0;padding-left:23px;line-height:44px;font-size: 19rem;">
      <i class="assertive freexf-credit">{{courseDate.price|xufen}}</i>
      <span>
              <em style="font-size:12rem;color:#878787;" ng-show="courseDate.price | xufenshow">学分</em>
          </span>
    </div>
    <div class="col col-21 freexf-consultdiv onlineConsultJs udesk">
      <i class="freexf-onlineconsult"></i>
      <p>在线咨询</p>
    </div>
    <div class="col col-21 freexf-consultdiv" ng-click="showPopup()">
      <i class="freexf-phoneconsult"></i>
      <p>电话咨询</p>
    </div>
    <div class="col col-28" style="padding:0;height:44px;" ng-hide="buy">
      <button class="freexf-buy" style="width:100%;margin:0;height:100%;" ng-disabled="IsOpenCrouse=='尚未开课'"
              ng-click="showAgreement()">{{IsOpenCrouse}}
      </button>
    </div>
  </div>

  <script type="text/ng-template" id="coursegroup.html">
    <li class="item freexf-test testClass" style="border-bottom:10px #fff solid;"
        ng-hide="isPayed||courseDate.IsOpenGroup" ng-if="outlineFreeList[0].PartNameList.length>0">
      <!----class="freexf-test"未购买课程-->
      <div class="freexf-course-title course-group-title">
        <p>试听课程</p>
      </div>
      <div>
        <ul class="list freexfcourseitem">    <!--/*freexfdemoclass 试听课程  freexfcourseitem 课程列表*/-->
          <li ng-repeat="l in outlineFreeList track by $index" class="coursechapterli" ng-if="l.PartNameList.length>0">
            <div class="freexf-course-title course-group-title" style="background:#fff;">
              <p>{{l.ProductName}}</p>
            </div>
            <ul class="list">
              <li class="item item-button-right freexfdemoclass" ng-repeat="i in l.PartNameList track by $index">
                <p ng-click="coursedVideoPlay('{{i[0]}}',1)">{{i[1]}}</p>
                <button class="button freexf-play" ng-click="coursedVideoPlay('{{i[0]}}',1)">     <!--// testplay 禁止播放-->
                </button>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </li>
    <!-- 组合课 -->
    <li class="item freexf-test" ng-repeat="o in courseList track by $index" style="border-bottom:10px #fff solid;"
        ng-if="o.OutlineList.length>0">       <!----class="freexf-test"未购买课程-->
      <div class="freexf-course-title courseTitle course-group-title" ng-click="toggle($event)">
        <p>{{o.ProductName}}</p>
      </div>
      <div>
        <ul class="list freexfcourseitem" style="display:none;">
          <!--/*freexfdemoclass 试听课程  freexfcourseitem 课程列表*/-->
          <li ng-repeat="l in o.OutlineList track by $index" class="coursechapterli">
            <div class="freexf-course-title coursechapter course-group-title" style="background:#fff;"
                 ng-click="chapterToggle($event)">
              <p>{{l.chapterName}}</p>
            </div>
            <ul class="list chapter" style="display:none;">
              <li class="item item-button-right" ng-repeat="i in l.CharpterList track by $index"
                  ng-class="{freexfdemoclass:!buy,endclass:studyEndFn(i.uuRowId),endClassList:buy,intheclass:fn(i.uuRowId,nowVideoPlayId,buy)}"
                  ng-click="coursedVideoPlay(i.uuRowId)">
                <p>{{i.minChapter}}</p>
                <button class="button freexf-play" ng-init="play=!courseDate.isPermissionCrouse&&!i.isNoFree?true:false"
                        ng-disabled="play" ng-class="{testplay:play}">   <!--// testplay 禁止播放-->
                </button>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </li>
  </script>
  <script type="text/ng-template" id="courseoutline.html">
    <li class="item freexf-test testClass" style="border-bottom:10px #fff solid;"
        ng-hide="isPayed||courseDate.IsOpenGroup" ng-if="outlineFreeList[0].PartNameList.length>0">
      <div class="freexf-course-title course-group-title">
        <p>试听课程</p>
      </div>
      <div>
        <ul class="list freexfcourseitem">
          <li class="item item-button-right freexfdemoclass"
              ng-repeat="i in outlineFreeList[0].PartNameList track by $index"
              ng-if="outlineFreeList[0].PartNameList.length>0">
            <p ng-click="coursedVideoPlay('{{i[0]}}',1)">{{i[1]}}</p>
            <button class="button freexf-play" ng-click="coursedVideoPlay('{{i[0]}}',1)">
            </button>
          </li>
        </ul>
      </div>
    </li>
    <!-- 非组合课 -->
    <li class="item freexf-test" ng-repeat="o in courseList[0].OutlineList track by $index"
        ng-if="courseList[0].OutlineList.length>0" style="border-bottom:10px #fff solid;">
      <div class="freexf-course-title courseTitle course-group-title" ng-click="toggle($event)">
        <p>{{o.chapterName}}</p>
      </div>
      <div>
        <ul class="list freexfcourseitem" style="display:none;">    <!--/*freexfdemoclass 试听课程  freexfcourseitem 课程列表*/-->
          <li class="item item-button-right" ng-repeat="i in o.CharpterList track by $index "
              ng-class="{freexfdemoclass:!buy,endclass:studyEndFn(i.uuRowId),endClassList:buy,intheclass:fn(i.uuRowId,nowVideoPlayId,buy)}"
              ng-click="coursedVideoPlay('{{i.uuRowId}}')">
            <p>{{i.minChapter}}</p>
            <button class="button freexf-play" ng-init="play=!courseDate.isPermissionCrouse&&!i.isNoFree?true:false"
                    ng-disabled="play" ng-class="{testplay:play}">  <!--// testplay 禁止播放-->
            </button>
          </li>
        </ul>
      </div>
    </li>
  </script>
  <script type="text/ng-template" id="agreement.html">
    <div class="freexf-agreement">
      <h5>学费全免网网络节目购买合同</h5>
      <p class="MsoNormal" align="center"
         style="text-align:center;line-height:15.0pt;mso-pagination:widow-orphan;vertical-align:middle"><span lang="EN-US"
                                                                                                              style="font-size: 10pt; font-family: 微软雅黑, sans-serif;"><o:p></o:p></span>
      </p>
      <p class="MsoNormal" align="left" style="line-height: 15pt; vertical-align: middle;"><span
        style="font-family: 微软雅黑, sans-serif;">甲方：学费全免网注册学员</span><span lang="EN-US"
                                                                        style="font-size: 10pt; font-family: 微软雅黑, sans-serif;"><o:p></o:p></span>
      </p>
      <p class="MsoNormal" align="left" style="line-height: 15pt; vertical-align: middle;"><span
        style="font-family: 微软雅黑, sans-serif;">乙方：上海琦珺互联网信息科技有限公司（学费全免网）<span lang="EN-US">&nbsp; <o:p></o:p></span></span>
      </p>
      <p class="MsoNormal" align="left" style="line-height: 15pt; vertical-align: middle;"><span
        style="font-family: 微软雅黑, sans-serif;">客服热线：<span lang="EN-US">{{tel400 }} </span>服务时间：<span
        lang="EN-US">9:00-21:00</span>（全年无休）。</span><span lang="EN-US"
                                                          style="font-size: 10pt; font-family: 微软雅黑, sans-serif;"><o:p></o:p></span>
      </p>
      <p class="MsoNormal" align="left" style="line-height: 15pt; vertical-align: middle;"><span lang="EN-US"
                                                                                                 style="font-size: 10pt; font-family: 微软雅黑, sans-serif;">&nbsp;</span>
      </p>
      <p class="MsoNormal" align="left" style="line-height: 15pt; vertical-align: middle;"><span
        style="font-family: 微软雅黑, sans-serif;">鉴于</span><span lang="EN-US"
                                                              style="font-size: 10pt; font-family: 微软雅黑, sans-serif;"><o:p></o:p></span>
      </p>
      <p class="MsoNormal" align="left" style="line-height: 15pt; vertical-align: middle;"><span
        style="font-family: 微软雅黑, sans-serif;">甲方签约成为乙方在线培训平台的学员用户，乙方将在本合同中告知甲方在学费全免网<span
        lang="EN-US">(www.freexf.com)</span>进行学习时需要注意的事项。甲方确认在仔细阅读本合同并完全了解本合同内容后，按本合同所列内容进行在线学习，具体条款如下：<span lang="EN-US"><o:p></o:p></span></span>
      </p>
      <p class="MsoNormal" align="left" style="line-height: 15pt; vertical-align: middle;"><span lang="EN-US"
                                                                                                 style="font-family: 微软雅黑, sans-serif;">&nbsp;</span>
      </p>
      <p class="MsoNormal" align="left"
         style="margin-left: 18pt; text-indent: -18pt; line-height: 15pt; vertical-align: middle;"><b><span lang="EN-US"
                                                                                                            style="font-family: 微软雅黑, sans-serif;">1.<span
        style="font-weight: normal; font-stretch: normal; font-size: 7pt; line-height: normal;">&nbsp;&nbsp;&nbsp;</span></span></b><b><span
        style="font-family: 微软雅黑, sans-serif;">课程学习<span lang="EN-US"><o:p></o:p></span></span></b></p>
      <p class="MsoNormal" align="left"
         style="margin-left: 19.5pt; text-indent: -19.5pt; line-height: 15pt; vertical-align: middle;"><span lang="EN-US"
                                                                                                             style="font-family: 微软雅黑, sans-serif;">1.1<span
        style="font-stretch: normal; font-size: 7pt; line-height: normal;">&nbsp; </span></span><span
        style="font-family: 微软雅黑, sans-serif;">甲方</span><span style="font-family: 微软雅黑, sans-serif;">可以通过先购买课程再进行学习，学习乙方所发布的相应课程。甲方在乙方网站上从订购、学习到学习完成以及最终返还的整个过程都将以<span
        lang="EN-US">“</span>学分<span lang="EN-US">”</span>的形式进行记录。<span lang="EN-US"><o:p></o:p></span></span></p>
      <p class="MsoNormal" align="left"
         style="margin-left: 19.5pt; text-indent: -19.5pt; line-height: 15pt; vertical-align: middle;"><span lang="EN-US"
                                                                                                             style="font-size: 10pt; font-family: 微软雅黑, sans-serif;">1.2<span
        style="font-stretch: normal; font-size: 7pt; line-height: normal;">&nbsp;&nbsp;</span></span><span
        style="font-family: 微软雅黑, sans-serif;">每门课程都有相应的有效期，有效期内甲方可以根据教学内容进行视频学习，也可根据自行水平选择性式或者反复性学习。</span><span
        lang="EN-US" style="font-size: 10pt; font-family: 微软雅黑, sans-serif;"><o:p></o:p></span></p>
      <p class="MsoNormal" align="left" style="line-height: 15pt; vertical-align: middle;"><span lang="EN-US"
                                                                                                 style="font-size: 10pt; font-family: 微软雅黑, sans-serif;">&nbsp;</span>
      </p>
      <p class="MsoNormal" align="left"
         style="margin-left: 18pt; text-indent: -18pt; line-height: 15pt; vertical-align: middle;"><b><span lang="EN-US"
                                                                                                            style="font-family: 微软雅黑, sans-serif;">2.<span
        style="font-weight: normal; font-stretch: normal; font-size: 7pt; line-height: normal; ">&nbsp;&nbsp;&nbsp;</span></span></b><b><span
        style="font-family: 微软雅黑, sans-serif;">学费返还方式<span lang="EN-US"><o:p></o:p></span></span></b></p>
      <p class="MsoNormal" align="left"
         style="margin-left: 19.5pt; text-indent: -19.5pt; line-height: 15pt; vertical-align: middle;"><span lang="EN-US"
                                                                                                             style="font-family: 微软雅黑, sans-serif;">2.1<span
        style="font-stretch: normal; font-size: 7pt; line-height: normal;">&nbsp; </span></span><span
        style="font-family: 微软雅黑, sans-serif;">每门课程对应的有效期结束后的<span lang="EN-US">3-5</span>个工作日内，乙方将向甲方返还所购课程相对应的学费至最初甲方订购所使用的支付渠道账号。<span
        lang="EN-US"><o:p></o:p></span></span></p>
      <p class="MsoNormal" align="left"
         style="margin-left: 19.5pt; text-indent: -19.5pt; line-height: 15pt; vertical-align: middle;"><span lang="EN-US"
                                                                                                             style="font-family: 微软雅黑, sans-serif;">2.2<span
        style="font-stretch: normal; font-size: 7pt; line-height: normal;">&nbsp; </span></span><span
        style="font-family: 微软雅黑, sans-serif;">课程有效期到期后，甲方观看该课程视频学习的权限终止，但做练习题的次数、时间无限制。<b><span lang="EN-US"><o:p></o:p></span></b></span>
      </p>
      <p class="MsoNormal" align="left"
         style="margin-left: 19.5pt; text-indent: -19.5pt; line-height: 15pt; vertical-align: middle;"><span lang="EN-US"
                                                                                                             style="font-family: 微软雅黑, sans-serif;">2.3<span
        style="font-stretch: normal; font-size: 7pt; line-height: normal;">&nbsp; </span></span><span
        style="font-family: 微软雅黑, sans-serif;">甲方应仔细阅读本合同后购买课程，所购课程付款成功即视为知晓并同意所有合同条款。所购课程视频一经开始，甲方不得申请退订。</span><span
        lang="EN-US" style="font-family: 微软雅黑, sans-serif;"><o:p></o:p></span></p>
      <p class="MsoNormal" align="left" style="line-height: 15pt; vertical-align: middle;"><span lang="EN-US"
                                                                                                 style="font-family: 微软雅黑, sans-serif;">&nbsp;</span>
      </p>
      <p class="MsoNormal" align="left" style="line-height: 15pt; vertical-align: middle;"><span lang="EN-US"
                                                                                                 style="font-family: 微软雅黑, sans-serif;">3. </span><span
        style="font-family: 微软雅黑, sans-serif;">免责条款</span><span lang="EN-US"
                                                                style="font-size: 10pt; font-family: 微软雅黑, sans-serif;"><o:p></o:p></span>
      </p>
      <p class="MsoNormal" align="left" style="line-height: 15pt; vertical-align: middle;"><b><span
        style="font-family: 微软雅黑, sans-serif;">甲方在“学费全免网”进行操作时，应审慎操作。如因甲方错误操作造成甲方利益受损的，“学费全免网”不承担任何责任。甲方的所有操作记录将被忠实地保存在乙方设备中，如有争议，以该记录为准。</span></b><span
        lang="EN-US" style="font-size: 10pt; font-family: 微软雅黑, sans-serif;"><o:p></o:p></span></p>
      <p class="MsoNormal" align="left" style="line-height: 15pt; vertical-align: middle;"><span lang="EN-US"
                                                                                                 style="font-family: 微软雅黑, sans-serif;">&nbsp;</span><span
        lang="EN-US" style="font-size: 10pt; font-family: 微软雅黑, sans-serif;"><o:p></o:p></span></p>
      <p class="MsoNormal" align="left" style="line-height: 15pt; vertical-align: middle;"><span lang="EN-US"
                                                                                                 style="font-family: 微软雅黑, sans-serif;">4. </span><span
        style="font-family: 微软雅黑, sans-serif;">声明</span><span lang="EN-US"
                                                              style="font-size: 10pt; font-family: 微软雅黑, sans-serif;"><o:p></o:p></span>
      </p>
      <p align="center" style="text-align: center; margin: 0cm 0cm 0.0001pt;"></p>
      <p class="MsoNormal" align="left" style="line-height: 15pt; vertical-align: middle;"><span
        style="font-family: 微软雅黑, sans-serif;">甲方承诺已了解合同内容，对粗体字提示内容的含义已经乙方释义或甲方已完全了解并无异<span lang="EN-US">.</span>。</span><span
        lang="EN-US" style="font-size: 10pt; font-family: 微软雅黑, sans-serif;"><o:p></o:p></span></p>
    </div>
  </script>
</ion-view>

