<ion-view view-title="选课中心">

  <ion-header-bar class="freexf-bar lightgray">
    <div class="title">选课中心</div>
    <div class="bar-right">
      <a href="#/coursesearch" class="button-clear freexf-icon-search"></a>
    </div>
  </ion-header-bar>

  <ion-content class="freexf-courselist has-footer">
    <div class="freexf-coursecenter">
      <ul class="coursecenter-list">
        <li class="ccl-son" ng-repeat="(cindex,c) in ls_Category">
          <div ng-click="goCourseList(c)">{{c}}</div>
            <ul class="ccl-course-son-list">
                <li ng-repeat="(sindex,s) in ls_Second['ls_Second'+cindex] | formatname " ng-click="goCourseList(c,s=='全部'?'':s,'')">{{s}}</li>                
            </ul>           
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>
