<ion-view view-title="选课中心">
  <ion-nav-buttons side="right">
    <a href="#/coursesearch" menu-toggle="right" class="button button-clear freexf-icon-search"><i class="icon ion-ios-search"></i></a>
  </ion-nav-buttons>
  <ion-content class="freexf-courselist has-footer">
    <div class="freexf-coursecenter">
      <ul class="coursecenter-list">
        <li class="ccl-son">
          <div class="English" ng-click="goCourseList(Category1[0])">{{Category1[0]}}</div>
        </li>
        <ul class="ccl-course-son-list">
          <li  ng-repeat="a in Category2[0]" ng-click="goCourseList(Category1[0],a)">{{a}}</li>
        </ul>
        <li class="ccl-son">
          <div class="zhongxiaoxue" ng-click="goCourseList(Category1[1])">{{Category1[1]}}</div>
        </li>
        <ul class="ccl-course-son-list">
          <li ng-repeat="b in Category2[1]" ng-click="goCourseList(Category1[1],b)">{{b}}</li>
        </ul>
        <li class="ccl-son">
          <div class="duoyuzhong" ng-click="goCourseList(Category1[2])">{{Category1[2]}}</div>
        </li>
        <ul class="ccl-course-son-list">
            <li ng-repeat="c in Category2[2]" ng-click="goCourseList(Category1[2],c)">{{c}}</li>
        </ul>
        <li class="ccl-son">
          <div class="kuaijizhiye" ng-click="goCourseList(Category1[3])">{{Category1[3]}}</div>
        </li>
        <ul class="ccl-course-son-list">
            <li ng-repeat="d in Category2[3]" ng-click="goCourseList(Category1[3],d)">{{d}}</li>
        </ul>
        <li class="ccl-son">
          <div class="kaoyan" ng-click="goCourseList(Category1[4])">{{Category1[4]}}</div>
        </li>
        <ul class="ccl-course-son-list">
            <li ng-repeat="e in Category2[4]" ng-click="goCourseList(Category1[4],e)">{{e}}</li>
        </ul>
        <li class="ccl-son">
          <div class="xingqu" ng-click="goCourseList(Category1[5])">{{Category1[5]}}</div>
        </li>
        <ul class="ccl-course-son-list">
            <li ng-repeat="f in Category2[5]" ng-click="goCourseList(Category1[5],f)">{{f}}</li>
        </ul>
      </ul>
      </ul>
    </div>
  </ion-content>
</ion-view>
