<ion-view view-title="搜索课程" scroll-watch-tab>
  <ion-header-bar default-header-bar class="freexf-bar lightgray">
    <div class="bar-left">
      <button class="button-clear freexf-back freexf-left" default-nav-back-button ng-click="goBack()">
        <i class="icon freexf-goback"></i>
      </button>
    </div>
    <div class="bar-center freexf-search">
      <input type="text" placeholder="搜索课程" id="searchVal" ng-model="searchString.value"/>
      <button class="button-clear freexf-close" ng-click="ClearAll()"></button>
    </div>
    <div class="bar-right">
      <button class="button-clear freexf-search-span" ng-click="getResult();"><span>搜索</span></button>
    </div>
  </ion-header-bar>

  <ion-content lazy-scroll>

    <div class="freexf-classmodule-header-nav" ng-show="!isSearch">
      <h2>热门搜索</h2>
      <ul>
          <li ng-repeat="h in hotList"><a href="javascript:void(0);" ng-click="getResult(h)">{{h}}</a></li>
      </ul>
    </div>

    <div class="freexf-nocontent" ng-show="courseList&&courseList.length<=0">
      <img src="img/course/nocontent.png"/>
      <p>没有搜索到相关课程</p>
    </div>
    <!--课程列表-->
    <section ng-show="courseList&&courseList.length>0">
      <div class="list freexf-classmodule">
        <div class="item item-thumbnail-left" ng-repeat="item in courseList" ng-click="toCourseDate(item.ProductId)">
          <img ng-src="{{item.image}}" image-lazy-src="{{item.image}}"/>
          <div class="courseItem-tit">
            <h2>{{item.ProductName}}</h2>
            <p class="new">
              <i ng-show="item.teachername" ng-init="isTea=(item.teachername=='')?true:false" class="teaName " >讲师：{{item.teachername}}&nbsp;&nbsp;</i>
              <span  class="course-count " ng-class={countNew:isTea}  >课时数：{{item.hour}}&nbsp;&nbsp; 有效期：{{item.validity}}</span>
            </p>

            <p class="new"><span>{{item.price|xufen}}</span><em ng-show="item.price| xufenshow">学分</em></p>
          </div>
        </div>
      </div>
      <div class="freexf-nullmsg" ng-show="!uppageshow">没有更多!</div>
    </section>
    <ion-infinite-scroll ng-if="uppageshow" on-infinite="doRefresh()" immediate-check="false" distance="1%"></ion-infinite-scroll>

  </ion-content>

</ion-view>
