<ion-view view-title="{{Category1}}">

  <ion-nav-buttons side="right">
    <a href="#/coursesearch" menu-toggle="right" class="button button-clear freexf-icon-search">
    	<i class="icon ion-ios-search"></i>
    </a>
  </ion-nav-buttons>
  <ion-content>
  		<div class="freexf-classmodule-header-nav">
  			<div class="freexf-courseNav" ng-class="{active:languageclass}" ng-click="languageClassShow()">全部</div>
            <div class="freexf-coursesort">
                <div>
                    <div class="active" ng-click="courseSort($event)">综合</div>
                    <div ng-click="courseSort($event)">最近</div>
                    <div ng-click="courseSort($event)">学分</div>
                </div>
            </div>
  			<div class="freexf-languageclass" ng-show="languageclass">
  				<ul>
  					<li class="active" ng-click="category($event)" date-category="全部">全部</li>
  					<li ng-repeat="c in categorys" ng-click="category($event)">{{c}}</li>
  				</ul>
  			</div>
  		</div>
  		<!--课程列表-->
  		<div class="list freexf-classmodule" ui-view="classmodule">
  		</div>
  </ion-content>

</ion-view>
<script type="text/javascript">
    //$('.freexf-coursesort').click(function () {
    //    $('.freexf-coursesort').removeClass('active');
    //    $(this).addClass('active');
    //})
    //$('.freexf-languageclass li').click(function () {
    //    $(this).addClass('active').siblings().removeClass('active');
    //});
</script>

