<ion-view view-title="{{GroupName}}">
  <ion-header-bar default-header-bar class="freexf-bar lightgray">
    <div class="bar-left">
      <button class="button-clear freexf-back freexf-left" default-nav-back-button ng-click="goBack()">
        <i class="icon freexf-goback"></i>
      </button>
    </div>
    <div class="title">{{GroupName}}</div>    
    <div class="bar-right">
        <button class="button-clear freexf-consult"><span>咨询</span></button>
    </div>
  </ion-header-bar>
  <ion-content lazy-scroll class="freexf-bg-gray">
      <div class="practiceExam-test">      
          <!-- 单选题 -->
          <div ng-repeat="(index,q) in QuestionList" ng-if="index>=currentQuestionNum-1&&index<currentQuestionNum" ng-hide="isGroupPaper">
              <h4>{{q.Type|filterTitle}}</h4>
             <div><i>{{currentQuestionNum}}.</i>
                <p ng-bind-html="q.Question|filterQuestion"></p>
              </div>
              <ul class="practiceExam-question">
                  <li ng-repeat="(x,o) in q.OptionStringList">{{x|optionsFilter}}.{{o}}</li>
              </ul>
              <ul class="practiceExam-options" ng-if="q.Type==1">  
                  <li ng-repeat="(y,o) in q.OptionStringList" ng-class="{active:y==idx[0]}" ng-click="selectIt($event,currentQuestionNum)">{{y|optionsFilter}}</li>
              </ul>
              <ul class="practiceExam-options" ng-if="q.Type==2">
                  <li ng-repeat="(y,o) in q.OptionStringList" ng-class="{active:y==idx[y]}" ng-click="selectIts($event,currentQuestionNum)">{{y|optionsFilter}}</li>
              </ul>
              <ul class="practiceExam-options" ng-if="q.Type==3">
                  <li ng-class="{active:0==idx[0]}" ng-click="selectIt($event,currentQuestionNum)">是</li>
                  <li ng-class="{active:1==idx[0]}" ng-click="selectIt($event,currentQuestionNum)">否</li>
              </ul>
          </div>
          <!-- 组合题 -->
          <div ng-show="isGroupPaper">
              <h4>组合题</h4>
              <p ng-bind-html="GroupQuestion|filterQuestion"></p>
              <div ng-repeat="(index,q) in QuestionList">
                  <div><i>{{currentQuestionNum+index}}.</i><span ng-bind-html="q.Question|filterQuestion"></span></div>
                  <ul class="practiceExam-question">
                      <li ng-repeat="(x,o) in q.OptionStringList">{{x|optionsFilter}}.{{o}}</li>
                  </ul>
                  <ul class="practiceExam-options" ng-if="q.Type==1">
                      <li ng-repeat="(y,o) in q.OptionStringList" ng-class="{active:y==idx[index][0]}" ng-click="selectIt($event,currentQuestionNum+index)">{{y|optionsFilter}}</li>
                  </ul>
                  <ul class="practiceExam-options" ng-if="q.Type==2">
                      <li ng-repeat="(y,o) in q.OptionStringList" ng-class="{active:y==idx[index][y]}" ng-click="selectIts($event,currentQuestionNum+index)">{{y|optionsFilter}}</li>
                  </ul>
                  <ul class="practiceExam-options" ng-if="q.Type==3">
                      <li ng-class="{active:0==idx[index][0]}" ng-click="selectIt($event,currentQuestionNum+index)">是</li>
                      <li ng-class="{active:1==idx[index][0]}" ng-click="selectIt($event,currentQuestionNum+index)">否</li>
                  </ul>
                  <div class="practiceExam-analysis" ng-if="analysis">
                      <!-- 组合题解析 -->
                      <div class="practiceExam-testNumber" ng-show="isGroupPaper">
                          <div class="practiceExam-testNumber-title"><p>解析</p></div>
                          <div>
                              <h4>正确答案：{{q.Answer|fillterAnswer}}</h4>
                              <p ng-bind-html="q.Explaination|filterQuestion"></p>
                          </div>
                      </div>    
                  </div>
              </div>
          </div>                 
      </div>
      <div class="practiceExam-analysis" ng-if="analysis">
          <!-- 单题解析 -->
          <div class="practiceExam-testNumber"ng-repeat="(index,a) in analysisiList" ng-if="index>=currentQuestionNum-1&&index<currentQuestionNum" ng-hide="isGroupPaper">
              <div class="practiceExam-testNumber-title"><p>解析</p></div>
              <div>
                  <h4>正确答案：{{a.Answer|fillterAnswer}}</h4>
                  <p ng-bind-html="a.Explaination|filterQuestion"></p>
              </div>
          </div>                
      </div>   
      <div class="practiceExam-textBtnGroup">
          <button ng-click="lastQuestion()" ng-hide="first">上一题</button>
          <button ng-click="nextQuestion()" ng-hide="last">下一题</button>
          <button ng-click="submitPaper()" ng-if="!analysis" ng-hide="submit">提交</button>
      </div>   
      <div class="practiceExam-testNumber">
          <div class="practiceExam-testNumber-title"><p>选题<span>总共{{listNum}}题</span></p></div>
          <ion-scroll direction='x' scrollbar-x='false'>
              <ul class="row paper-Number">                  
              </ul>
          </ion-scroll>
      </div>
  </ion-content>
    <!-- 提交成功完成度答对率提示 -->
        <div class="popup-container practiceExam submit-success popup-showing active" ng-class="cssClass" ng-show="successTip">
            <div class="popup">
                <div class="popup-head">
                    <h3 class="popup-title">提交成功</h3> 
                </div>
                <div class="popup-body" style="padding-bottom:10%;">
                    <div>
                        <span>{{GroupName}}      共{{listNum}}题</span>
                        <div id="round-chart" style="width:150px;height:80px;margin: 10px auto 0;"></div>
                    </div>
                </div>
                <div class="popup-buttons"><!-- ngRepeat: button in buttons -->
                    <button ng-click="goBack()" class="button button-default" ng-class="button.type || 'button-default'"><img src="img/practiceExam/icon-backlist.png">返回列表</button>
                    <button ng-click="goPaper()" class="button button-default" ng-class="button.type || 'button-default'"><img src="img/practiceExam/icon- analysis.png">解析</button>
                    <button ng-click="reset()" class="button go-answer" ng-class="button.type || 'button-default'"><img src="img/practiceExam/icon-reset.png">重做</button>
                </div>
            </div>
        </div>
</ion-view>

