/* Empty. Add your own CSS if you like */
*{font-family: "微软雅黑";}
.freexf-course-tabs.tabs{
	position: relative;
}
.freexf-course.tabs-striped.tabs-color-balanced .tab-item.tab-item-active,
.freexf-course.tabs-striped.tabs-color-balanced .tab-item.active, 
.freexf-course.tabs-striped.tabs-color-balanced .tab-item.activated{
  margin-top: 1px;
	border-bottom-width: 2px;
	color: #1ab554;
	border-top-width:0;
}
.freexf-course.tabs-striped.tabs-color-balanced .tab-item{
	color: #323232;
	max-width: 50%;
}
/**/
.freexf-coursedetail .freexf-courseinfo{
	padding: 10px 6% 0;
}
.freexf-coursedetail .freexf-courseinfo h1{
	font-weight: bold;
}
.freexf-coursedetail .freexf-courseinfo span{
	display: inline-block;
	color:#878787;
	width:31.5%;
}
.freexf-coursedetail .freexf-courseinfo i{
	display: inline-block;
	color:#323232;
}
.freexf-coursedetail .freexf-courseinfo .freexf-credit{
	font-size: 22px;
	color: #ef473a;
	padding-right: 5px;
}
.freexf-coursedetail .list>.item{
	position: relative;
	padding: 20px 7%;
}
.freexf-coursedetail .list>.item:before{
	content: "";
	width: 12px;
	height: 12px;
	position: absolute;
	left: 0;
	top: 23px;
	background: #1ab554;
	z-index: 999;
}
.freexf-coursedetail .list>.item:after{
	content: "";
	width: 8px;
	height: 8px;
	position: absolute;
	left: 8px;
	top: 25px;
	background: #1ab554;
	z-index: 999;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
.freexf-coursedetail .list .item{
	border: none;
}
.freexf-coursedetail .list .item h2,
.freexf-coursedetail .list .item p{
	overflow: hidden;
  white-space: normal;
  color: #878787;
}
.freexf-coursedetail .list .item p.freexf-fontspace2{
	text-indent: 2em;
}
.freexf-coursedetail .list .item h2{
	margin-bottom: 10px;
	color: #323232;
}
.freexf-coursedetail .list .item h2:before{

}
.freexf-coursedetail .list .item h2 span{
	padding-left: 7px;
	color: #dddddd;
}

