/* Empty. Add your own CSS if you like */
/**{font-family: "微软雅黑";}*/
/*.bg-img.course{background: url(../img/publicbg/course.png) no-repeat;}*/
.freexf-course-tabs.tabs{
	position: relative;
}
.freexf-course.tabs-striped.tabs-color-balanced .tab-item.tab-item-active,
.freexf-course.tabs-striped.tabs-color-balanced .tab-item.active,
.freexf-course.tabs-striped.tabs-color-balanced .tab-item.activated{
  margin-top: 1px;
	border-bottom-width: 2px;
	color: #1ab554;
	border-top-width:0;
}
.freexf-course.tabs-striped.tabs-color-balanced .tab-item{
	color: #323232;
	max-width: 50%;
	font-size: 15rem;
}
/**/
.freexf-coursedetail .freexf-courseinfo{
	padding: 15px 0 5px 5%;
	background: #fff;
}
.freexf-coursedetail .freexf-courseinfo h3{font-size: 15rem;margin-bottom: 15px;}
.freexf-coursedetail .freexf-courseinfo h1{
	font-weight: bold;
}
.freexf-coursedetail .freexf-courseinfo span{
	display: inline-block;
	color:#878787;
	width:30%;
	font-size: 12.5rem;
	top: 2px;
}
.freexf-coursedetail .freexf-courseinfo i{
	display: inline-block;
	color:#323232;
}
.freexf-coursedetail .freexf-courseinfo .freexf-credit{
	font-size: 19rem;
	color: #EA4E00;
	padding-right: 5px;
}
.freexf-creditbox{
	position: relative;
}
.freexf-creditbox p:last-of-type{
	position: absolute;
	right: 0;
	top: -6px;
	width: 80px;
	height: 100%;	
	padding-top: 0px;
	font-size: 14rem;
	color: #878787;
	margin-bottom: 0;
}
.freexf-creditbox p i.icon{
	display: inline-block;
	width: 27px;
	height: 25px;
	background:url(../img/publicbg/course.png) no-repeat;
	background-position:-119px -2px;
	background-size:300px auto;
	position: relative;
  	top: 5px;
}
.freexf-creditbox p.active i.icon{
	display: inline-block;
	width: 27px;
	height: 25px;
	background:url(../img/publicbg/course.png) no-repeat;
	background-position:-119px -32px;
	background-size:300px auto;
	position: relative;
  	top: 5px;
}
.freexf-coursedetail .list{
	border-top: 1px #EEEEEE solid;
}
.freexf-coursedetail .list>.item{
	position: relative;
	padding: 20px 7%;
}
.freexf-coursedetail .list>.item:before{
	content: "";
	width: 12px;
	height: 12px;
	position: absolute;
	left: 0;
	top: 23px;
	background: #1ab554;
	z-index: 999;
}
.freexf-coursedetail .list>.item:after{
	content: "";
	width: 8px;
	height: 8px;
	position: absolute;
	left: 8px;
	top: 25px;
	background: #1ab554;
	z-index: 999;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
.freexf-coursedetail .list .item,
.freexf-courselist .item{
	border: none;
}
.freexf-coursedetail .list .item h2{
	overflow: hidden;
    white-space: normal;
    color: #878787;
}
.freexf-coursedetail .list .item p{
	overflow: hidden;
    white-space: normal;
	color: #969696;
}
.freexf-coursedetail .list .item h2{
	margin-bottom: 10px;
	color: #323232;
}
.freexf-coursedetail .list .item h2:before{

}
.freexf-coursedetail .list .item h2 span{
	padding-left: 7px;
	color: #dddddd;
}
.freexf-Backdrop{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.7);
	z-index: 8;
}
.freexf-startplay{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.4);
	z-index: 8;
}
.freexf-startplay button{
	width: 75px;
	height: 75px;
	border-radius:50% ;
	border: 2px #DDDDDD solid;
	background: rgba(0,0,0,0.1);
	color: #ddd;
	/*font-size: 24px;*/
	margin-top: 18%;
}
.freexf-startplay button i{
	position: relative;
	left: 5px;
}
.freexf-startplay .button .icon:before,
.freexf-startplay .button .icon-left:before,
.freexf-startplay .button .icon-right:before{
	font-size: 60px;
}
img.freexf-blur{
	filter: blur(4px);
	-webkit-filter: blur(4px);
}
.freexf-Backdrop p{
	color: #fff;
	font-size: 17.6rem;
	margin-top: 15%;
}
.freexf-Backdrop button{
	width: 35%;
	height: 22%;
	font-size: 15.6rem;
	font-weight: bold;
	background: rgba(0,0,0,0);
	color: #1ab554;
	border: 2px #1ab554 solid;
	margin-top: 4%;
}

.freexf-collectcourse{
	font-size: 13rem;
	position: absolute;
	padding: 8px 20px 8px 5px;
	right: 12px;
	bottom: 10px;
	color: #fff;
	z-index: 10;
	background: rgba(0,0,0,.3);
	border: none;
	/*height: 35px;
	line-height: 35px;*/
}
.freexf-collectcourse i{
	display: inline-block;
	margin-right: 20%;
}
.freexf-buy{
	background:#1AB554;
	color: #fff;
	width: 100%;
	height: 45px;
	border: none;
	font-size: 17rem;
}
.freexf-courselist{
	padding: 20px 0;
	background: #fff;
}
.freexf-courselist .item{
	padding: 0;
}
.freexf-courseitem .item,
.freexf-democlass .item{
	padding: 10px 0;
}
.freexf-courselist>.item{
	padding: 0 0;
}
.freexf-courselist .freexf-course-title{
	background: #eeeeee;
	height: 35px;
	line-height: 35px;
}
.freexf-courselist .freexf-course-title.item{
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 18px;
}
.freexf-courselist .item p{
	width: 74%;
	padding-left: 20px;
	height: 24px;
	line-height: 24px;
}
.freexf-courselist .freexf-course-title p{
	width: 80%;
	/*margin-left: 20px;*/
	height: 35px;
	line-height: 35px;
	color: #323232;
}
/*.freexf-play.button {
	width: 22px;
	height: 22px;
	border-radius: 50%;
	border: 1px green solid;
	color: green;
	min-width:22px;
	min-height: 22px;
	top: 18.5px;
	right: 22px;
}
.freexf-test .freexf-play.button{
	border: 1px #ddd solid;
	color: #ddd;
}
.freexf-play.button i{
	position: absolute;
	top: -2px;
	left: 8.5px;
	font-size: 11rem;
}*/
.freexf-play.button{background: rgba(0,0,0,0);min-width:30px;min-height: 30px;right: 22px;}
.freexf-play.button:after{
	background: url(../img/publicbg/course.png) no-repeat;
	background-position: -50px 0px;
	background-size: 300px auto;
}
.freexf-play.button.freexf-test-play:after{
	background: url(../img/publicbg/course.png) no-repeat;
	background-position: -86px 0px;
	background-size: 300px auto;
}
.freexf-courseitem .item,
.freexf-democlass .item {
	margin-left:40px ;
	position: relative;
	overflow: visible;
}
.freexf-courseitem .item:first-of-type{padding-top: 20px;}
.freexf-courseitem .item:first-of-type .button:after{top: 5px!important;}
.freexf-courseitem .item:first-of-type p:before{top: 26px!important;}
.freexf-courseitem .item:first-of-type:before{top:22px!important;}
.freexf-courseitem .item:after{
	border-left: 1px #1AB554 solid;
	float: left;
	content: '';
	display: block;
	height: 70px;
	width: 0px;
	position: absolute;
	top: 0px;
	left: 0px;
}
/*.freexf-courseitem li.item:first-of-type,
.freexf-democlass li.item:first-of-type{
	margin-top: 10px;
}*/
.freexf-courseitem .item p,
.freexf-democlass .item p{
	overflow: hidden;
  	text-overflow: ellipsis;
 	white-space: nowrap;
 	color: #878787; 	
}
.freexf-courseitem .item>p,
.freexf-democlass .item>p{
	font-size: 13rem;
}
.freexf-courseitem .item.intheclass p:before{
	content: "";
	width:0px;
	height:0px;
	position: absolute;
	left: -5px;
	top: 16px;
	border-right: 5px solid transparent;
	border-top: 5px solid #1AB554;
	border-left: 5px solid #1AB554;
	border-bottom: 5px solid transparent;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius: 5px;
	-webkit-transform: rotate(-45deg);
	z-index: 101;
}
.freexf-courseitem .item.endclass p:before{
	content: "";
	width:0px;
	height:0px;
	position: absolute;
	left: -5px;
	top: 16px;
	background: #1AB554;
	border-right: 5px solid transparent;
	border-top: 5px solid #1AB554;
	border-left: 5px solid #1AB554;
	border-bottom: 5px solid transparent;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius: 5px;
	-webkit-transform: rotate(-45deg);
	z-index: 101;
}
.freexf-democlass .item{
	border-left: none;
}
.freexf-courseitem .item:before{
	content: "";
	display: inline-block;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	border: 1px #ddd solid;
	position: absolute;
	left: -9px;
	top: 12px;
	z-index: 100;
	background: #fff;
}
.freexf-courseitem .item.endclass:before{
	border: 1px #1AB554 solid;
}.freexf-courseitem .item.intheclass:before{
	border: 1px #1AB554 solid;
}
.freexf-courseitem .item:last-of-type:after{
	height: 23px;
}
.freexf-consult.button:after{
	content: "";
	height: 26px;
	background:url(../img/publicbg/course.png) no-repeat;
	background-position: 3px 1px;
	background-size: 300px auto;
}
.freexf-consult.button{
	font-size: 10rem!important;
	padding-top: 10px!important;
	color: #1AB455;
	margin-right: 8px!important;
}
.freexf-collect:before{
	display: inline-block;
	content: "";
	width: 16px;
	height: 15px;
	background:url(../img/publicbg/course.png) no-repeat;
	background-position: -35px -7px;
	background-size: 300px auto;
	position: relative;
	top: 2px;
	left: 2px;
}
/*.ion-ios-consult{
	display: inline-block;
	width: 30px;
  	height: 30px;
}
.ion-ios-consult:before{
	display: inline-block;
	width: 100%;
	height: 100%;
    speak: none;
	content: "";
	background:url(../img/publicbg/course.png) no-repeat;
	background-position: 0 0;
	background-size: 10% auto;
}*/
/*购买协议*/
.freexf-agreement.active .popup{
	width: 80%;
}
.freexf-agreement.active .popup .popup-head{
	background: #1AB554;
}
.freexf-agreement.active .popup .popup-head h3{
	color: #fff;
}
.freexf-agreement.active .popup .popup-buttons{
	padding:10px 0 0;
	min-height: 50px;
}
.freexf-agreement.active .popup .popup-buttons .button{
	min-height: 30px;
}
.freexf-agreement .freexf-agreement{
	padding:0 2%;
	max-height:300px;
	overflow-y: scroll;
}
.freexf-agreement .freexf-agreement h5{
	text-align: center;
}

/**/
.freexf-courselist{
  background-color: #ffffff;
}
.freexf-coursecenter .coursecenter-list .ccl-son{
  padding:2px 12px;
  margin-top: 10px;
  border-bottom: 1px solid #eeeeee;
}
.freexf-coursecenter .coursecenter-list .ccl-son div{
  color:#000;
  font-size: 14rem;
  position: relative;
}
.freexf-coursecenter .coursecenter-list .ccl-son div:after{
  content: "";
  display: block;
  width:30px;
  height:30px;
  position: absolute;
  right: 0px;
  bottom: -5px;
  background-image: url(../img/course/courselist.png);
  background-size: 300px 300px;
  float: left;
}
.English:after{
  background-position: -30px 0px;
}
.zhongxiaoxue:after{
  background-position: 0px 0px;
}
.duoyuzhong:after{
  background-position: -60px 0px;
}
.kuaijizhiye:after{
  background-position: 0px -30px;
}
.kaoyan:after{
  background-position: -30px -30px;
}
.xingqu:after{
  background-position: -60px -30px;
}
.freexf-coursecenter .ccl-course-son-list>li>a{
  line-height:37px;
  color:#969696;
  font-size: 11rem;
  margin-top:10px;
  text-decoration: none;
}
.freexf-coursecenter .ccl-course-son-list>li{
  float: left;
  width:25%;
}
.freexf-coursecenter .ccl-course-son-list{
  padding: 5px 12px;
  overflow: hidden;
}
/*六大板块*/
.freexf-classmodule-header-nav .freexf-courseNav.active{color: #969696;}
.freexf-classmodule-header-nav{background: #fff;color: #969696;position: relative;}
.freexf-classmodule-header-nav div{display: inline-block;height:30px;line-height: 30px;font-size: 13rem;color: #969696;width: 45px;}
.freexf-classmodule-header-nav div:nth-child(1){position: relative;left: 10px;}
.freexf-classmodule-header-nav div:nth-child(2){position: absolute;right: 120px;}
.freexf-classmodule-header-nav div:nth-child(3){position: absolute;right: 60px;}
.freexf-classmodule-header-nav div:nth-child(4){position: absolute;right: 5px;}
.freexf-classmodule-header-nav div:nth-child(2).active:after,
.freexf-classmodule-header-nav div:nth-child(3).active:after,
.freexf-classmodule-header-nav div:nth-child(4).active:after{
	content: "";
	width: 15px;
	height: 30px;
	display: block;
	background: url(../img/publicbg/course.png) no-repeat;
	background-position:-107px -57px ;
	background-size: 470px auto;
	position: absolute;
	top: 0;
	right: 8px;
}
.freexf-classmodule-header-nav div:nth-child(2):after,
.freexf-classmodule-header-nav div:nth-child(3):after,
.freexf-classmodule-header-nav div:nth-child(4):after{
	content: "";
	width: 15px;
	height: 30px;
	display: block;
	background: url(../img/publicbg/course.png) no-repeat;
	background-position:-155px -57px ;
	background-size: 470px auto;
	position: absolute;
	top: 0;
	right: 8px;
}

.freexf-courseNav:after{  
	width: 6px;
	height: 6px;
	border: 1px solid #969696;
	content: '';
	display: block;
	position: absolute;
	top: 11px;
	right: 5px;
	border-width: 0 0 1.5px 1.5px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
.freexf-courseNav.active:after{
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}
.freexf-classmodule .item{
	border-color: #eee;
}
.freexf-classmodule .item h2{
	font-size: 14rem;
}
.freexf-classmodule .item p{
	color: #969696;
	font-size: 12rem;
}
.freexf-classmodule .item p span{
	color: #EA4C00;
	font-size: 15rem;
	margin-right: 5px;
}
.freexf-classmodule .item-thumbnail-left, 
.freexf-classmodule .item-thumbnail-left .item-content{
	padding-top: 5%;
	padding-left: 35%;
	/*min-height: 92.5px;*/
}
.freexf-classmodule .item-thumbnail-left > img:first-child, 
.freexf-classmodule .item-thumbnail-left .item-image, 
.freexf-classmodule .item-thumbnail-left .item-content > img:first-child, 
.freexf-classmodule .item-thumbnail-left .item-content .item-image{
	top: 20%;
	width: 29%;
	height: auto;
	max-width: 30%;
	max-height: none;
}
.freexf-classmodule .item.active, 
.freexf-classmodule .item.activated, 
.freexf-classmodule .item-complex.active .item-content, 
.freexf-classmodule .item-complex.activated .item-content, 
.freexf-classmodule .item .item-content.active, 
.freexf-classmodule .item .item-content.activated{
	background: #fff;	
}
.freexf-classmodule-header-nav .freexf-languageclass{position: relative;width: 100%;height: auto;border-top: 1px #eee solid;}
.freexf-classmodule-header-nav .freexf-languageclass ul li{text-align: left;width: 32%;display: inline-block;}
.freexf-classmodule-header-nav .freexf-languageclass ul li a{line-height: 35px;text-align: left;display: inline-block;padding: 0 5px 0 0;font-size: 12.5rem;color: #969696;}
.freexf-classmodule-header-nav div.active,
.freexf-classmodule-header-nav .freexf-languageclass ul li.active a{color: #1AB455;}
/*搜索*/
.freexf-back-left:before{
	width: 25px;
	height: 25px;
	display: block;
	content: "";
	background:url(../img/publicbg/course.png) no-repeat;
	background-position: -30px -30px;
	background-size: 300px auto;
}
.freexf-icon-search.button:after{
	width: 25px;
	height: 25px;
	display: block;
	content: "";
	background:url(../img/publicbg/course.png) no-repeat;
	background-position: 0px -30px;
	background-size: 300px auto;
	position: absolute;
	top: 0;
	left: 0;
}
.freexf-icon-search .ion-ios-search:before{content: "";width: 25px;height: 25px;}
.freexf-search{position: relative;}
.freexf-search input{width:100%;margin-top:5px;padding:0 30px 0 15px;}
.freexf-search .freexf-close{width:30px;position: absolute;right: 0;top: 0;background: rgba(0,0,0,0) url(../img/publicbg/course.png) no-repeat;border: none;background-position:-152px 2px;background-size:300px auto;}
.freexf-nocontent{height: ;padding: 30px 0 55px;text-align: center;background: #fff;}
.freexf-nocontent img{width: 24%;}
.freexf-nocontent p{margin-top: 10px;margin-bottom: 0;color: #878787;font-size: 13rem;}
.freexf-classmodule-header-nav{background: #fff;}
.freexf-classmodule-header-nav h2{background: #eee;height: 30px;line-height: 30px;color: #323232;padding: 0 10px;font-size: 14rem;margin: 0;}
.freexf-classmodule-header-nav ul{background: #fff;padding: 0 10px;}
.freexf-classmodule-header-nav ul li{display: inline-block;text-align: center;height: 30px;line-height: 30px;}
.freexf-classmodule-header-nav ul li a{padding: 0 15px;color: #878787;}
