.practiceExam-test,
.practiceExam-testNumber{background:#fff;padding:5px 3%;}
.practiceExam-test{margin-bottom:5px;}
.practiceExam-test h4,
.practiceExam-test>div>div{font-size:17rem;margin-bottom:1em;}
.practiceExam-test>div>div{position:relative;padding-left:1.5em;}
.practiceExam-test h4,
.practiceExam-test>div>div i{color:#1ab554;}
.practiceExam-test>div>div i{position:absolute;left:0;}
.practiceExam-testdiv>div>div>span{float:left;}
.practiceExam-question,
.practiceExam-options{margin-left:1em;margin-right:1em;clear:both;}
.practiceExam-question li{line-height:2.4em;}
.practiceExam-options li{display:inline-block;width:3em;height:3em;line-height:3em;text-align:center;border:1px #cccccc solid;margin:2em 1.5em 2em 0;}
.practiceExam-options li.active{background:#1ab554;;color:#fff;border:none;}
.practiceExam-textBtnGroup{position:relative;padding:0 1em;margin-bottom:2em;height: 35px;margin-top: 1em;}
.practiceExam-textBtnGroup button:nth-child(2){position:absolute;right:1em;bottom:0;}
.practiceExam-textBtnGroup button:last-of-type{position:absolute;right:1em;bottom:0;}
.practiceExam-textBtnGroup button{width:7em;height:2.5em;line-height:2.5em;border:1px #1ab554 solid;background:#fff;}
.practiceExam-testNumber-title{position:relative;margin:1em 0 2em;}
.practiceExam-testNumber-title:after{width:6px;height:15px;background:#1ab554;content:"";position:absolute;left:-15px;top: 15%;}
.practiceExam-testNumber-title p{font-size:17rem;position:relative;padding-left:3px;}
.practiceExam-testNumber-title p:before{width:11px;height:11px;content:"";background:#1ab554;position:absolute;left:-14px;-webkit-transform:rotate(45deg);transform:rotate(45deg);bottom: 4px;}
.practiceExam-testNumber-title span{font-size:12rem;position:absolute;right:13px;color:#969696;}
.practiceExam-testNumber-title p:after{content:"";width:0.5em;height:0.5em;border:1px #969696 solid;border-top:none;border-left:none;position:absolute;right:0;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);top:0.4em;}
.practiceExam-testNumber ul{}
.practiceExam-testNumber ul li{display:inline-block;width:5em;height:4em;line-height:3.3em;text-align:center;position:relative;max-width: 5em;margin-right: 5px;}
.practiceExam-testNumber ul li.active{border:1px #1ab554 solid;background:url(../img/practiceExam/icon-right.png) no-repeat;background-size:40% auto;background-position:right bottom;color:#1ab554;}
.practiceExam.active {
    position: fixed !important;
    background: rgba(0, 0, 0, .51);
    z-index: 9999999;
}
.practiceExam.active .popup {
    width: 80%;
    background-color: rgba(255, 255, 255, 1);
}
.practiceExam.active .popup .popup-head {
    background: #1AB554;
    height:35px;
    line-height: 35px;
    padding: 0;
}
.practiceExam.active .popup .popup-head h3{
    line-height:35px;
    color:#fff;
}
.practiceExam.active .popup .popup-body{
    text-align:center;
    padding:45px 13% 30px;
}
.practiceExam.active .popup .popup-body .tip-warning span{
    position:relative;
    padding-left:35px;
    line-height:25px;
    display:inline-block;
    width: 100%;
}
.practiceExam.active .popup .popup-body .tip-warning span:before{
    content:"";
    width:25px;
    height:25px;
    background:url(../img/practiceExam/icon-warning.png) no-repeat;
    background-size:100% auto;
    position:absolute;
    left:0;
    top:0;
}
.practiceExam.active .popup .popup-buttons{
    padding: 0 25px 40px;
}
.submit-success.practiceExam.active .popup .popup-buttons{
    padding: 0 7px 40px;
}
.submit-success.practiceExam.active .popup .popup-buttons button{
    margin-right: 7px;
}
.submit-success.practiceExam.active .popup .popup-buttons button img{
    width:15px;
    height:auto;
    position:relative;
    top:3px;
    left:-2px;
}
.practiceExam.active .popup .popup-buttons button{
    background:#1ab554;
    height:30px;
    line-height:30px;
    color:#fff;
    min-height:30px;
    min-width:45px;
    margin-right: 25px;
    font-size:14rem;
    padding:0;
}
.practiceExam.active .popup .popup-buttons button:last-of-type{
    margin-right:0;
    background:#969696;
}
.practiceExam.active .popup .popup-buttons button.go-answer{
    background:#ea4c00;
}