
.codeBox,.small-idcode-button{
	height: 100%;
	width:25%;
	margin-right:2%;
	margin-top: -3px;
	float: right;
}
.small-idcode-button{
	background-color:#1AB554;
	border:none;
	color:#fff;
	height: 33.5px;
	font-size: 11rem;
}
.CodeButton>a{
	color:#1AB554;
	font-size:10rem;
	
}
.item-input input.inputCode {
	width:72%;
	float: left;
}
.register .button-balanced{
	background-color:#1ab554;
	
}
.freexf-checkbox .agreement{
	color:#1ab554;
}
.modifypassword .icon.ion-ios-telephone{
	margin-right: 15px;
	float: right;	
}
.modifypassword .icon.ion-ios-telephone:before{
	content: "";
	width:14px;
	height: 22.5px;
	background-image: url(/mobile/www/img/user/user-icon.png);
	background-size:100px 50px;
	background-position:0px -76px ;
	margin-top:9px;
	float: right;
}
.modifypassword .fixNumber{
	display: inline-block;
	width:100%;	
}
.modifypassword .has-input,.modifypassword .fixNumber{
	color:#aaa;
}
.modifypassword .fixNumber{
	font-weight: normal;
	font-size:14rem;	
}
.forgetpassword .input-label,.modifypassword .input-label,.register .input-label{
	font-size: 14rem;
	
}
input::-moz-placeholder, { color:#ddd; }
input::-webkit-input-placeholder { color:#ddd; }
input:-ms-input-placeholder { color:#ddd; } /* ie */
input:-moz-placeholder { color:#ddd; }

.forgetpassword .input-label.has-input,.modifypassword .input-label.has-input,.register .input-label.has-input{
	color:#323232;
}
.codeBox{
	margin-top:-20px;
}
.MyAcc-main{
	display: table;
	width:100%;
}
.MyAcc-top{
	height: 160px;
	background-color: #1ab655;
	color:#fff;
	padding-top: 40px;
}
.MyAcc-top p{
	text-align:center;
	margin-top:15px;
}
.MyAcc-top .MyAcc-setting,.MyAcc-top .MyAcc-icon,.button-clear.search .freexf-search:before,
.mycourse .btnGrounp .button-stable:before,.mycourse .btnGrounp .button-assertive:before,
.progress-bar .full:before,.progress-bar .full:after,.already .MyAcc-top .edit,
.mynav-group .nav-bar{
	background-image: url(/mobile/www/img/user/user-icon.png);
	background-size:300px 300px;
}
.MyAcc-top .MyAcc-setting{
	width:22px;
	height:22px;
	background-position: -20px 0px;
	float: right;
	margin:-15px 30px auto auto;
}

.MyAcc-top .MyAcc-icon{
	width:56px;
	height: 56px;
	background-position: -50px 0px;
	margin:auto;

}
.MyAcc-title{
	height: 30px;
	border-top:1px solid #46aa6a;
	background-color: #127638;
	-webkit-box-shadow:0 0 1px #17a14b;  
	-moz-box-shadow:0 0 1px #17a14b;  
	box-shadow:0 0 1px #17a14b;  
}
.MyAcc-title span{
	display: block;
	width:50%;
	font-size: 9rem;
	float: left;
	text-align: center;
	line-height: 30px;
}
.MyAcc-title span>i{
	margin-left:10px;
}

.myaccount{
	background-color: #eee;	
}
.MyAcc-content .TipLogo.fail{
	margin-left:38.4%;
	margin-top: 38px;
}
.MyAcc-content p{
	float: left;
	margin-top:17px;
	margin-bottom:15px;
    text-align: center;
    width: 100%;
    color: #1ab554;
}
.button-clear.search .freexf-search:before{
	content: "";
	width:18px;
	height: 18px;
	background-position:-13px -20px; ;
	float: left;
	
}
.myorder .OrderMessage{
	height: 22.5px;
	line-height: 23px;
	font-size: 9rem;
	border-bottom: 1px solid #d3d3d3;
}
.myorder .OrderMessage .order{
	text-align: center;
	float: left;
	color:#969696;
	
}

.OrderMessage .state{
	color:#EA4C00;float: right;
}
.orderList .OrderDetail{
	padding:0px 2%;
	
}
.order.number:after{
	content: '';
	border-right: 1px solid #d3d3d3;
	height:9px ;
	margin:6.5px 3px auto 3px; 
	float: right;
	display: block;
}
.courseDetail-list{
	border-bottom: 1px solid #ccc;
	padding:2.3% 0px;
	display: table;
	width: 100%;
	clear: both;
}
.courseDetail-list .image{
	width:40%;
	float: left;
}
.courseDetail-words {
	
	width: 54%;
	font-size:10rem;
	margin-left:2.3%;
	float: left;
}
.courseDetail-words h2{
	font-size:15rem;
	margin-bottom: 5px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.myorder .orderList,.mycourse .orderList{
	display: table;
	width:100%;
	margin-bottom: 5px;
	background-color: #fff;
	-moz-box-shadow:0 1px 1px rgba(0,0,0,0.2); 
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.2); 
	box-shadow:0 1px 1px rgba(0,0,0,0.2); 
}
.myorder .btnGrounp{
	height: 37.5px;
	margin:5.5px;
	float: right;
}
.myorder .btnGrounp .button{
	height: 36px;
	width:70px;
	border:1px solid #969696;
	border-radius: 0px;
	font-size: 11rem;
	line-height: 36px;
	padding:0px;
	color:#969696;
	min-height: 36px;
}
.myorder .btnGrounp .button.button-assertive{
	border:1px solid #EA4C00;
	color: #fff;
}
ion-content{
	background-color: #eee;;
	
}
.courseDetail-words .courseList{
	color:#969696;
}
.courseDetail-words .courseList .name{margin-bottom:0px;}
.courseDetail-words .courseList span{
	margin-right: 2%;
}
.courseDetail-words .courseList .xf>font{
	font-size: 15rem;
	color:#EA4C00;
	padding-right:2px;
}
.mycourse .btnGrounp .button{
	padding:0px;
	background:#fff;
	color:#323232;
	font-size: 15rem;
}
.mycourse .btnGrounp {
	float: right;
}
.mycourse .btnGrounp button{
	min-height: 44px;
}
.mycourse .btnGrounp .button.button-stable{
	margin-right: 21px;	
}
.mycourse .btnGrounp .button-stable:before,.mycourse .btnGrounp .button-assertive:before{
	content: '';
	margin-top: 12px;
	margin-right: 5.5px;
	float: left;
}
.mycourse .btnGrounp .button-stable:before{
	margin-top: 10px;
	width:16px;
	height: 17px;
	background-position: -26px -39px;
}
.mycourse .btnGrounp .button-assertive:before{
	content: '';
	width:16px;
	height: 16px;
	background-position:-1px -39px;
	
}
.progress{
	height: 45px;
	border-bottom: 1px solid #ccc;
}
.progress .progress-bar{
	width:50%;
	line-height: 45px;
	color:#969696;
	font-size: 9rem;
	float: left;
}
.progress .progress-bar .full{
	width:53.25%;
	margin-right: 2.75%;
	border-radius: 6px;
    height: 10px;
	background-color: #c9c9c9;
	margin-top:14px;
	position: relative;
	float: left;
}
.progress-bar .full .finish{
	
	background-color: #1ab554;
	position: absolute;
	z-index:2;
	width:50%;
	height: 100%;
}
.progress-bar .full:before,.progress-bar .full:after{
	content: '';
	width:6px;
	height: 13px;
	background-position: -1px -57px;
	position: absolute;
	
	z-index:3
}
.progress-bar .full:before{
	left:0px;
}
.progress-bar .full:after{
	background-position: -5px -57px;
	right: 0px;
	
}
.orderList .image.floor{
	position: relative;
}
.orderList .image.floor:before{
	content:'课程已失效';
	margin: auto;
	color:#fff;
	position: absolute;
	text-align: center;
	width: 100%;
	margin-top: 20%;
	font-size: 17rem;
	z-index: 11;
	
}
.orderList .image.floor:after{
	content:'';
	background-color:rgba(0,0,0,0.4);
	clear: both;
	position: absolute;
	z-index: 10;
	height: 100%;
	width:100%;
	top:0;
	
	
}
.courseDetail-list .image img{
	display: block;
}
