html {
  font-size: 1px
}

.freexf-goback {
  background-image: url(../img/publicbg/goBack.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-top: 7px;
}

.freexf-padding-24 {
  padding: 10px 12px !important;
}

.bg-img {
  background-size: 300px 300px;
}

.bg-img.demo {
  background-image: url(../img/publicbg/demo.png)
}

.freexf-padding-left-5 {
  padding-left: 5px !important;
}

.freexf-margin-bottom-30 {
  margin-bottom: 30px !important;
}

.bar.freexf-bar-lightgray {
  border-color: #eeeeee;
  background-color: #eeeeee;
  background-image: linear-gradient(0deg, #eeeeee, #eeeeee 50%, transparent 50%);
  color: #323232;
}

.button.freexf-button-balanced {
  background-color: #1ab554;
  color: #fff;
}

.button.freexf-button-balanced.activated {
  background-color: #009235;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
}

.freexf-checkbox {
  position: relative;
  padding-left: 15px;
  font-size: 13rem;
}

.freexf-checkbox > .label-checkbox {
  position: absolute;
  width: 100%;
  top: 50%;
  right: 8px;
  left: 0;
  z-index: 3;
  margin-top: -9px;
}

.freexf-checkbox .label-checkbox input {
  position: relative;
  display: block;
  border: 0;
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none;
}

.freexf-checkbox .label-checkbox input:before {
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #969696;
  font-size: 13rem;
  content: "\f372";
}

.freexf-checkbox .label-checkbox input:checked:before {
  color: #1ab554;
  content: "\f373";
}

.freexf-clear:after {
  display: table;
  content: '';
  clear: both;
}

.freexf-right {
  float: right;
}

.freexf-left {
  float: left;
}

.freexf-font-13 {
  font-size: 13rem;
}

.freexf-logo {
  padding: 10px 0;
  height: 100%;
}

.freexf-hometype {
  background-color: #fff;
  text-align: center;
}

.freexf-hometype > .row:not(:first-child) {
  margin-top: 5px;
}

.freexf-hometype a {
  text-decoration: none;
  font-size: 12px;
  color: #323232;
}

.freexf-hometype i {
  display: block;
  margin: 0 auto;
  -webkit-background-size: cover;
  background-size: cover;
  width: 45px;
  height: 45px;
}

.freexf-hometype span {
  margin-top: 5px;
  display: inline-block;
}

.freexf-hometype .yinyu {
  background-image: url('../modules/home/img/dӢ��.png');
}

.freexf-hometype .zhongxiaoxue {
  background-image: url('../modules/home/img/d��Сѧ.png');
}

.freexf-hometype .duoyuzhong {
  background-image: url('../modules/home/img/d������.png');
}

.freexf-hometype .kuaiji {
  background-image: url('../modules/home/img/d���.png');
}

.freexf-hometype .kaoyan {
  background-image: url('../modules/home/img/d����.png');
}

.freexf-hometype .xinqu {
  background-image: url('../modules/home/img/d��Ȥ.png');
}

.freexf-jinpin, .freexf-yingyu {
  background-color: #fff;
  padding: 15px 12px;
  margin-top: 5px;
  font-size: 10px;
}

.freexf-jinpin .row, .freexf-jinpin .col {
  padding: 0;
  overflow: hidden;
}

.freexf-jinpin > .row:last-child {
  height: 80px;
  margin-top: 10px;
}

.freexf-jinpin .rcol {
  height: 97px;
  display: inline-block;
}

.freexf-jinpin img {
  height: 100%;
  width: 100%;
}

.freexf-yingyu {

}

.freexf-yingyu .freexf-col {
  float: left;
  width: 50%;
}

.freexf-yingyu .freexf-col:nth-child(even) {
  padding-left: 5px;
}

.freexf-yingyu .freexf-col > div:first-child {
  height: 97px;
  overflow: hidden;
}

.freexf-yingyu .freexf-col > div:first-child + div {
  margin-top: 7px;
}

.freexf-yingyu .freexf-col img {
  height: 100%;
}

.freexf-yingyu .freexf-col .ti {
  font-size: 10px;
  color: #323232;
  margin-bottom: 7px;
}

.freexf-yingyu .freexf-col .l30 {
  margin-left: 30px;
}

.freexf-yingyu .freexf-col .xufen {
  font-size: 14px;
  color: #ea4e00;
  margin-right: 5px;
}

.freexf-yingyu .freexf-col .keshi {
  color: #323232;
}

.freexf-yingyu .freexf-col em {
  color: #969696;
}
