div, span, em, strong, p, h1, h2, h3 {
  line-height: 1;
}

#ion-scroll {
  margin-top: 0;
}

.freexf-font-15 {
  font-size: 15rem;
}

.freexf-bg-gray {
  background-color: #EEE;
}

.freexf-slide img {
  width: 100%;
  height: 100%;
  max-height: 132px;
}

.freexf-padding-24 {
  padding: 10px 12px !important;
}

.freexf-padding-24 {
  padding: 10px 12px !important;
}

.freexf-padding-left-5 {
  padding-left: 5px !important;
}

.freexf-margin-bottom-30 {
  margin-bottom: 30px !important;
}

.freexf-bar-nav {
  height: 22px;
  top: -30px;
  padding: 0;
  text-align: center;
  transition: top 0.25s ease;
}

.freexf-bar-nav .row {
  padding: 0;
}

.freexf-bar-nav .row > a {
  border-right: 1px solid #e8e8e8;
  font-size: 12px;
}

.freexf-bar-nav .row > a.active {
  background-color: #D4D4D4;
}

.freexf-bar-nav .freexf-row span:first-child {
  border: 0;
}

.freexf-bar-nav .freexf-row a:last-child {
  display: inline-block;
  width: 100%;
  height: 0;
  overflow: hidden;
  border: 0;
}

.bar.freexf-bar-lightgray {
  border-color: #eeeeee;
  background-color: #eeeeee !important;
  background-image: linear-gradient(0deg, #eeeeee, #eeeeee 50%, transparent 50%) !important;
  color: #323232;
}

.bar.freexf-bar-write {
  background-color: #fff !important;
  background-image: linear-gradient(0deg, #fff, #fff 50%, transparent 50%) !important;
}

.button.freexf-button-balanced {
  background-color: #1ab554;
  color: #fff;
}

.button.freexf-button-balanced.activated {
  background-color: #009235;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
}

.freexf-checkbox {
  position: relative;
  padding-left: 15px;
  font-size: 13rem;
}

.freexf-checkbox > .label-checkbox {
  position: absolute;
  width: 100%;
  top: 50%;
  right: 8px;
  left: 0;
  z-index: 3;
  margin-top: -9px;
}

.freexf-checkbox .label-checkbox input {
  position: relative;
  display: block;
  border: 0;
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none;
}

.freexf-checkbox .label-checkbox input:before {
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #969696;
  font-size: 13rem;
  content: "\f372";
}

.freexf-checkbox .label-checkbox input:checked:before {
  color: #1ab554;
  content: "\f373";
}

.freexf-clear:after {
  display: table;
  content: '';
  clear: both;
}

.freexf-right {
  float: right;
}

.freexf-left {
  float: left;
}

.freexf-font-13 {
  font-size: 13rem;
}

.freexf-logo {
  padding: 10px 0;
  height: 100%;
}

.freexf-hometype {
  background-color: #fff;
  text-align: center;
}

.freexf-hometype > .row:not(:first-child) {
  margin-top: 5px;
}

.freexf-hometype a {
  text-decoration: none;
  font-size: 12rem;
  color: #323232;
}

.freexf-hometype i {
  display: block;
  margin: 0 auto;
}

.freexf-hometype span {
  margin-top: 5px;
  display: inline-block;
}

.freexf-hometype .yinyu,
.freexf-hometype .zhongxiaoxue,
.freexf-hometype .kuaiji,
.freexf-hometype .kaoyan,
.freexf-hometype .xinqu,
.freexf-hometype .duoyuzhong {
  background-image: url('../img/publicbg/home.png');
  background-repeat: no-repeat;
  background-size: 739px auto;
  width: 45px;
  height: 45px;
}

.freexf-hometype .yinyu {
  background-position: -638px 0;
}

.freexf-hometype .zhongxiaoxue {
  background-position: -694px 0;
}

.freexf-hometype .duoyuzhong {
  background-position: -20px 0;
}

.freexf-hometype .kuaiji {
  background-position: -216px 0;
}

.freexf-hometype .kaoyan {
  background-position: -159px 0;
}

.freexf-hometype .xinqu {
  background-position: -498px 0;
}

.freexf-jinpin, .freexf-home-table {
  background-color: #fff;
  padding: 15px 12px;
  margin-top: 5px;
  font-size: 10rem;
}

.freexf-jinpin .row, .freexf-jinpin .col {
  padding: 0;
  overflow: hidden;
}

.freexf-title {
  font-size: 12rem;
  margin-bottom: 15px;
  height: 12px;
  line-height: 12px;
}

.freexf-title:before {
  content: '';
  height: 13px;
  width: 3px;
  background-color: #1AB554;
  float: left;
  border-radius: 2px;
  margin-right: 7px;
}

.freexf-title > .has-more {
  background-image: url('../img/publicbg/home.png');
  background-repeat: no-repeat;
  background-position: -262px 0;
  background-size: 493px auto;
  float: right;
  width: 8px;
  height: 100%;
  margin-left: 5px;
}

.freexf-jinpin > .row:last-child {
  height: 80px;
  margin-top: 10px;
}

.freexf-jinpin .lcol {
  display: inline-block;
  height: 200px;
}

.freexf-jinpin .rcol {
  display: inline-block;
  height: 97px;
  width: 100%;
}

.freexf-jinpin .rcol:last-child {
  margin-top: 5px;
}

.freexf-jinpin .jinpin-bottom {
  margin-top: 10px;
  display: inline-block;
}

.freexf-jinpin img, .freexf-home-table img {
  width: 100%;
  vertical-align: bottom;
}

.freexf-home-table {

}

.freexf-home-table .freexf-col {
  float: left;
  width: 50%;
}

.freexf-home-table .freexf-col:nth-child(n+3) {
  margin-top: 15px;
}

.freexf-home-table .freexf-col:nth-child(odd) {
  padding-right: 2.5px;
}

.freexf-home-table .freexf-col:nth-child(even) {
  padding-left: 2.5px;
}

.freexf-home-table .freexf-col > div:first-child {
  min-height: 93px;
  max-height: 130px;
  overflow: hidden;
}

.freexf-home-table .freexf-col > div:first-child + div {
}

.freexf-home-table .freexf-col .ti {
  font-size: 12rem;
  color: #323232;
  margin: 8px 0;
  word-wrap: normal;
  word-break: keep-all;
  text-overflow: ellipsis;
  overflow: hidden;
  overflow-wrap: normal;
  white-space: nowrap;
}

.freexf-home-table .freexf-col .r10 {
  margin-right: 10px;
}

.freexf-home-table .freexf-col .xufen {
  font-size: 15rem;
  color: #ea4e00;
  margin-right: 5px;
}

.freexf-home-table .freexf-col .keshi {
  color: #323232;
  font-size: 11rem;
}

.freexf-home-table .freexf-col em {
  color: #969696;
  font-size: 11rem;
}

.anchor-section-yingyu a,
.anchor-section-zhongxiaoxue a,
.anchor-section-duoyuzhong a,
.anchor-section-kuaiji a,
.anchor-section-xinqu a {
  color: #969696;
}

.anchor-section-yingyu .yingyu,
.anchor-section-zhongxiaoxue .zhongxiaoxue,
.anchor-section-duoyuzhong .duoyuzhong,
.anchor-section-kuaiji .kuaiji,
.anchor-section-xinqu .xinqu {
  color: #1ab554;
}

.freexf-tabs .tabs {
  height: 44px;
  line-height: 44px;
  padding-top: 0;
}

.platform-android .freexf-tabs .tabs {
  border-top: 1px solid #ddd !important;
}

.freexf-tabs .tabs .tab-title {
  font-size: 8rem;
  display: block;
  margin: 5px auto;
}

ion-tabs.freexf-tabs .tab-item.tab-item-active,
ion-tabs.freexf-tabs .tab-item.active,
ion-tabs.freexf-tabs .tab-item.activated {
  color: #1ab554;
  border: 0;
  margin-top: 0;
}

ion-tabs.freexf-tabs .tab-item.tab-item-active .freexf-icon-home,
ion-tabs.freexf-tabs .tab-item.active .freexf-icon-home,
ion-tabs.freexf-tabs .tab-item.activated .freexf-icon-home,
ion-tabs.freexf-tabs .tab-item.tab-item-active .freexf-icon-xuanke,
ion-tabs.freexf-tabs .tab-item.active .freexf-icon-xuanke,
ion-tabs.freexf-tabs .tab-item.activated .freexf-icon-xuanke,
ion-tabs.freexf-tabs .tab-item.tab-item-active .freexf-icon-user,
ion-tabs.freexf-tabs .tab-item.active .freexf-icon-user,
ion-tabs.freexf-tabs .tab-item.activated .freexf-icon-user {
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
}

ion-tabs.freexf-tabs .tab-item.tab-item-active .freexf-icon-home,
ion-tabs.freexf-tabs .tab-item.active .freexf-icon-home,
ion-tabs.freexf-tabs .tab-item.activated .freexf-icon-home {
  background-image: url('../img/home/icon-home@3x.png');
}

ion-tabs.freexf-tabs .tab-item.tab-item-active .freexf-icon-xuanke,
ion-tabs.freexf-tabs .tab-item.active .freexf-icon-xuanke,
ion-tabs.freexf-tabs .tab-item.activated .freexf-icon-xuanke {
  background-image: url('../img/home/icon-xuanke@3x.png');
}

ion-tabs.freexf-tabs .tab-item.tab-item-active .freexf-icon-user,
ion-tabs.freexf-tabs .tab-item.active .freexf-icon-user,
ion-tabs.freexf-tabs .tab-item.activated .freexf-icon-user {
  background-image: url('../img/home/icon-user@3x.png');
}

.freexf-icon-home-outline,
.freexf-icon-home,
.freexf-icon-xuanke-outline,
.freexf-icon-xuanke,
.freexf-icon-user-outline,
.freexf-icon-user {
  background-repeat: no-repeat;
  background-size: cover;
  width: 17px !important;
  height: 17px !important;
  box-sizing: content-box;
  margin: 6px auto 5px auto !important;
}

.freexf-icon-home-outline {
  background-image: url('../img/home/icon-home-outline@3x.png');
}

.freexf-icon-home {
  background-image: url('../img/home/icon-home@3x.png');
}

.freexf-icon-xuanke-outline {
  background-image: url('../img/home/icon-xuanke-outline@3x.png');
}

.freexf-icon-xuanke {
  background-image: url('../img/home/icon-xuanke@3x.png');
}

.freexf-icon-user-outline {
  background-image: url('../img/home/icon-user-outline@3x.png');
}

.freexf-icon-user {
  background-image: url('../img/home/icon-user@3x.png');
}

/*图片轮播状态样式*/

.freexf-slide .slider-pager {
  bottom: 15px;
}

.freexf-slide .slider-pager .slider-pager-page {
  width: 5px;
}

.freexf-slide .slider-pager .ion-record:before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 5px;
}
