.already .MyAcc-top .MyAcc-icon{
	margin-top: -10px;
	background-position: -50px -102px;
}
.already .MyAcc-top p {
	margin-top:5px;
}
.already .MyAcc-top{
	background-size: 100% auto;
	width:100%;
	background-image: url(../img/user/user-bg.png);
	height: 200px;
	position: relative;
	background-size: cover;
}
.already .MyAcc-title{
	position:absolute;
	height: 32.5px;
	bottom: 0px;
	width: 100%;
	background-color:rgba(0,0,0,0.4);
	box-shadow:none;
	border-top:none;
}
.already .MyAcc-top .name{
	font-size: 15rem;
}
.already .MyAcc-top .number{
	font-size: 9rem;
	border: 1px solid #fff;
	border-radius: 5px;
	width: 80px;
    margin: 0 auto;
}
.already .MyAcc-top .edit{
	width: 15px;
    height: 15.33px;
    background-position: -26px -57px;
	display: inline-block;
    margin-left: 10px;
}
.already .MyAcc-content{
	background-color: #fff;
    display: table;
    width:100%;
    min-width: 320px;
}
.MyAcc-content .mynav-group{
	padding:0px 12px;
	margin: 0 auto;
	padding-top: 15px;
	display: table-cell;
}
.MyAcc-content .mynav-group .nav{
	width:33.33%;
	float: left;
	text-align: center;
}
.mynav-group .nav-bar{
	width:45px;
	height: 45px;
	margin: 0 auto;

}
.mynav-group .nav-bar.myCourse{
	background-position:-50.33px -56.67px;
}
.mynav-group .nav-bar.myOrder{
	background-position:-180px -56.67px;
}
.mynav-group .nav-bar.myCollection{
	background-position:-236px -56.67px;
}
.mynav-group .nav p{
	margin-top:10px;
	margin-bottom: 12.5px;
	font-size: 12rem;
	color:#323232;
}
.course-block{
	clear: both;
	background: #fff;
	margin: 10px auto ;
    padding-left: 12px;
}

.course-block h2{
	font-size: 14rem;
	padding-top: 15px;
}
.course-block h2:before{
	content: '';
	width:2.5px;
	height: 13px;
	border:2.5px solid #1AB554;
	float: left;
	border-radius: 2px;
	margin-right: 7px;
}
.course-block .progress .progress-bar{
	width:100%;
	line-height: 10px;
}
.col-48 .content p{
	font-size: 8rem;
	color: #969696;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	margin: 0 0 5px;
}
.col-48 .content p>font,.recommend .col-48 .content p{
	font-size: 11rem;
	color:#323232;
}
.course-block .progress .progress-bar .full{
	width:58.25%;
	margin: 2px auto auto 2.5px;
}

.course-block .progress{
	border: none;
}

.row.course,.row.course{
	padding-left: 0px;
    margin-left: -5px;
}
.col-48{
	 -webkit-box-flex: 0;
    -webkit-flex: 0 0 48%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 48%;
    -ms-flex: 0 0 48%;
    flex: 0 0 48%;
    max-width: 48%;
}
.course-block .progress .progress-bar span{
	float: right;
	font-size: 9rem;
    color: #323232;
    margin-right: 2.5px;
}
.course-block.study .col.col-48{
	
	margin-bottom: 5px;
}
.course-block.study .col{
    padding: 0px 5px;
}
/*.row.course {
	margin-bottom: 7.5px;
}*/
.recommend .col-48 .content p{
	margin: 0;
}
